<div class="studentWrapper">
  <div class="sub-nav fixed-top" ng-init="tabActive = 'ksgl'">
    <ul class="nav nav-tabs">
      <li class="active">
        <a href="javascript:void(0)">
          我的视频
        </a>
      </li>
      <li class="pull-right" ng-show="showVideodeoPlay">
        <button type="button" class="btn btn-danger mt5 mr10" ng-click="backToVideoList()">视频列表</button>
      </li>
      <!--<li ng-class="{active: tabActive == 'ksgl'}" class="active">-->
        <!--<a href="javascript:void(0)">-->
          <!--我的收藏-->
        <!--</a>-->
      <!--</li>-->
      <!--<li ng-class="{active: tabActive == 'anks'}">-->
        <!--<a href="javascript:void(0)">-->
          <!--公共视频-->
        <!--</a>-->
      <!--</li>-->
    </ul>
  </div>
  <div class="tab-content mt50 hide">
    <div class="row" ng-hide="showVideodeoPlay">
      <ul class="media-list videoList">
        <li class="media" ng-repeat="video in videoData">
          <div class="media-left" ng-click="showVideo(video)">
            <a href="javascript:void(0)" class="media-left-a">
              <img class="media-object" ng-src="{{video.Detail.data[0].images_b[0]}}" style="width: 160px;height: 100px">
              <img src="images/play1.png" alt="" class="playIcon"/>
              <span class="shiChang" ng-bind="video.Duration | myLocalDate:'vd'"></span>
            </a>
          </div>
          <div class="media-body">
            <h4 class="media-heading"  ng-click="showVideo(video)">
              <a href="javascript:void(0)" class="videoName" ng-bind="video.VideoName"></a>
            </h4>
            <div class="videoInfo">
              <p ng-bind="video.OwnerName"></p>
              <p>
                <span ng-bind="video.CreateTime | date:'yyyy-MM-dd'"></span> | <span>录课</span>
              </p>
            </div>
          </div>
        </li>
      </ul>
      <div class="paging text-right mrp5">
        <ul class="pagination pagination-sm" ng-show="videoData.length">
          <li ng-class="{disabled: currentVideoPage == 1}">
            <a href ng-click="videoDistFun(1)">首页</a>
          </li>
          <li ng-class="{disabled: currentVideoPage == 1}">
            <a href
               ng-click="videoDistFun(prevPg = currentVideoPage > 1 ? currentVideoPage - 1 : 1)">
              上一页
            </a>
          </li>
          <li ng-repeat="pg in videoPages" ng-class="{active: currentVideoPage == pg}">
            <a href ng-click="videoDistFun(pg)">{{pg}}</a>
          </li>
          <li ng-class="{disabled: currentVideoPage == videoLastPage}">
            <a href
               ng-click="videoDistFun(nextPg = currentVideoPage < videoLastPage ? currentVideoPage + 1 : videoLastPage)">
              下一页
            </a>
          </li>
          <li ng-class="{disabled: currentVideoPage == videoLastPage}">
            <a href ng-click="videoDistFun(videoLastPage)">尾页</a>
          </li>
        </ul>
      </div>
    </div>
    <div class="row plr15" ng-show="showVideodeoPlay">
      <h4 class="videoTitle">
        <a href="javascript:void(0)" class="fz14" ng-click="backToVideoList()">视频列表</a>
        <span class="fz14"> > </span>
        <span ng-bind="selectVideo.VideoName"></span>
      </h4>
      <div class="videoPlayBox pull-left wp100">
        <div class="wp70 pull-left">
          <div id="videoBox"></div>
        </div>
        <div class="wp30 pull-left">
          <h5 class="xgspTitle">相关视频</h5>
          <ul class="media-list sideVideoList plr10">
            <li class="media" ng-repeat="video in relatedVideoData" ng-click="showVideo(video)">
              <div class="media-left">
                <a href="javascript:void(0)" class="media-left-a">
                  <img class="media-object" ng-src="{{video.Detail.data[0].images_b[0]}}" style="width: 80px;height: 50px">
                  <span class="shiChang" ng-bind="video.Duration | myLocalDate:'vd'"></span>
                </a>
              </div>
              <div class="media-body wp100">
                <h4 class="media-heading">
                  <a href="javascript:void(0)" class="videoName" ng-bind="video.VideoName"></a>
                </h4>
                <div class="videoInfo">
                  <span class="pull-left" ng-bind="video.OwnerName"></span>
                  <span class="pull-right"><span ng-bind="video.CreateTime | date:'yyyy-MM-dd'"></span> | <span>录课</span></span>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
