<!--导航-->
<div class="sub-nav fixed-top" ng-init="tabActive = 'stcy'">
  <ul class="nav nav-tabs">
    <li ng-class="{active: tabActive == 'stcy'}">
      <a href="javascript:void(0)" ng-click="getClassTest()">
        随堂测验
      </a>
    </li>
    <li ng-class="{active: tabActive == 'xjcy'}">
      <a href="javascript:void(0)" ng-click="addClassTest()">
        新建测验
      </a>
    </li>
    <li ng-class="{active: tabActive == 'kjgl'}">
      <a href="javascript:void(0)" ng-click="getKeJianList()">
        课件管理
      </a>
    </li>
  </ul>
</div>
<!-- 考务的容器 开始-->
<div class="tab-content wp90 mlp5">
  <table class="table table-striped">
    <tr class="active">
      <th>测验名称</th>
      <th width="220px" class="text-center">创建时间</th>
      <th width="220px" class="text-center">测验状态</th>
      <th width="100px" class="text-center">测试结果</th>
      <th width="80px" class="text-center">二维码</th>
      <th width="80px" class="text-center">操作</th>
    </tr>
    <tr ng-repeat="ct in classTestList">
      <td ng-bind="ct['测验名称'] + '(参与人数:' + (ct['参与人数'] || 0) + ')'"></td>
      <td class="text-center" ng-bind="ct['创建时间'] | localDate:'ww'"></td>
      <td class="text-center">
        <label class="radio-inline">
          <input type="radio" ng-model="ct['状态']" value="1" ng-click="classTestSwitch(ct)"> 开启
        </label>
        <label class="radio-inline">
          <input type="radio" ng-model="ct['状态']" value="0" ng-click="classTestSwitch(ct)"> 关闭
        </label>
      </td>
      <td class="text-center"><a href="javascript:void(0)" ng-click="classTestDetail(ct['测验ID'])">查看</a></td>
      <td class="text-center"><a href="javascript:void(0)" ng-click="makeErWeiMa(ct)">生成</a></td>
      <td class="text-center">
        <span class="glyphicon glyphicon-trash co676767 cursorPointer" ng-click="deleteClassTest(ct['测验ID'])" title="删除"></span>
      </td>
    </tr>
  </table>
  <div class="paging text-right" ng-if="classTestList.length">
    <ul class="pagination pagination-sm">
      <li ng-class="{disabled: pageParam.activePage == 1}">
        <a href ng-click="classTestDist(1)">首页</a>
      </li>
      <li ng-class="{disabled: pageParam.activePage == 1}">
        <a href
           ng-click="classTestDist(prevPg = pageParam.activePage > 1 ? pageParam.activePage - 1 : 1)">
          上一页
        </a>
      </li>
      <li ng-repeat="pg in pageParam.disPage" ng-class="{active: pageParam.activePage == pg}">
        <a href ng-click="classTestDist(pg)">{{pg}}</a>
      </li>
      <li ng-class="{disabled: pageParam.activePage ==  pageParam.lastPage}">
        <a href
           ng-click="classTestDist(nextPg = pageParam.activePage < pageParam.lastPage ? pageParam.activePage + 1 : pageParam.lastPage)">
          下一页
        </a>
      </li>
      <li ng-class="{disabled: pageParam.activePage == pageParam.lastPage}">
        <a href ng-click="classTestDist(pageParam.lastPage)">尾页</a>
      </li>
    </ul>
  </div>
  <!--弹出层-->
  <div class="popup-wrap" ng-show="kjParams.showErWeiMa">
    <div class="popup-wrap-inner">
      <div class="pwi-header plr10 text-center">
        <span class="title">课序号管理</span>
      </div>
      <div class="pwi-body plr10">
        <p class="text-center mt10" ng-bind="kjParams.sltTest['测验名称']"></p>
        <div id="QRCodeBox" class="text-center" style="margin-top: 30px">
        </div>
        <p class="text-center mt15">
          测验编号：<span ng-bind="kjParams.sltTest['标签']"></span>
        </p>
      </div>
      <div class="pwi-footer plr10 text-center">
        <a id="downloadEwm" class="btn btn-success mt5" href="" download="{{kjParams.sltTest['测验名称'] + '.png'}}">
          保存图片
        </a>
        <button type="button" class="btn btn-danger mt5 ml15" ng-click="closePopup()">关闭</button>
      </div>
    </div>
  </div>
</div>
