<!--导航-->
<div class="sub-nav fixed-top" ng-init="tabActive = 'stcy'">
  <ul class="nav nav-tabs">
    <li ng-class="{active: tabActive == 'stcy'}">
      <a href="javascript:void(0)" ng-click="getClassTest()">
        随堂测验
      </a>
    </li>
    <li ng-class="{active: tabActive == 'xjcy'}">
      <a href="javascript:void(0)" ng-click="addClassTest()">
        新建测验
      </a>
    </li>
    <li ng-class="{active: tabActive == 'kjgl'}">
      <a href="javascript:void(0)" ng-click="getKeJianList()">
        课件管理
      </a>
    </li>
    <li class="pull-right" ng-show="classTestDtl">
      <button class="btn btn-danger mt5 mr10" ng-click="backToList()">返回列表</button>
    </li>
  </ul>
</div>
<!-- 考务的容器 开始-->
<div class="tab-content wp90 mlp5">
  <div id="paperWrap" class="panel-body paperWrap">
    <h3 class="text-center m0" ng-bind="classTestDtl['测验名称']"></h3>
    <div class="pull-left wp100" ng-repeat="tx in classTestDtl['测验题目']" repeat-done>
      <h4 ng-bind="cnNumArr[$index] + '、' + tx['大题名称']"></h4>
      <ul class="list-unstyled testList">
        <li ng-repeat="tm in tx['题目']">
          <div class="item-cont positionRe daTiName">
            <h3 class="item-tigan" ng-bind-html="($index + 1) + '、' + tm['题目内容']['题干'] | outTiGan"></h3>
            <!-- 单选题 -->
            <div class="item-tizhi-wrap">
              <div class="item-tizhi" ng-repeat="tz in tm['题目内容']['选项'] track by $index">
                <p>
                  <span ng-cloak ng-class="{clRed:tm['题目内容']['答案'][0]==$index}">{{'(' + letterArr[$index] + ')'}}</span>
                  <span class="tiZhiSpan" ng-bind-html="tz"></span>
                </p>
                <p class="percentage">
                  <span class="percentage-bar" style="width: {{((tm['选项分析'][$index]['人数']/classTestDtl['参与人数'])*100).toFixed(1) + '%'}}"></span>
                  <span class="percentage-info">
                    答题人数：{{tm['选项分析'][$index]['人数']}}/{{classTestDtl['参与人数']}}，
                    占比：{{((tm['选项分析'][$index]['人数']/classTestDtl['参与人数'])*100).toFixed(1) + '%'}}
                  </span>
                </p>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
