<!--大纲-->
<div id="dagangListWrap" class="subDashboard keJianDaGang">
  <div class="plr10">
    <h2 class="sdb-title">题库默认大纲</h2>
    <select class="form-control" ng-model="kjParams.slt_dg" ng-change="getDgZsdData(kjParams.slt_dg)"
            ng-options="dg['知识大纲ID'] as dg['知识大纲名称'] for dg in dgList">
      <option value="">请选择大纲</option>
    </select>
  </div>
  <div class="pointTree">
    <ul class="list-unstyled levelOne" id="daGangList">
      <li ng-repeat="nd1 in kowledgeList['节点']">
        <div class="foldBtn pull-left" ng-class="{unfoldBtn: nd1.fld}" ng-show="nd1['子节点'].length" ng-click="toggleChildNode(nd1)"></div>
        <div class="checkbox">
          <label><input type="checkbox" name="point" ng-checked="nd1.ckd" ng-click="toggleSelection(nd1)"/>
            {{letterArr[$index]}}.{{nd1['知识点名称']}}
          </label>
        </div>
        <ul class="list-unstyled" ng-show="nd1.fld">
          <li ng-repeat="nd2 in nd1['子节点']">
            <div class="foldBtn pull-left" ng-class="{unfoldBtn: nd2.fld}" ng-show="nd2['子节点'].length" ng-click="toggleChildNode(nd2)"></div>
            <div class="checkbox">
              <label><input type="checkbox" name="point" ng-checked="nd2.ckd" ng-click="toggleSelection(nd2)"/>
                {{smlLteArr[$index]}}.{{nd2['知识点名称']}}
              </label>
            </div>
            <ul class="list-unstyled" ng-show="nd2.fld">
              <li ng-repeat="nd3 in nd2['子节点']">
                <div class="foldBtn pull-left" ng-class="{unfoldBtn: nd3.fld}" ng-show="nd3['子节点'].length" ng-click="toggleChildNode(nd3)"></div>
                <div class="checkbox">
                  <label>
                    <input type="checkbox" name="point" ng-checked="nd3.ckd" ng-click="toggleSelection(nd3)"/>
                    {{$index+1}}.{{nd3['知识点名称']}}
                  </label>
                </div>
                <ul class="list-unstyled levelFour" ng-show="nd3.fld">
                  <li ng-repeat="nd4 in nd3['子节点']">
                    <div class="checkbox">
                      <label>
                        <input type="checkbox" name="point" ng-checked="nd4.ckd" ng-click="toggleSelection(nd4)"/>
                        {{$index+1}}.{{nd4['知识点名称']}}
                      </label>
                    </div>
                  </li>
                </ul>
              </li>
            </ul>
          </li>
        </ul>
      </li>
    </ul>
  </div>
</div>
<!--题目列表-->
<div class="content">
  <!--题型和难度DOM元素， 开始-->
  <div class="kmTxWrap fixed-top">
    <div>
      <div class="kmTxBox">
        <ul class="list-inline kmTxNdList pull-left getTiXingIdList">
          <li>
            <a href="javascript:void(0)" ng-click="getTiXingId()" ng-class="{active:txSelectenIdx == 0}">全部题型</a>
          </li>
          <li ng-repeat="kmtx in kmtxList">
            <a href="javascript:void(0)" ng-click="getTiXingId(kmtx['题型ID'])" ng-class="{active:txSelectenIdx == kmtx['题型ID']}">{{kmtx['题型名称']}}</a>
          </li>
        </ul>
      </div>
      <div class="nanduBox">
        <label class="checkbox-inline mr10 active" style="padding-left: 10px;">
          题目难度
        </label>
        <label class="checkbox-inline mr15" ng-repeat="nd in nanDuList">
          <input type="checkbox" value="nd['难度ID']" ng-checked="nd.ckd" ng-click="getNanDuId(nd)"> {{nd['难度名称']}}
        </label>
      </div>
    </div>
    <div class="addNewTiMuBtn">
      <button type="button" class="btn btn-danger" ng-click="backToAddPage()">
        返回
      </button>
    </div>
  </div>
  <!--题型和难度DOM元素， 结束-->
  <div class="contentWraps">
    <div class="row">
      <div class="total-test clearfix">
        <div class="pull-left" style="margin-top: 4px;">
          共<strong ng-bind="kjParams.tiMuLen || 0"></strong>题
        </div>
        <div class="pull-right">
          <div class="pull-left">
            <select ng-model="kjParams.tiKuId" class="form-control pull-right h30 mr5" ng-change="qryTiMuByTiKu()"
                    ng-options="tk['题库ID'] as tk['题库名称'] for tk in tiKuList">
              <option value="">所有题库</option>
            </select>
          </div>
        </div>
      </div>
      <ul class="list-unstyled testList" id="testList">
        <li ng-repeat="tm in timuDetails" class="delete_{{tm['题目ID']}} pr130" repeat-done>
          <div class="item-sub-title pull-left">
            <p class="knowledge-point">
              题型：<span ng-bind="tiXingArr[tm['题型ID']-1]"></span>
            </p>
            <p class="knowledge-point-zsd">
              知识点：<span ng-repeat="zsd in tm['知识点']">【{{zsd['知识点名称']}}】</span>
            </p>
            <p class="level-num">
              难易度：<span class="pull-right level-star-{{tm['难度']}}"></span>
            </p>
            <p class="knowledge-point">
              出题人：<span class="pull-right" ng-bind="tm['出题人姓名']"></span>
            </p>
            <p class="knowledge-point">
              录题人：<span class="pull-right" ng-bind="tm['录题人姓名']"></span>
            </p>
            <p class="knowledge-point">
              ID：<span class="pull-right" ng-bind="tm['题目ID']"></span>
            </p>
            <p>
              创建时间：{{tm['创建时间'] | localDate | date : 'yyyy-MM-dd'}}
            </p>
            <div class="editWrap">
              <button type="button" class="btn btn-primary" ng-click="addToPaper(tm)" ng-hide="tm.ckd">加入试卷</button>
              <button type="button" class="btn btn-default" ng-click="removeOut(tm)" ng-show="tm.ckd">移出试卷</button>
            </div>
          </div>
          <div class="item-cont" bn-slide-show slide-show-target="answer-cont" slide-show-idx="{{$index}}" title="显示答案">
            <h3 class="item-tigan" ng-bind-html="tm['题目内容']['题干']"></h3>
            <div class="item-tizhi-wrap">
              <p class="item-tizhi" ng-repeat="tz in tm['题目内容']['选项'] track by $index">
                <span ng-cloak>{{'(' + letterArr[$index] + ')'}}</span>
                <span class="tiZhiSpan" ng-bind-html="tz"></span>
              </p>
            </div>
          </div>
          <div class="answer-cont">
            <div class="positionRe">
              <span class="daAnLabel">答案：</span>
              <div class="daAnBox" ng-bind-html="tm['题目内容']['答案']"></div>
            </div>
            <div class="positionRe" ng-show="tm['备注']">
              <span class="daAnLabel">备注：</span>
              <div class="daAnBox" ng-bind-html="tm['备注']"></div>
            </div>
          </div>
        </li>
      </ul>
      <div class="paging text-right" ng-if="pageParam.pageArr.length">
        <ul class="pagination pagination-sm">
          <li ng-class="{disabled: pageParam.activePage == 1}">
            <a href ng-click="pageGetData(1)">首页</a>
          </li>
          <li ng-class="{disabled: pageParam.activePage == 1}">
            <a href ng-click="pageGetData(prevPg = pageParam.activePage > 1 ? pageParam.activePage - 1 : 1)">
              上一页
            </a>
          </li>
          <li ng-repeat="pg in pageParam.disPage" ng-class="{active: pageParam.activePage == pg}">
            <a href ng-click="pageGetData(pg)">{{pg}}</a>
          </li>
          <li ng-class="{disabled: pageParam.activePage == pageParam.lastPage}">
            <a href ng-click="pageGetData(nextPg = pageParam.activePage < pageParam.lastPage ? pageParam.activePage + 1 : pageParam.lastPage)">
              下一页
            </a>
          </li>
          <li ng-class="{disabled: pageParam.activePage == pageParam.lastPage}">
            <a href ng-click="pageGetData(pageParam.lastPage)">尾页</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
