<div class="loading-box text-center" ng-show="loadingImgShow">
  <img src="/images/loading.gif" alt="" width="64" height="64"/>
  <p>
    数据处理中……
  </p>
</div>
<div class="innerWrap innerWrapperSubDs kaowuWrapper">
  <!--导航-->
  <div class="sub-nav fixed-top" ng-init="tabActive = 'stcy'">
    <ul class="nav nav-tabs">
      <li ng-class="{active: tabActive == 'stcy'}">
        <a href="javascript:void(0)" ng-click="getClassTest()">
          随堂测验
        </a>
      </li>
      <li ng-class="{active: tabActive == 'xjcy'}" ng-if="kjParams.addNewTest">
        <a href="javascript:void(0)" ng-click="addClassTest()">
          新建测验
        </a>
      </li>
      <li ng-class="{active: tabActive == 'cycj'}">
        <a href="javascript:void(0)" ng-click="getTestScore()">
          测验成绩
        </a>
      </li>
      <li ng-class="{active: tabActive == 'kjgl'}">
        <a href="javascript:void(0)" ng-click="getKeJianList()">
          课件管理
        </a>
      </li>
      <li class="pull-right">
        <a href="https://mp.weixin.qq.com/s?__biz=MzIzNDUyMDA5Nw==&mid=100000051&idx=1&sn=f2f161f81989a7adf01078e143162408&chksm=68f46a7d5f83e36bf6bb5b1bfc7c41efb70002331805d1f5ab036b76673ee46c368a6ba8226a&mpshare=1&scene=1&srcid=0303bG5BmsOGyOriFdx0ghpe&key=7e63e04d0d58c048c312bd723333aad4fb06a3c39903cf074ef822feb8a57d5bcd8fc65a3fc7bf4aa066470e1eafab7dde11d910bed7c02a92861641348bfeb8fd289fd1af86d032244d5c1388ef0fa5&ascene=0&uin=MTg5NTA5MDU4MQ%3D%3D&devicetype=iMac+MacBookPro11%2C1+OSX+OSX+10.12.3+build(16D32)&version=12020010&nettype=WIFI&fontScale=100&pass_ticket=qb8ltkall36dgPExPBlZjUJ8vwEkusbhGKQ6O57hOT5P3tv1Q6qkkOToRVyj7IkZ" target="_blank">随堂测验使用指南</a>
      </li>
    </ul>
  </div>
  <!-- 容器 开始-->
  <div class="tab-content wp90 mlp5" ng-include="txTpl">

  </div>
</div>
