<h4 class="pb10 bdb">
  <span class="cYell">{{kwParams.dftKmName['科目名称']}}</span><span>新建考试</span>
  <em style="font-size:12px" class="ml15">带 <i>*</i>为必填项</em>
</h4>
<div class="row editKaoShi">
  <form class="form-horizontal" name="kaoshiForm">
    <div class="form-group">
      <label class="col-sm-2 control-label">考试名称<i>*</i></label>
      <div class="col-sm-6">
        <input type="text" name="ksName" class="form-control" placeholder="考试名称" required autofocus="true"
               ng-model="kaoShiZuData['考试组名称']"/>
      </div>
      <div class="col-sm-4">
        <p ng-show="kaoshiForm.ksName.$error.required" class="help-block">考试名称不能为空！</p>
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-2 control-label">考试时长(分钟)<i>*</i></label>
      <div class="col-sm-2">
        <input type="text" name="ksTime" class="form-control" placeholder="时长" required maxlength="3"
               onkeyup="this.value=this.value.replace(/\D/g,'')" ng-model="kwParams.ksLen"
               onafterpaste="this.value=this.value.replace(/\D/g,'')"/>
      </div>
      <div class="col-sm-4">
        <p ng-show="kaoshiForm.ksTime.$error.required" class="help-block">考试时长(纯数字)不能为空！</p>
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-2 control-label">在线报名<i>*</i></label>
      <div class="col-sm-6">
        <label class="radio-inline">
          <input type="radio" value="2" ng-model="kaoShiZuData['报名方式']" ng-click="getBaoMingCont()"/>是
        </label>
        <label class="radio-inline">
          <input type="radio" value="1" ng-model="kaoShiZuData['报名方式']" ng-click="getBaoMingCont()"/>否
        </label>
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-2 control-label">考试设置</label>
      <div class="col-sm-10">
        <label class="checkbox-inline">
          <input type="checkbox" ng-model="kaoShiZuData['考试组设置']['选项乱序']"> 选项乱序
        </label>
        <label class="checkbox-inline">
          <input type="checkbox" ng-model="kaoShiZuData['考试组设置']['题目乱序']"> 题目乱序
        </label>
        <label class="checkbox-inline">
          <input type="checkbox" ng-model="kaoShiZuData['考试组设置']['填空题笔答']"> 填空题笔答
        </label>
        <label class="checkbox-inline">
          <input type="checkbox" ng-model="kaoShiZuData['考试组设置']['允许计算器']"> 允许计算器
        </label>
        <label class="checkbox-inline">
          每页题目数
          <select ng-options="nm for nm in tiMuNumPerPage" ng-model="kaoShiZuData['考试组设置']['每页题目数']">
            <option value="">请选择</option>
          </select>
        </label>
      </div>
    </div>
    <!--在线报名时显示报名的开始和结束时间-->
    <div class="form-group" ng-if="kaoShiZuData['报名方式'] == 2">
      <label class="col-sm-2 control-label">报名开始时间<i>*</i></label>
      <div class="col-sm-6">
        <input type="text" name="bmStart" class="form-control start-date bbStart" placeholder="报名开始时间"
               ng-model="kaoShiZuData['报名开始时间']" required/>
      </div>
      <div class="col-sm-4">
        <p ng-show="kaoshiForm.bmStart.$error.required" class="help-block">报名开始时间不能为空！</p>
      </div>
    </div>
    <div class="form-group" ng-if="kaoShiZuData['报名方式'] == 2">
      <label class="col-sm-2 control-label">报名截止时间<i>*</i></label>
      <div class="col-sm-6">
        <input type="text" name="bmEnd" class="form-control start-date bbEnd" placeholder="报名截止时间"
               ng-model="kaoShiZuData['报名截止时间']" required/>
      </div>
      <div class="col-sm-4">
        <p ng-show="kaoshiForm.bmEnd.$error.required" class="help-block">报名截止时间不能为空！</p>
      </div>
    </div>
    <!--在线报名-->
    <div class="form-group" ng-if="kaoShiZuData['报名方式'] == 2">
      <div class="row">
        <label class="col-sm-2 control-label">报名名单<i>*</i></label>
        <div class="col-sm-6">
          <h5 class="fz16">
            <span ng-show="studentsOrgData.length"><strong>考生人数:{{studentsOrgData.length}} 人</strong></span>
            <a href="javascript:void(0)" class="ml15" ng-click="addStuByKxh()">课序号添加</a>
            <a href="javascript:void(0)" class="ml15" ng-click="showKaoShengList()" ng-show="studentsOrgData.length">查看名单</a>
            <a href="javascript:void(0)" class="ml15" ng-click="clearKaoShengList()" ng-show="studentsOrgData.length">清空名单</a>
          </h5>
        </div>
      </div>
      <div class="row">
        <table class="table table-bordered table-changci">
          <tr>
            <th class="positionRe" width="300px">
              时间场次（已有{{kaoShiZuData['考试'].length || 0}}场）
              <button type="button" class="btn btn-success addChangCiBtn" ng-click="addNewChangCiPop()">添加场次</button>
            </th>
            <th>
              <span>考点</span>
              <span class="pull-right">考位（共:{{kwParams.kwNum || 0}}）</span>
            </th>
            <th class="positionRe">
              试卷组（已选试卷组:{{selectChangCi['试卷组'].length || 0}}）
              <button class="btn btn-success addChangCiBtn" ng-click="getMoreShiJuan()"
                ng-hide="paperList.length > 10">显示更多</button>
            </th>
          </tr>
          <tr>
            <td>
              <ul class="list-unstyled h300">
                <li class="bdb mt10" ng-class="{active:selectChangCiIdx == $index}" ng-repeat="cc in kaoShiZuData['考试']" >
                  <p class="fz16 cursorPointer" ng-bind="cc['考试名称']" ng-click="showChangCiInfo(cc, $index)"></p>
                  <p class="fz14" ng-bind="'开始时间:' + cc['开始时间']"></p>
                  <p class="fz14" ng-bind="'结束时间:' + cc['结束时间']"></p>
                  <p class="deleteChangCi cursorPointer fz14" title="删除" ng-click="deleteChangCi(cc, $index)">
                    <span class="glyphicon glyphicon-trash"></span>
                  </p>
                </li>
              </ul>
            </td>
            <td>
              <div class="h300">
                <div class="radio" ng-repeat="kcInfo in allKaoChangList">
                  <label>
                    <input type="radio" name="kaoDian" ng-model="kwParams.kdId" value="{{kcInfo['考点ID']}}"
                           ng-change="addKaoChangToCc(kcInfo)">{{kcInfo['考点名称']}}
                  </label>
                  <span class="pull-right" ng-bind="kcInfo['考位数']"></span>
                </div>
              </div>
            </td>
            <td>
              <div class="h300">
                <div class="checkbox" ng-repeat="sjz in paperList">
                  <label>
                    <input type="checkbox" value="sjz['试卷组ID']"  ng-click="addShiJuanToCc(sjz)" ng-checked="sjz.ckd">
                    {{sjz['试卷组名称']}}
                  </label>
                </div>
              </div>
            </td>
          </tr>
        </table>
      </div>
    </div>
    <!--非在线报名-->
    <div class="form-group" ng-if="kaoShiZuData['报名方式'] == 1">
      <table class="table table-bordered table-changci">
        <tr>
          <th class="positionRe" width="300px">
            时间场次（已有{{kaoShiZuData['考试'].length || 0}}场）
            <button type="button" class="btn btn-success addChangCiBtn" ng-click="addNewChangCiPop()">添加场次</button>
          </th>
          <th>
            <span>考点</span>
            <span class="pull-right">考位数（共:{{kwParams.kwNum || 0}}）</span>
          </th>
          <th class="positionRe">
            试卷（已选试卷:{{selectChangCi['试卷组'].length || 0}}）
            <button class="btn btn-success addChangCiBtn" ng-click="getMoreShiJuan()" ng-hide="paperList.length > 10">显示更多</button>
          </th>
          <th>考生人数（{{studentsOrgData.length}} 人）</th>
        </tr>
        <tr>
          <td>
            <ul class="list-unstyled h300">
              <li class="bdb mt10" ng-class="{active:selectChangCiIdx == $index}" ng-repeat="cc in kaoShiZuData['考试']" >
                <p class="fz16 cursorPointer" ng-bind="cc['考试名称']" ng-click="showChangCiInfo(cc, $index)"></p>
                <p class="fz14" ng-bind="'开始时间:' + cc['开始时间']"></p>
                <p class="fz14" ng-bind="'结束时间:' + cc['结束时间']"></p>
                <p class="deleteChangCi cursorPointer fz14" title="删除" ng-click="deleteChangCi(cc, $index)">
                  <span class="glyphicon glyphicon-trash"></span>
                </p>
              </li>
            </ul>
          </td>
          <td>
            <div class="h300">
              <div class="radio" ng-repeat="kcInfo in allKaoChangList">
                <label>
                  <input type="radio" name="kaoDian" ng-model="kwParams.kdId" value="{{kcInfo['考点ID']}}"
                         ng-change="addKaoChangToCc(kcInfo)">{{kcInfo['考点名称']}}
                </label>
                <span class="pull-right" ng-bind="kcInfo['考位数']"></span>
              </div>
            </div>
          </td>
          <td>
            <div class="h300">
              <div class="checkbox" ng-repeat="sjz in paperList">
                <label>
                  <input type="checkbox" value="sjz['试卷组ID']"  ng-click="addShiJuanToCc(sjz)" ng-checked="sjz.ckd">
                  {{sjz['试卷组名称']}}
                </label>
              </div>
            </div>
          </td>
          <td>
            <p></p>
            <a href="javascript:void(0)" class="dpb ml15 mt15" ng-click="addStuByKxh()">课序号添加</a>
            <a href="javascript:void(0)" class="dpb ml15 mt15" ng-click="showKaoShengList()">查看名单</a>
            <a href="javascript:void(0)" class="dpb ml15 mt15" ng-click="clearKaoShengList()">清空名单</a>
          </td>
        </tr>
      </table>
    </div>
    <!--考试须知-->
    <div class="form-group">
      <label class="col-sm-2 control-label">考试须知</label>
      <div class="col-sm-6">
        <textarea class="form-control" name="ksXuZhi" rows="5" placeholder="考试须知" ng-model="kaoShiZuData['考试须知']"></textarea>
      </div>
    </div>
    <!-- 考生错误信息展示结束 -->
    <div class="save-box">
      <button type="button" class="btn btn-primary" ng-click="saveKaoShi()"
              ng-disabled="kaoshiForm.ksName.$invalid || kaoshiForm.ksTime.$invalid || kwParams.forbidBtn">保存考试
      </button>
      <button type="button" class="btn btn-danger ml10" ng-click="showKaoShiZuList('all')">取消</button>
    </div>
  </form>
  <!--添加考生页面-->
  <div class="popup-wrap" ng-if="showAddStuBox">
    <div class="popup-wrap-inner">
      <div class="pwi-header plr10">
        <!--由课序号添加-->
        <div ng-if="kwParams.addXsBuKxh">
          <span class="title">由课序号添加考生</span>
          <span class="ml15">
            年度: <select class="fz16" ng-model="kwParams.year" ng-change="qryKxh(kwParams.year)"
                      ng-options="dt for dt in kxhData['年份']">
              <option value="">全部年份</option>
            </select>
          </span>
          <span class="ml15">
            学期: <select class="fz16" ng-model="kwParams.term" ng-change="qryKxh(kwParams.term)"
                    ng-options="dt.val as dt.name for dt in kxhData['学期']">
              <option value="">全部学期</option>
            </select>
          </span>
          <button type="button" class="btn btn-primary pull-right mt5 ml15" ng-click="chaXunKxhYongHu()">确定</button>
          <button type="button" class="btn btn-danger pull-right mt5" ng-click="closeAddStuBox()">关闭</button>
        </div>
        <!--添加考生-->
        <div ng-if="kwParams.addChangCi">
          <span class="title">添加场次</span>
        </div>
      </div>
      <div class="pwi-body plr10">
        <!--由课序号添加-->
        <div ng-if="kwParams.addXsBuKxh">
          <table class="table table-striped mt15 newTable">
            <tr>
              <th>课序号</th>
              <th>年份学期</th>
              <th>人数</th>
            </tr>
            <tr ng-repeat="kxh in keXuHaoData">
              <td>
                <label class="keXuHao cursorPointer pull-left">
                  <input type="checkbox" ng-click="pickOnKxh(kxh)" ng-checked="kxh.ckd"/> {{kxh['课序号名称']}}
                </label>
              </td>
              <td>
                <span ng-bind="'(' + kxh['年度'] + kxh['中文学期'] + ')'" ng-if="kxh['年度']"></span>
              </td>
              <td ng-bind="kxh['学生人数'] + '人'"></td>
            </tr>
          </table>
        </div>
        <!--添加场次的输入部分-->
        <form class="form-horizontal mt30" name="changCiForm" ng-if="kwParams.addChangCi">
          <div class="form-group">
            <label class="col-sm-2 control-label">开始时间<i>*</i></label>
            <div class="col-sm-6">
              <input type="text" name="ccKssj" class="form-control start-date ccStart" placeholder="开始时间"
                     ng-model="kwParams.startDate" required autofocus="true"/>
            </div>
            <div class="col-sm-4">
              <p ng-show="changCiForm.ccKssj.$error.required" class="help-block">开始时间不能为空！</p>
            </div>
          </div>
        </form>
      </div>
      <div class="pwi-footer plr10 text-center">
        <!--由课序号添加-->
        <div ng-if="kwParams.addXsBuKxh">
          <div class="paging text-right">
            <ul class="pagination pagination-sm">
              <li ng-class="{disabled: pageParam.activePage == 1}">
                <a href ng-click="keXuHaoDist(1)">首页</a>
              </li>
              <li ng-class="{disabled: pageParam.activePage == 1}">
                <a href
                   ng-click="keXuHaoDist(prevPg = pageParam.activePage > 1 ? pageParam.activePage - 1 : 1)">
                  上一页
                </a>
              </li>
              <li ng-repeat="pg in pageParam.disPage" ng-class="{active: pageParam.activePage == pg}">
                <a href ng-click="keXuHaoDist(pg)">{{pg}}</a>
              </li>
              <li ng-class="{disabled: pageParam.activePage ==  pageParam.lastPage}">
                <a href
                   ng-click="keXuHaoDist(nextPg = pageParam.activePage < pageParam.lastPage ? pageParam.activePage + 1 : pageParam.lastPage)">
                  下一页
                </a>
              </li>
              <li ng-class="{disabled: pageParam.activePage == pageParam.lastPage}">
                <a href ng-click="keXuHaoDist(pageParam.lastPage)">尾页</a>
              </li>
            </ul>
          </div>
        </div>
        <!--添加场次的确定按钮-->
        <div class="mt5" ng-if="kwParams.addChangCi">
          <button type="button" class="btn btn-danger" ng-click="addNewChangCi('cancel')">取消</button>
          <button type="button" class="btn btn-primary ml15" ng-click="addNewChangCi('submit')">确定</button>
        </div>
      </div>
    </div>
  </div>
  <!--考生名单弹出框-->
  <div class="popup-percent" ng-if="showImportStuds==true">
    <div class="popup-percent-inner">
      <div class="row">
        <button type="button" class="btn btn-danger mt10 mr10 pull-right" ng-click="hideImportList()">关闭</button>
      </div>
      <div class="row p10">
        <table class="table table-striped">
          <tr>
            <th>姓名</th>
            <th>学号</th>
            <th>课序号</th>
            <th width="60px" class="text-center">操作</th>
          </tr>
          <tr ng-repeat="stu in studentsOrgData">
            <td ng-bind="stu['姓名']"></td>
            <td ng-bind="stu['学号']"></td>
            <td ng-bind="stu['课序号名称']"></td>
            <td class="text-center">
              <span class="glyphicon glyphicon-trash co676767 cursorPointer" ng-click="addKsDelStu(stu)"></span>
            </td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>
