<h4 class="pb10">
  <span class="cYell">{{session.defaultLyName}}</span><span>考试管理</span>
  <span class="fz16">
    <a href="javascript:void(0)" class="plr10" ng-class="{active:kwParams.ksListZt == 'all' }"
       ng-click="showKaoShiZuList('all')">全部考试</a> |
    <a href="javascript:void(0)" class="plr10" ng-class="{active:kwParams.ksListZt == 'done' }"
       ng-click="showKaoShiZuList('done')">已完成考试</a> |
    <a href="javascript:void(0)" class="plr10" ng-class="{active:kwParams.ksListZt == 'ing' }"
       ng-click="showKaoShiZuList('ing')">未完成考试</a>
  </span>
</h4>
<table class="table table-striped">
  <tr class="active">
    <th>考试名称</th>
    <th class="text-center">报名方式</th>
    <th width="80px" class="text-center">场次数</th>
    <th width="100px" class="text-center">报考人数</th>
    <th width="100px" class="text-center">状态</th>
    <th width="80px" class="text-center">操作</th>
  </tr>
  <tr ng-repeat="ks in kaoshiList">
    <td>
      <a href="javascript:void(0)" ng-bind="ks.KAOSHIZU_NAME" ng-click="seeKaoShiDetail(ks)"></a>
    </td>
    <td class="text-center" ng-bind="ks.BAOMINGFANGSHI==1 ? '非在线报名':'在线报名'"></td>
    <td class="text-center" ng-bind="ks.CHANGCI_COUNT"></td>
    <td class="text-center" ng-bind="ks.YIBAOMINGRENSHU + '/' + ks.ZONGRENSHU"></td>
    <td class="text-center {{'kssCl' + ks.ZHUANGTAI}}" ng-bind="ks.ZHUANGTAI | examStatus">
    </td>
    <td class="text-right">
      <span ng-hide="kwParams.forbidBtn">
        <span class="glyphicon glyphicon-send cBlue cursorPointer" ng-click="faBuKaoShi(ks.KAOSHIZU_ID)"
              ng-hide="ks.ZHUANGTAI >= 3" title="发布" style="margin-right: 10px"></span>
      </span>
      <span class="glyphicon glyphicon-trash co676767 cursorPointer" ng-click="deleteKaoShi(ks)"
            title="删除" style="margin-right: 10px"></span>
    </td>
  </tr>
</table>
<div class="paging text-right">
  <ul class="pagination pagination-sm" ng-show="kaoShiPages.length">
    <li ng-class="{disabled: currentKsPageVal == 1}">
      <a href ng-click="getThisKaoShiPageData(1)">首页</a>
    </li>
    <li ng-class="{disabled: currentKsPageVal == 1}">
      <a href
         ng-click="getThisKaoShiPageData(prevPg = currentKsPageVal > 1 ? currentKsPageVal - 1 : 1)">
        上一页
      </a>
    </li>
    <li ng-repeat="pg in kaoShiPages" ng-class="{active: currentKsPageVal == pg}">
      <a href ng-click="getThisKaoShiPageData(pg)">{{pg}}</a>
    </li>
    <li ng-class="{disabled: currentKsPageVal == lastKaoShiPageNum}">
      <a href
         ng-click="getThisKaoShiPageData(nextPg = currentKsPageVal < lastKaoShiPageNum ? currentKsPageVal + 1 : lastKaoShiPageNum)">
        下一页
      </a>
    </li>
    <li ng-class="{disabled: currentKsPageVal == lastKaoShiPageNum}">
      <a href ng-click="getThisKaoShiPageData(lastKaoShiPageNum)">尾页</a>
    </li>
  </ul>
</div>
<div class="popup-wrap" ng-show="kwParams.showKaoShiDetail">
  <div class="popup-wrap-inner no-footer">
    <div class="pwi-header plr10">
      <span class="title" ng-bind="kaoShiDetailData.KAOSHIZU_NAME"></span>
      <div class="pull-right">
        <a href="javascript:void(0)" class="pull-left mt10 mr10" ng-click="showPaperInfo()">查看试卷</a>
        <a href="javascript:void(0)" class="pull-left mt10 mr10" ng-click="showChangCiToggle()">报考情况</a>
        <a href="javascript:void(0)" class="pull-left mt10 mr10" ng-show="kaoShiDetailData.BAOMINGFANGSHI==2"
          ng-click="queryBaoMingStu('no', kaoShiDetailData.KAOSHIZU_ID)">未报名考生</a>
        <button type="button" class="btn btn-danger mt5" ng-click="kwParams.showKaoShiDetail = false">
          关闭
        </button>
      </div>
    </div>
    <div class="pwi-body plr10">
      <div ng-hide="showPaperBtn">
        <!--场次的table-->
        <table class="table table-striped mt15" ng-show="kaoChangListShow">
          <tr>
            <th>场次</th>
            <th class="text-center">考试时间</th>
            <th class="text-center">时长</th>
            <th class="text-center">考点</th>
            <th class="text-center">考生</th>
            <th class="text-center">导出考生</th>
          </tr>
          <tr ng-repeat="cc in kaoShiDetailData.changci">
            <td  class="cursorPointer cBlue" ng-bind="cc.KAOSHI_MINGCHENG" ng-click="queryBaoMingStu('on', cc)"></td>
            <td class="text-center" ng-bind="cc.kaoShiShiJian"></td>
            <td class="text-center" ng-bind="cc.SHICHANG"></td>
            <td class="text-center" ng-bind="cc.KMINGCHENG"></td>
            <td class="text-center">{{cc.YIBAOMINGRENSHU || 0}}/{{cc.KAOWEISHULIANG}}</td>
            <td class="text-center cursorPointer" title="导出考生" ng-click="exportKsInfo('mdOff', cc)">
              <span class="glyphicon glyphicon-export"></span>
            </td>
          </tr>
        </table>
        <!--学生的table-->
        <div ng-hide="kaoChangListShow">
          <a href="javascript:void(0)" class="pull-right p10" ng-click="exportKsInfo('mdOn', '')">导出考生</a>
          <table class="table table-striped mt15">
            <tr>
              <th>姓名</th>
              <th class="text-center">学号</th>
              <th class="text-center">班级</th>
              <th class="text-center">座位号</th>
              <th width="60px" class="text-center">操作</th>
            </tr>
            <tr ng-repeat="ks in changCiKaoSheng">
              <td ng-bind="ks.XINGMING"></td>
              <td class="text-center" ng-bind="ks.YONGHUHAO"></td>
              <td class="text-center" ng-bind="ks.BANJI"></td>
              <td class="text-center" ng-bind="ks.ZUOWEIHAO"></td>
              <td class="text-center cursorPointer">
            <span class="glyphicon glyphicon-trash co676767" ng-click="deleteKaoSheng(ks)" title="删除"
                  ng-if="kaoShiDetailData.ZHUANGTAI<3"></span>
              </td>
            </tr>
          </table>
        </div>
      </div>
      <div ng-show="showPaperBtn">
        <!--修改试卷table-->
        <p class="text-right mt10">
          <a href="javascript:void(0)" ng-click="alertPaperWrapShow()">修改试卷</a>
          <a href="javascript:void(0)" class="ml15" ng-click="saveAlertPaper()">提交修改</a>
          <a href="javascript:void(0)" class="ml15" ng-click="showChangCiToggle()">取消修改</a>
        </p>
        <div ng-class="{'col-sm-8': showPaperListBox}">
          <table class="table table-striped" ng-class="{mt15:!showPaperListBox}">
            <tr class="active">
              <th width="30px" ng-show="showPaperListBox">
                <input type="checkbox" value="all" ng-click="checkAllChangCi()" ng-model="kwParams.checkedAllChangCi">
              </th>
              <th>场次</th>
              <th class="text-center">试卷</th>
            </tr>
            <tr ng-repeat="cc in alertPaperCc">
              <td ng-show="showPaperListBox">
                <input type="checkbox" value="cc.KAOSHI_ID" ng-click="checkThisChangCi(cc)" ng-checked="cc.ckd">
              </td>
              <td ng-bind="cc.KAOSHI_MINGCHENG"></td>
              <td class="text-center" ng-bind="cc.SHIJUANMINGCHENG"></td>
            </tr>
          </table>
        </div>
        <div class="col-sm-4 h400 bd1" ng-show="showPaperListBox">
          <div class="checkbox" ng-repeat="sj in paperListIds">
            <label>
              <input type="checkbox" value="1">
              <input type="checkbox" value="ks.SHIJUAN_ID"  ng-click="checkThisShiJuan(sj)" ng-checked="sj.ckd">
              {{sj.SHIJUANMINGCHENG}}
            </label>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
