<!DOCTYPE html>
<html>
    <head lang="en">
        <meta charset="UTF-8">
        <title class="title">随堂测验</title>
        <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
        <link rel="stylesheet" href="/weixin/css/weui.min-v1.1.0.css"/>
        <link rel="stylesheet" href="/weixin/font-awesome/css/font-awesome.min.css"/>
        <link rel="stylesheet" href="/weixin/css/quiz.css"/>
        <!--<link rel="stylesheet" href="/weixin/css/quiz.min.css"/>-->
    </head>
    <body ontouchstart>
        <!--用邮箱查询用户是否存在-->
        <script id="tplCheckUsr" type="text/html">
            <div class="weui-cells__title">
                <span class="step1">请输入邮箱，查询是否为系统注册用户</span>
                <span class="step2" style="display: none">您已是系统用户，填入您的密码关联微信</span>
                <span class="step3" style="display: none">您不是注册用户，请填入信息完成注册</span>
            </div>
            <div class="weui-cells weui-cells_form">
                <div class="weui-cell plr10Two ptb15">
                    <div class="weui-cell__hd"><label class="weui-label">邮箱</label></div>
                    <div class="weui-cell__bd weui_cell_primary">
                        <input class="weui-input techEmail" type="text" name="techEmail" placeholder="您的邮箱"/>
                    </div>
                </div>
                <div class="weui-cell plr10Two xingming ptb15" style="display: none">
                    <div class="weui-cell__hd"><label class="weui-label">姓名</label></div>
                    <div class="weui-cell__bd weui_cell_primary">
                        <input class="weui-input" type="text" name="techName" placeholder="您的姓名"/>
                    </div>
                </div>
                <div class="weui-cell plr10Two mima ptb15" style="display: none">
                    <div class="weui-cell__hd"><label class="weui-label">密码</label></div>
                    <div class="weui-cell__bd weui_cell_primary">
                        <input class="weui-input" type="password" name="techPsw" placeholder="您的密码"/>
                    </div>
                    <div class="weui-cell__ft">
                        <button id="pswShow" class="weui-vcode-btn">显示</button>
                        <button id="pswHide" class="weui-vcode-btn">隐藏</button>
                    </div>
                </div>
            </div>
        </script>
        <!--输入邮箱查询用户-->
        <script id="tplCheckUsrNav" type="text/html">
            <div id="nextStep" class="navBar_item step1">
                <i class="fa fa-question-circle-o fa-fw" aria-hidden="true"></i> 查询
            </div>
            <div id="nextStep1" class="navBar_item step2">
                <i class="fa fa-sign-in fa-fw" aria-hidden="true"></i> 登录并关联
            </div>
            <div id="nextStep2" class="navBar_item step3">
                <i class="fa fa-registered fa-fw" aria-hidden="true"></i> 注册并关联
            </div>
        </script>
        <!--测验学生成绩列表-->
        <script id="tplStuScore" type="text/html">
            <div class="weui-cells weui-cells_form">
                {{each stuDt}}
                <div class="weui-cell weui-cell_switch plr10Two">
                    <div class="weui-cell__bd">
                        <p>
                            <i class="fa fa-angle-right fa-fw" aria-hidden="true"></i>
                            <span style="vertical-align: middle">{{$value['学号']}}</span>
                            <span class="ml15" style="vertical-align: middle">{{$value['姓名']}}</span>
                        </p>
                    </div>
                    <div class="ml10 fz14">
                        答对数：<span class="clBlue">{{$value['答对数'] || 0}}</span>
                    </div>
                </div>
                {{/each}}
            </div>
            <h6 class="noMore mt5">没有更多了</h6>
        </script>
        <!--有教师用户关联微信的导航-->
        <script id="tplNoData" type="text/html">
            <h4 class="center noData">{{msg}}</h4>
        </script>
        <!--用户信息-->
        <script id="tplUsr" type="text/html">
            <span>{{xuexiao}}</span>
            <span class="ml10">{{xingming}}</span>
        </script>
        <!--测试结果列表模板-->
        <script id="tplResultList" type="text/html">
            {{each testDt as riqi i}}
            <h4 class="mt10 plr10 riqi">{{riqi['日期']}}</h4>
            <div class="weui-cells weui-cells_form testList">
                {{each riqi['测验'] as clt j}}
                <div class="weui-cell weui-cell_switch plr10Two">
                    <div class="weui-cell__bd testResult" data-id="{{clt['测验ID']}}" data-name="{{clt['测验名称']}}"
                         data-stat="{{clt['状态']}}" data-tag="{{clt['标签']}}">
                        <p>
                            <i class="fa fa-angle-right fa-fw" aria-hidden="true"></i>
                            <span style="vertical-align: middle">{{clt['测验名称']}}</span>
                        </p>
                        <p class="fz14">
                            <span>测验码: </span>
                            {{if clt['状态'] == 2}}
                            <span class="clBlue" style="color:#fff">{{clt['标签']}}</span>
                            {{/if}}
                            {{if clt['状态'] != 2}}
                            <span class="clBlue">{{clt['标签']}}</span>
                            {{/if}}
                            <span class="plr10">|</span>
                            <span>参与人数: </span><span class="clBlue">{{clt['参与人数'] || 0}}</span>
                        </p>
                    </div>
                    <div class="weui-cell__ft ml10">
                        {{if clt['状态'] == 2}}
                        <span class="fz16">录入中</span>
                        {{/if}}
                        {{if clt['状态'] == 1}}
                        <input class="weui-switch" type="checkbox" checked data-id="{{clt['测验ID']}}"/>
                        {{/if}}
                        {{if clt['状态'] == 0}}
                        <input class="weui-switch" type="checkbox" data-id="{{clt['测验ID']}}"/>
                        {{/if}}
                    </div>
                </div>
                {{/each}}
            </div>
            {{/each}}
            <h4 class="mt20 plr10 mctWrap">
                <a href="javascript:;" class="weui-btn weui-btn_default fz16 moreClassTest">更多测验</a>
            </h4>
        </script>
        <!--统计详情模板-->
        <script id="tplAnalysis" type="text/html">
            <div class="weui-cells weui-cells_form">
                <div class="weui-cell plr10Two">
                    <div class="weui-cell__bd">
                        <h3>{{testName}}</h3>
                        <p class="fz14" style="margin-left: 0">{{className}} <span class="clBlue">{{peopleNum}}</span>人</p>
                        <p>
                            {{if testStatus == 0}}
                            <span class="fz14 clRed" style="margin-left: 0">已关闭</span>
                            {{/if}}
                            {{if testStatus == 1}}
                            <span class="fz14 clGreen" style="margin-left: 0">已开启</span>
                            {{/if}}
                        </p>
                    </div>
                </div>
                <div class="weui-cell plr10Two">
                    <div class="weui-cell__bd fz14" style="margin-left: 0">
                        {{if testDonePct >= 0}}
                        <span>完成率</span> <span class="clBlue mr15" style="font-size: 24px">{{testDonePct}}%</span>
                        {{/if}}
                        <span>正确率</span> <span class="clBlue" style="font-size: 24px">{{testRightPct}}%</span>
                    </div>
                </div>
                <div class="weui-cell plr10Two">
                    <div class="weui-cell__bd" style="font-size: 14px">
                        <p class="mb10">
                            <span>未完成：</span>
                            <a href="javascript:;" class="unDoMore">展开名单</a>
                            <a href="javascript:;" class="unDoClose">收起名单</a>
                        </p>
                        <p class="undoNameList">
                            {{each peopleUndoList as stu i}}
                            <span class="mr5">{{stu['姓名']}}</span>
                            {{/each}}
                        </p>
                    </div>
                </div>
                <div class="getStuScore" data-wcl="{{testDonePct}}">
                    <i class="fa fa-list-ol fa-fw" aria-hidden="true"></i>查看学生成绩
                </div>
            </div>
            <article class="weui_article">
                {{each testTiMu as tx h}}
                <div class="pullLeft wp100 mt10">
                    <h4 class="plr10">{{zhn[h] + '、' + tx['大题名称']}}</h4>
                    {{each tx['题目'] as tiMu i}}
                    <div class="tiMuBox p10">
                        <div class="tiZhi ptb10 rightLv">
                            正确率：<span class="clGreen">{{tiMu['正确率']}}%</span>
                        </div>
                        <h4 class="tiGan ptb10">{{(i + 1) + '、' + tiMu['题目内容']['题干']}}</h4>
                        {{each tiMu['题目内容']['选项'] as tznr j}}
                        <div class="tiZhi ptb10">
                            <span class="option">
                                {{if tznr.ckd}}
                                <i class="weui-icon-success-no-circle">
                                    {{/if}}
                                </i>({{letter[j]}})
                            </span>
                            <p class="pl25">{{tznr['题支']}}</p>
                            <span class="pepNum">{{tiMu['选项分析'][j]['人数']}}</span>
                        </div>
                        {{/each}}
                    </div>
                    {{/each}}
                </div>
                {{/each}}
            </article>
            <h6 class="noMore">没有更多了</h6>
        </script>
        <!--班级课序号列表模板-->
        <script id="tplClass" type="text/html">
            <article class="weui_article">
                <div class="pullLeft wp100 mt10">
                    <h4 class="plr10">全部考生</h4>
                    <div class="tiMuBox p10">
                        <a href="javascript:;" class="weui-btn weui-btn_default fz16 backToAnalysis">查看</a>
                    </div>
                </div>
                <div class="pullLeft wp100 mt10">
                    <h4 class="plr10">课序号</h4>
                    <div class="tiMuBox p10">
                        {{each kxhDt}}
                        <div class="weui-cell weui-cell_switch">
                            <div class="weui-cell__bd teacherKxh" data-id="{{$value['课序号ID']}}" data-name="{{$value['课序号名称']}}">
                                <p>
                                    <i class="fa fa-angle-right fa-fw" aria-hidden="true"></i>
                                    <span style="vertical-align: middle">{{$value['课序号名称']}}</span>
                                </p>
                            </div>
                        </div>
                        {{/each}}
                    </div>
                </div>
                <div class="pullLeft wp100 mt10">
                    <h4 class="plr10">班级</h4>
                    <div class="tiMuBox p10">
                        {{each classDt}}
                        <div class="weui-cell weui-cell_switch">
                            <div class="weui-cell__bd teacherBanJi" data-id="{{$value['班级ID']}}" data-name="{{$value['班级名称']}}">
                                <p>
                                    <i class="fa fa-angle-right fa-fw" aria-hidden="true"></i>
                                    <span style="vertical-align: middle">{{$value['班级名称']}}</span>
                                </p>
                            </div>
                        </div>
                        {{/each}}
                    </div>
                </div>
            </article>
        </script>
        <!--测验详情的导航-->
        <script id="tplResultNav" type="text/html">
            <div class="navBar_item getTestList">
                <i class="fa fa-arrow-circle-o-left fa-fw" aria-hidden="true"></i> 返回
            </div>
            <div id="getClassList" class="navBar_item getClassList">
                <i class="fa fa-heart-o fa-fw" aria-hidden="true"></i> 选择班级
            </div>
            <div class="navBar_item refresh">
                <i class="fa fa-refresh fa-fw" aria-hidden="true"></i> 刷新
            </div>
        </script>
        <!--学生名单列表导航-->
        <script id="tplStuScoreNav" type="text/html">
            <div class="navBar_item backToAnalysis">
                <i class="fa fa-arrow-circle-o-left fa-fw" aria-hidden="true"></i> 返回
            </div>
        </script>
        <!--有班级进入统计的导航-->
        <script id="tplFromCLassNav" type="text/html">
            <div class="navBar_item getTestList">
                <i class="fa fa-arrow-circle-o-left fa-fw" aria-hidden="true"></i> 测验列表
            </div>
            <div class="navBar_item getClassList">
                <i class="fa fa-arrow-circle-o-left fa-fw" aria-hidden="true"></i> 班级列表
            </div>
            <div class="navBar_item refresh">
                <i class="fa fa-refresh fa-fw" aria-hidden="true"></i> 刷新
            </div>
        </script>
        <!--内容容器-->
        <div class="container" id="container">
            <div id="topBar">
            </div>
            <div id="content" class="content">
            </div>
            <div id="navBar" class="navBar">
            </div>
            <div class="js_dialog" id="iosDialog2" style="display: none;">
                <div class="weui-mask"></div>
                <div class="weui-dialog">
                    <div class="weui-dialog__bd">
                        <strong class="weui-dialog__title msgTitle"></strong>
                    </div>
                    <div class="weui-dialog__bd msgBox"></div>
                    <div class="weui-dialog__ft">
                        <a href="javascript:;" class="weui-dialog__btn weui-dialog__btn_primary">确定</a>
                    </div>
                </div>
            </div>
            <!-- loading toast -->
            <div id="loadingToast" style="display:none;">
                <div class="weui-mask_transparent"></div>
                <div class="weui-toast">
                    <i class="weui-loading weui-icon_toast"></i>
                    <p class="weui-toast__content">数据加载中</p>
                </div>
            </div>
        </div>
        <!--用到的ji文件-->
        <script src="/weixin/js/jquery-3.1.0.min.js"></script>
        <script src="/weixin/js/markitup/MathJax.js?config=TeX-AMS-MML_SVG-full"></script>
        <script src="/weixin/js/template.js"></script>
        <script src="/weixin/js/lazy.min.js"></script>
        <script src="/weixin/js/qrcode.min.js"></script>
        <script src="/weixin/js/quiz.js"></script>
        <script src="/weixin/js/bluebird.min.js"></script>
        <!--<script src="/weixin/js/quiz.min.js"></script>-->
        <!--<script src="/weixin/js/markitup/MathJax.js?config=TeX-AMS-MML_SVG-full"></script>-->
    </body>
</html>
