<div class="renzhengWrapper">
  <div class="bg">
  </div>
  <div class="row" ng-init="teacherLoginShow=true">
    <h4 class="logo text-center">
      <img src="/images/logo.png" alt="智夫子">
    </h4>
    <div class="col-md-4 col-md-offset-2 loginBox" ng-show="teacherLoginShow">
      <form ng-hide="rzParams.showFindPwWrap">
        <div class="messageWrap" ng-show="dengluInfo">
          用户名或者密码错误！
        </div>
        <div>
          <div class="form-group">
            <label>用户名/邮箱</label>
            <input type="text" class="form-control" name="yonghuming" ng-model="login.userName" required="true"
                   placeholder="用户名/邮箱" autofocus="true">
            <span class="help-block" ng-hide="login.userName">登录信息不能为空！</span>
          </div>
          <div class="form-group">
            <label>密码</label>
            <input type="password" class="form-control" name="mima" ng-model="login.password" required="true"
                   placeholder="密码">
            <span class="help-block" ng-hide="login.password">密码不能为空!</span>
          </div>
          <div class="form-group text-right">
            <a ng-href="{{rzParams.zhuCeUrl + '/teacher'}}" class="pull-left mt" target="_blank">教师注册</a>
            <a href="javascript:void(0)" class="pull-left mt ml10" ng-click="rzParams.showFindPwWrap = true">忘记密码？</a>
            <button type="submit" class="btn btn-success" ng-click="signIn()">
              登录
            </button>
          </div>
        </div>
      </form>
      <div ng-show="rzParams.showFindPwWrap">
        <form name="sendEmailForm" ng-hide="rzParams.sendEmailSuccess">
          <input type="email" class="form-control mb10" ng-model="registerEmail" required="true"
                 placeholder="请输入注册时的邮箱" autofocus="true" name="registerEmail"
                 ng-pattern="/^[0-9a-z][a-z0-9\._-]{1,}@[a-z0-9-]{1,}[a-z0-9]\.[a-z\.]{1,}[a-z]$/"
                 ng-blur="checkUsrExist('youxiang', registerEmail)">
          <p class="clRed" ng-show="sendEmailForm.registerEmail.$error.pattern">邮箱格式错误！</p>
          <button type="button" class="btn btn-danger" ng-click="rzParams.showFindPwWrap = false">
            返回登录
          </button>
          <button type="button" class="btn btn-success pull-right" ng-click="sendFindPwEmail()"
                  ng-disabled="sendEmailForm.registerEmail.$error.pattern || youxiangExist">
            找回密码
          </button>
        </form>
        <div class="row" ng-show="rzParams.sendEmailSuccess">
          <p class="clGreen">验证邮件已发送成功！</p>
          <p class="fz14">验证邮件24小时内有效，请尽快登录您的邮箱点击验证链接完成验证。</p>
          <p><a ng-href="{{rzParams.emailLink}}" class="btn btn-danger" target="_blank">查看验证邮件</a></p>
        </div>
      </div>
    </div>
    <div class="col-md-4 col-md-offset-2 loginBox" ng-hide="teacherLoginShow">
      <form ng-hide="rzParams.showFindPwWrap">
        <div class="messageWrap" ng-show="dengluInfo">
          学号或者密码错误！
        </div>
        <div>
          <div class="form-group">
            <label>邮箱</label>
            <input type="text" class="form-control" name="xuehao" ng-model="login.userName" required="true"
                   placeholder="邮箱" autofocus="true">
            <span class="help-block" ng-hide="login.userName">邮箱不能为空！</span>
          </div>
          <div class="form-group">
            <label>密码</label>
            <input type="password" class="form-control" name="stuMiMa" ng-model="login.password" required="true"
                   placeholder="密码">
            <span class="help-block" ng-hide="login.password">密码不能为空!</span>
          </div>
          <div class="form-group text-right">
            <a ng-href="{{rzParams.zhuCeUrl + '/student'}}" class="pull-left mt" target="_blank">学生注册</a>
            <a href="/images/预约系统使用说明.docx" class="pull-left mt ml10" target="_blank">预约说明</a>
            <a href="javascript:void(0)" class="pull-left mt ml10" ng-click="rzParams.showFindPwWrap = true">忘记密码？</a>
            <button type="submit" class="btn btn-success" ng-click="signIn()">
              登录
            </button>
          </div>
        </div>
      </form>
      <div ng-show="rzParams.showFindPwWrap">
        <form name="sendEmailForm" ng-hide="rzParams.sendEmailSuccess">
          <input type="email" class="form-control mb10" ng-model="registerEmail" required="true"
                 placeholder="请输入注册时的邮箱" autofocus="true" name="registerEmail"
                 ng-pattern="/^[0-9a-z][a-z0-9\._-]{1,}@[a-z0-9-]{1,}[a-z0-9]\.[a-z\.]{1,}[a-z]$/"
                 ng-blur="checkUsrExist('youxiang', registerEmail)">
          <p class="clRed" ng-show="sendEmailForm.registerEmail.$error.pattern">邮箱格式错误！</p>
          <button type="button" class="btn btn-danger" ng-click="rzParams.showFindPwWrap = false">
            返回登录
          </button>
          <button type="button" class="btn btn-success pull-right" ng-click="sendFindPwEmail()"
                  ng-disabled="sendEmailForm.registerEmail.$error.pattern || youxiangExist">
            找回密码
          </button>
        </form>
        <div class="row" ng-show="rzParams.sendEmailSuccess">
          <p class="clGreen">验证邮件已发送成功！</p>
          <p class="fz14">验证邮件24小时内有效，请尽快登录您的邮箱点击验证链接完成验证。</p>
          <p><a ng-href="{{rzParams.emailLink}}" class="btn btn-danger" target="_blank">查看验证邮件</a></p>
        </div>
      </div>
    </div>
    <div class="col-md-4 loginWithXh">
      <button type="button" class="btn btn-primary" ng-show="teacherLoginShow"
              ng-click="teacherLoginShow=false;errorInfoReset()">
        学生入口
      </button>
      <button type="button" class="btn btn-primary" ng-hide="teacherLoginShow"
              ng-click="teacherLoginShow=true;errorInfoReset()">
        教师入口
      </button>
    </div>
  </div>
</div>
