<div class="fix-to-top-right" ng-hide="isShenHeBox">
    <button type="button" class="btn btn-danger" ng-click="closeShenheBox()">
        返回
    </button>
</div>
<div class="col-md-3 logoutInfo" ng-init="showAlterAdminBox = false">
    <h2>
        您好，<a href="javascript:void(0)" ng-bind="session.userInfo.XINGMING"
              ng-click="showAlterAdminBox = !showAlterAdminBox">
        </a>
        <span class="hide userUID">{{UID}}</span>
    </h2>
    <h4>
        <a type="button" href="javascript:void(0)" ng-click="signOut()" class="btn btn-success">注销</a>
    </h4>
    <div class="mt15 pull-left" ng-show="showAlterAdminBox">
        <span>请输入新密码：</span>
        <input type="text" class="newPassWord form-control" ng-model="adminParams.newPsd">
        <button type="button" class="btn btn-primary mt5 pull-right" ng-click="modifyAdminPassWord()"
                ng-disabled="!adminParams.newPsd">修改</button>
        <p class="adminMiMaInfo"></p>
    </div>
</div>
<div class="col-md-9 entries" ng-show="isShenHeBox">
    <h4>请选择您要进行的操作：</h4>
    <ul class="list-unstyled">
        <li>
            <a href="javascript:void(0)" class="btn btn-primary" ng-click="renderJiGouSetTpl()">机构设置</a>
        </li>
        <li>
            <a href="javascript:void(0)" class="btn btn-primary" ng-click="renderLingYuSetTpl()">领域设置</a>
        </li>
        <li>
            <a href="javascript:void(0)" class="btn btn-primary" ng-click="renderDaGangSetTpl()">大纲设置</a>
        </li>
        <li>
            <a href="javascript:void(0)" class="btn btn-primary" ng-click="renderZhiShiDianSetTpl()">知识点管理</a>
        </li>
        <li>
            <a href="javascript:void(0)" class="btn btn-primary" ng-click="renderScannerSetTpl()">扫描仪设置</a>
        </li>
        <li>
            <a href="javascript:void(0)" class="btn btn-primary" ng-click="renderPdfTpl()">生成PDF</a>
        </li>
        <li>
            <a href="javascript:void(0)" class="btn btn-primary">系统设置</a>
        </li>
        <li>
            <a href="javascript:void(0)" class="btn btn-primary">路由设置</a>
        </li>
    </ul>
</div>
<!-- 审核权限开始  -->
<div class="shenheBox" ng-class="{row:isShenHeBox, 'col-md-9':!isShenHeBox}" ng-include="adminSubWebTpl">

</div>
<!-- 审核权限结束  -->
