<div class="renzhengWrapper">
  <div class="bg">
  </div>
  <div class="row">
    <h4 class="logo text-center">
      <img src="/images/logo.png" alt="智夫子">
    </h4>
    <div class="col-md-6 col-md-offset-3">
      <form class="form-horizontal" name="resetPwForm" ng-hide="rzParams.resetPwSuccess">
        <div class="form-group">
          <label class="col-sm-3 control-label text-right">新登录密码:</label>
          <div class="col-sm-9">
            <input type="password" class="form-control" name="newPw" ng-model="newPasswordObj.newPw"
                   ng-pattern="/^.{6,20}$/" required>
            <p ng-show="resetPwForm.newPw.$error.pattern" class="clRed">密码需要6-20个字符！</p>
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-3 control-label text-right">确认新密码:</label>
          <div class="col-sm-9">
            <input type="password" class="form-control" name="confirmNewPw" data-password-verify="newPasswordObj.newPw"
                   ng-model="newPasswordObj.confirmNewPw" required>
            <p ng-show="resetPwForm.confirmNewPw.$error.passwordVerify" class="clRed">
              确认密码和密码不匹配！
            </p>
          </div>
        </div>
        <div class="form-group">
          <div class="col-sm-offset-3 col-sm-9">
            <button type="submit" class="btn btn-primary" ng-click="restPassword()"
                    ng-disabled="resetPwForm.newPw.$error.pattern || resetPwForm.confirmNewPw.$error.passwordVerify ||
                    resetPwForm.newPw.$error.required || resetPwForm.confirmNewPw.$error.required">
              提交
            </button>
          </div>
        </div>
      </form>
      <div ng-show="rzParams.resetPwSuccess">
        <p class="clGreen">密码重置成功！</p>
        <p class="clRed">
          <span><strong>5</strong>秒钟后跳转到登陆页面……</span>
          <a ng-href="{{rzParams.homeUrl}}" target="_blank">立即跳转</a>
        </p>
      </div>
    </div>
  </div>
</div>
