<h4 class="logo text-center">
  <img src="/images/logo.png" alt="智夫子">
</h4>
<div class="col-md-10 col-md-offset-1">
  <div>
    <ul class="list-unstyled list-inline nav-tabs">
      <li ng-class="{'active': stepNum==1}">
        个人信息
      </li>
      <li ng-show="stepTwo" ng-class="{'active': stepNum==2}">
        学科选择
      </li>
      <li ng-show="stepThree" ng-class="{'active': stepNum==3}">
        确认信息
      </li>
    </ul>
    <div class="pull-right text-right mt10">
      <a ng-href="/renzheng" ng-click="registerBackTo(0)">返回登录</a>
      <a href="javascript:void(0)" class="ml15" ng-click="registerBackTo(1)">用户类型</a>
    </div>
  </div>
  <!-- FORM -->
  <form name="userForm">
    <div class="tab-content">
      <div class="tab-pane clearfix" ng-class="{'active': stepNum==1}">
        <!-- 用户名 -->
        <div class="form-group clearfix">
          <label class="col-sm-2 text-right">系统账号<strong class="clRed">*</strong></label>
          <div class="col-sm-6">
            <input type="text" name="yonghuming" placeholder="系统账号" tabindex="1" class="form-control"
                   ng-pattern="userNameRegexp" ng-minlength=4 ng-maxlength=30
                   ng-model="teacherInfo['用户名']" required autofocus="true"
                   ng-blur="checkUsrExist('yonghuming', teacherInfo['用户名'])"/>
            <p ng-show="userForm.yonghuming.$error.pattern" class="help-block yonghuming">系统账号格式不正确！</p>
            <p ng-show="yonghumingExist" class="help-block yonghuming">系统账号已存在！</p>
          </div>
          <div class="col-sm-4"><em>4-30个字符,由字母、数字和_组成,字母开头。</em></div>
        </div>
        <!-- 密码 -->
        <div class="form-group clearfix">
          <label class="col-sm-2 text-right">密码<strong class="clRed">*</strong></label>
          <div class="col-sm-6">
            <input type="password" name="mima" placeholder="密码" tabindex="2"
                   class="form-control regPassword" ng-minlength=6 ng-maxlength=20
                   ng-model="teacherInfo['密码']" ng-pattern="passwordRegexp" required
                   ng-blur="checkPassword()"/>
            <p ng-show="userForm.mima.$error.pattern" class="help-block">密码需要6-20个字符！</p>
          </div>
          <div class="col-sm-4"><em>6-20个字符</em></div>
        </div>
        <!-- 确认密码 -->
        <div class="form-group clearfix">
          <label class="col-sm-2 text-right">确认密码<strong class="clRed">*</strong></label>
          <div class="col-sm-6">
            <input type="password" name="confirmPassword" ng-model="teacherInfo['确认密码']"
                   data-password-verify="teacherInfo['密码']" ng-blur="checkPassword()"
                   required placeholder="确认密码" tabindex="3" class="form-control"/>
            <p class="help-block" ng-show="userForm.confirmPassword.$error.passwordVerify">
              确认密码和密码不匹配！
            </p>
            <p class="help-block" ng-show="ifPswTheSame">
              确认密码和密码不匹配！
            </p>
          </div>
          <div class="col-sm-4"><em>6-20个字符</em></div>
        </div>
        <!-- 邮箱 -->
        <div class="form-group clearfix">
          <label class="col-sm-2 text-right">邮箱<strong class="clRed">*</strong></label>
          <div class="col-sm-6">
            <input type="email" name="youxiang" placeholder="邮箱" tabindex="4" class="form-control"
                   ng-model="teacherInfo['邮箱']" ng-pattern="emailRegexp" required
                   ng-blur="checkUsrExist('youxiang', teacherInfo['邮箱'])"/>
            <p ng-show="userForm.youxiang.$error.pattern" class="help-block">请输入有效的邮箱地址！</p>
            <p ng-show="youxiangExist" class="help-block">邮箱地址已存在！</p>
          </div>
          <div class="col-sm-4"></div>
        </div>
        <!-- 真实姓名 -->
        <div class="form-group clearfix">
          <label class="col-sm-2 text-right">真实姓名<strong class="clRed">*</strong></label>
          <div class="col-sm-6">
            <input type="text" name="xingming" placeholder="真实姓名" tabindex="5" class="form-control"
                   ng-pattern="realNameRegexp"
                   ng-minlength=2 ng-maxlength=20 ng-model="teacherInfo['姓名']" required/>
            <p ng-show="userForm.xingming.$error.pattern" class="help-block">真实姓名格式不正确！</p>
          </div>
          <div class="col-sm-4"></div>
        </div>
        <!-- 手机号码 -->
        <div class="form-group clearfix">
          <label class="col-sm-2 text-right">手机号码<strong class="clRed">*</strong></label>
          <div class="col-sm-6">
            <input type="text" name="shouji" placeholder="手机号码" tabindex="6" class="form-control"
                   ng-pattern="/^[1][34578][0-9]{9}$/" ng-model="teacherInfo['手机']" required/>
            <p ng-show="userForm.shouji.$error.pattern" class="help-block">手机号码格式有误！</p>
          </div>
          <div class="col-sm-4"></div>
        </div>
        <!-- 提交按钮 -->
        <div class="form-group col-md-12 pull-left clearfix text-right">
          <span class="pull-left"><strong class="clRed">*</strong> 为必填项！</span>
          <button type="button" ng-click="validateTeacherInfo()" ng-disabled="userForm.yonghuming.$invalid
                               || yonghumingExist || userForm.mima.$invalid || userForm.confirmPassword.$invalid
                               || userForm.youxiang.$invalid || youxiangExist || userForm.xingming.$invalid ||
                               ifPswTheSame || userForm.shouji.$invalid" class="btn btn-success nextBtn">
            下一步<span></span>
          </button>
        </div>
      </div>
      <div class="tab-pane clearfix" ng-class="{'active': stepNum==2}">
        <div class="form-group col-md-12">
          <label><span>单位</span><span class="msgBox">此项不能为空！</span></label>
          <select class="form-control subOrganization" ng-model="selected_jg" ng-change="getJgId(selected_jg)"
                  ng-options="jg['学校ID'] as jg['学校名称'] for jg in jigou_list">
            <option value="">请选择</option>
          </select>
        </div>
        <div class="form-group col-md-12 pull-left objectWrap">
          <table class="table table-bordered">
            <tr>
              <th>科目</th>
              <th>职务</th>
            </tr>
            <tr>
              <td>
                <label class="radio-inline" ng-repeat="km in xxkm_list">
                  <input type="radio" name="objectName" value="{{km['科目ID']}}" ng-click="getKeMuVal(km)">
                  <span>{{km['科目名称']}}</span>
                </label>
              </td>
              <td>
                <label class="checkbox-inline" ng-repeat="js in juese_list">
                  <!--<input type="checkbox" name="rightName" value="{{js['角色ID']}}" ng-checked="js.ckd" ng-click="getJueSe(js)">-->
                  <input type="radio" value="{{js['角色ID']}}" ng-model="registerParam.sltJsId" ng-click="getJueSe(js)">
                  <span>{{js['角色名称']}}</span>
                </label>
              </td>
            </tr>
          </table>
          <div class="co676767">
            <p ng-repeat="km in xxkm_list" ng-if="km['角色'].length">
              <span ng-bind="km['科目名称'] + '：'"></span>
              <span class="mr10" ng-repeat="js in km['角色']">{{js['角色名称']}}</span>
            </p>
          </div>
        </div>
        <div class="form-group col-md-12 pull-left">
          <button type="button" class="btn btn-success prevBtn pull-left" ng-click="goToPersonInfo()">
            上一步<span></span>
          </button>
          <button type="button" class="btn btn-success nextBtn pull-right" ng-click="goToSubmit()"
                  ng-disabled="!registerParam.isSelectJs">
            下一步<span></span>
          </button>
        </div>
      </div>
      <div class="tab-pane clearfix" ng-class="{'active': stepNum==3}">
        <div class="col-md-6">
          <table class="table co676767">
            <tr>
              <td>
                用户名
              </td>
              <td ng-bind="teacherInfo['用户名']">
              </td>
            </tr>
            <tr>
              <td>
                姓名
              </td>
              <td ng-bind="teacherInfo['姓名']">
              </td>
            </tr>
            <tr>
              <td>
                邮箱
              </td>
              <td ng-bind="teacherInfo['邮箱']">
              </td>
            </tr>
            <tr>
              <td>
                手机
              </td>
              <td ng-bind="teacherInfo['手机']">
              </td>
            </tr>
            <tr>
              <td>
                学校
              </td>
              <td ng-bind="registerParam.selectJgName">
              </td>
            </tr>
            <tr>
              <th>
                科目
              </th>
              <th>
                职务
              </th>
            </tr>
            <tr ng-repeat="km in xxkm_list" ng-if="km['角色'].length">
              <td ng-bind="km['科目名称']"></td>
              <td>
                <span class="mr10" ng-repeat="js in km['角色']">{{js['角色名称']}}</span>
              </td>
            </tr>
          </table>
        </div>
        <div class="col-md-4 col-md-offset-1">
          <p class="register-hero cInfo">
            您申请的学科职务需要通过该学科负责人审核之后才可生效，请及时通知学科负责人并耐心等待
          </p>
        </div>
        <div class="col-md-12 pb10">
          <button type="button" class="btn btn-success prevBtn pull-left" ng-click="goToJueSe()">
            上一步<span></span>
          </button>
          <button type="button" class="btn btn-success submitBtn pull-right"
                  ng-click="submitRegisterInfo()">
            提交<span></span>
          </button>
        </div>
      </div>
    </div>
  </form>
</div>
