<h4 class="admin-title">
  <span>公共知识大纲</span>
  <a href="javascript:void(0)" ng-click="addNewPubDaGang()" ng-show="selected_km">新增</a>
</h4>
<div class="dagangInput setDaGangBox">
  <div class="row">
    <div class="col-md-6">
      <select class="form-control" ng-model="ly_id" ng-change="getLingYuKeMu(ly_id)" ng-options="ly['领域ID'] as ly['领域名称'] for ly in setZsdLingYu">
        <option value="">请选择领域</option>
      </select>
    </div>
    <div class="col-md-6">
      <select class="form-control daGangLySelect" ng-options="km['科目ID'] as km['科目名称'] for km in lyKeMu"
              ng-model="selected_km" ng-change="getPubDaGangList(selected_km)">
        <option value="">请选择科目</option>
      </select>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <select class="form-control daGangListSelect" ng-model="adminParams.selected_dg" ng-change="getPubDgZsdData(adminParams.selected_dg)"
              ng-options="dg['知识大纲ID'] as dg['知识大纲名称'] for dg in pubZsdgList">
        <option value="">请选择大纲</option>
      </select>
    </div>
  </div>
  <div class="media dagangBox dgLevel_0">
    <div class="media-body" ng-if="pubZsdgData">
      <!-- 大纲名称 -->
      <div class="media-heading">
        <div class="input-group col-md-8">
          <input type="text" class="form-control" ng-model="pubZsdgData['知识大纲名称']">
              <span class="input-group-btn">
                 <button class="btn btn-default dgAddBtn" ng-click="dgAddNd(pubZsdgData, 'jd')" type="button">
                   <span class="glyphicon glyphicon-plus"> </span>
                 </button>
              </span>
        </div>
      </div>
      <!-- 一级 -->
      <div ng-repeat="nd1 in pubZsdgData['节点']" class="media dgLevel_1">
        <a class="media-object pull-left"></a>
        <div class="media-body">
          <div class="media-heading">
            <div class="input-group col-md-8">
              <input type="text" class="form-control" ng-model="nd1['知识点名称']"
                     ng-focus="getInputIndex(nd1)" ng-blur="compareInputVal(nd1)">
                <span class="input-group-btn">
                   <button class="btn btn-default dgAddBtn dgAddBtn_1" ng-click="dgAddNd(nd1)" type="button">
                     <span class="glyphicon glyphicon-plus"></span>
                   </button>
                   <button class="btn btn-default dgDeleteBtn" type="button" ng-click="dgRemoveNd(pubZsdgData, nd1, $index)">
                     <span class="glyphicon glyphicon-trash"> </span>
                   </button>
                </span>
            </div>
          </div>
          <!-- 二级 -->
          <div ng-repeat="nd2 in nd1['子节点']" class="media dgLevel_2">
            <a class="media-object pull-left"></a>
            <div class="media-body">
              <div class="media-heading">
                <div class="input-group col-md-8">
                  <input type="text" class="form-control" ng-model="nd2['知识点名称']"
                         ng-focus="getInputIndex(nd2)" ng-blur="compareInputVal(nd2)">
                    <span class="input-group-btn">
                      <button class="btn btn-default dgAddBtn dgAddBtn_2" ng-click="dgAddNd(nd2)" type="button">
                        <span class="glyphicon glyphicon-plus"> </span>
                      </button>
                       <button class="btn btn-default dgDeleteBtn" type="button" ng-click="dgRemoveNd(nd1, nd2, $index)">
                         <span class="glyphicon glyphicon-trash"> </span>
                       </button>
                    </span>
                </div>
              </div>
              <!-- 三级 -->
              <div ng-repeat="nd3 in nd2['子节点']" class="media dgLevel_3">
                <a class="media-object pull-left"> </a>
                <div class="media-body">
                  <div class="media-heading">
                    <div class="input-group col-md-8">
                      <input type="text" class="form-control" ng-model="nd3['知识点名称']"
                             ng-focus="getInputIndex(nd3)" ng-blur="compareInputVal()">
                      <span class="input-group-btn">
                        <button class="btn btn-default dgDeleteBtn" ng-click="dgRemoveNd(nd2, nd3, $index)" type="button">
                          <span class="glyphicon glyphicon-trash"> </span>
                        </button>
                      </span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="publicKnowledgeBox">
    <h4>
      <strong>已有知识点:</strong>
      <!--<select class="form-control daGangLySelect" ng-options="km['科目ID'] as km['科目名称'] for km in lyKeMu"-->
              <!--ng-model="slt_km" ng-change="getHasPubZsd(slt_km)">-->
        <!--<option value="">请选择科目</option>-->
      <!--</select>-->
    </h4>
    <div class="publicKnowledge" ng-show="publicKnowledge.length">
      <p ng-repeat="zsd in publicKnowledge" title="点击加入到知识大纲">
        <span ng-bind="zsd['知识点名称']" ng-click="addToDaGang(zsd, $index)"></span>
      </p>
    </div>
  </div>
</div>
<div class="save-box">
  <button class="btn btn-primary" ng-click="deletePublicDaGang()" ng-show="adminParams.selected_dg">删除</button>
  <button class="btn btn-primary" ng-click="saveDaGangData()" ng-disabled="adminParams.saveDGBtnDisabled">保存</button>
</div>
