<h4>领域设置</h4>
<div class="dagangInput">
  <div class="media dagangBox selectLingYu dgLevel_0">
    <div class="media-body">
      <div class="media-heading">
        <div class="input-group col-md-6">
          <div class="form-control all-lingYu">所有领域和科目</div>
        </div>
      </div>
      <!--领域 -->
      <div ng-repeat="ly in lingyu_list" class="media dgLevel_1">
        <a class="media-object pull-left"></a>
        <div class="media-body">
          <div class="media-heading">
            <div class="input-group col-md-6">
              <div class="form-control" ng-bind="ly['领域名称']"></div>
                <span class="input-group-addon">
                  <input type="checkbox" value="{{ly['领域ID']}}" ng-click="addKeMuToSelect(ly)" ng-checked="ly.ckd">
                </span>
            </div>
          </div>
          <!-- 科目 -->
          <div ng-repeat="km in ly['科目']" class="media dgLevel_2">
            <a class="media-object pull-left"></a>
            <div class="media-body">
              <div class="media-heading">
                <div class="input-group col-md-6">
                  <div class="form-control" ng-bind="km['科目名称']"></div>
                    <span class="input-group-addon">
                      <input type="checkbox" value="{{km['科目ID']}}" ng-click="addKeMuToSelect(ly, km)" ng-checked="km.ckd">
                    </span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--已选科目-->
  <div class="selected-lingYu">
    <h4><strong>已选科目:</strong></h4>
    <div ng-repeat="skm in jgSelectKeMu">
      <p>
        <span ng-bind="skm['科目名称']"></span>
          <span class="glyphicon glyphicon-remove delete-select-ly pull-right" title="删除已选科目" ng-click="deleteSelectedKeMu($index, skm)">
          </span>
      </p>
    </div>
  </div>
</div>
<div class="save-box">
  <button class="btn btn-primary" ng-click="saveChooseKeMu()">保存</button>
</div>
