<div class="guanLiWrapper">
  <div class="sub-nav fixed-top">
    <ul class="nav nav-tabs">
      <!--<li ng-class="{active: guanliParams.tabActive == 'people'}">-->
        <!--<a href="javascript:void(0)" ng-click="guanLiTabSlide('people')">人员管理</a>-->
      <!--</li>-->
      <li ng-class="{active: guanliParams.tabActive == 'kexuhao'}">
        <a href="javascript:void(0)" ng-click="guanLiTabSlide('kexuhao')">课序号管理</a>
      </li>
      <!--<li ng-class="{active: guanliParams.tabActive == 'bumen'}">-->
        <!--<a href="javascript:void(0)" ng-click="guanLiTabSlide('bumen')">部门管理</a>-->
      <!--</li>-->
      <li ng-class="{active: guanliParams.tabActive == 'tongji'}">
        <a href="javascript:void(0)" ng-click="guanLiTabSlide('tongji')">统计设定</a>
      </li>
      <!--<li>-->
        <!--<a href="javascript:void(0)" ng-click="getAvalue()">返回A</a>-->
      <!--</li>-->
    </ul>
  </div>
  <div class="loading-box text-center" ng-show="loadingImgShow">
    <img src="/images/loading.gif" alt="" width="64" height="64"/>
    <p>
      数据保存中……
    </p>
  </div>
  <div class="tab-content" ng-include="guanLiTpl">
  </div>
</div>
