<div class="row">
    <div class="col-md-12">
        <div class="form-horizontal">
            <div class="form-header">
              <div class="form-group">
                <label class="col-sm-1 control-label">题目来源</label>
                <div class="col-sm-8">
                  <select class="form-control" ng-model="duoXuanData.shuju.TIMULAIYUAN_ID"
                          ng-options="tmly.TIMULAIYUAN_ID as tmly.LAIYUANMINGCHENG for tmly in mingTiParam.tiMuLaiYuan">
                    <option value="">请选择题目来源</option>
                  </select>
                </div>
              </div>
                <div class="form-group zsdNameBox">
                    <div class="col-sm-8 col-sm-offset-1">
                        知识点：【<span ng-bind="selectZhiShiDian"></span>】
                    </div>
                </div>
                <div class="form-group answerBox" ng-hide="hideDuoXuanEdt" ng-init="hideDuoXuanEdt=false">
                    <div class="col-sm-8 col-sm-offset-1 text-right">
                        <a href="javascript:void(0)" ng-click="showDuoXuanTiGanEditor();hideDuoXuanEdt=true">题干编辑器</a>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-1 control-label">题目</label>
                    <div class="col-sm-8">
                        <textarea class="form-control formulaEditTiGan" rows="5" ng-model="duoXuanData.shuju.TIGAN"
                                  placeholder="请输入题干" ng-change="previewTiGan()"></textarea>
                        <div class="previewBox" ng-show="hideDuoXuanEdt">
                            <h4 class="title">
                                <span class="pull-left">
                                    内容预览：
                                </span>
                                <span class="pull-right" ng-click="removeTiGanEditor();hideDuoXuanEdt=false">
                                    关闭题干编辑器
                                </span>
                            </h4>
                            <div id="prevDoc">
                            </div>
                        </div>
                    </div>
                </div>
                <!--<div class="form-group">-->
                    <!--<label class="col-sm-1 control-label">题目</label>-->
                    <!--<div class="col-sm-8">-->
                        <!--<textarea class="form-control" rows="3" ng-model="duoXuanData.shuju.TIGAN" placeholder="请输入题干">-->
                        <!--</textarea>-->
                    <!--</div>-->
                <!--</div>-->
                <div class="form-group fileUploadBox">
                    <div id="mediaPlugin">
                        <div class="mediaPluginInner">
                            <div class="row">
                                <p class="uploadBtnBox">
                                    <input type="file" file-upload multiple class="pull-left hide addFileBtn"/>
                                    <button ng-click="addMyFile()" class="btn btn-default pull-left">添加文件</button>
                                    <span ng-show="uploadFiles.length">{{uploadFiles.length}}个文件</span>
                                    <button ng-click="uploadMyFiles()" class="btn btn-default pull-right">添加到编辑器</button>
                                </p>
                                <p ng-repeat="fl in uploadFiles track by $index">
                                    <span ng-bind="fl.name"></span>
                                    <span ng-bind="(fl.size/1024).toFixed(2) + 'KB'"></span>
                                    <span class="glyphicon glyphicon-remove" ng-click="deleteSelectFile($index)"></span>
                                </p>
                            </div>
                            <div class="closeBtn">
                                <a href="javascript:void(0)" ng-click="closeMediaPlugin()">关闭</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-body">
                <div class="form-group" ng-show='showDuoXuanTiZhiEdt'>
                    <div class="col-sm-8 col-sm-offset-1">
                        <textarea class="form-control formulaEditTiZhi" rows="5" ng-model="xuanZheTiZhi"
                                  ng-change="previewTiZhi()"></textarea>
                        <div class="previewBox">
                            <h4 class="title">
                            <span class="pull-left">
                                内容预览：
                            </span>
                            </h4>
                            <div id="prevTiZhiDoc">
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-8 col-sm-offset-1 assignment-box">
                        <span>将题支编辑器的内容赋值给选项：</span>
                        <label class="radio-inline" ng-repeat="num in loopArr">
                            <input type="radio" name="fuzhi" value="$index" ng-click='fuZhiFun($index)'>
                            {{letterArr[$index]}}
                        </label>
                    </div>
                </div>
                <div class="form-group answerBox">
                    <div class="col-sm-8 col-sm-offset-1 text-right">
                        <a href="javascript:void(0)" ng-click="showDuoXuanTiZhiEditor();showDuoXuanTiZhiEdt=true"
                           ng-hide="showDuoXuanTiZhiEdt">题支编辑器</a>
                        <a href="javascript:void(0)" ng-click="removeTiZhiEditor();showDuoXuanTiZhiEdt=false"
                           ng-show="showDuoXuanTiZhiEdt">隐藏题支编辑器</a>
                    </div>
                    <div class="col-sm-3">
                        正确答案
                    </div>
                </div>
                <div class="form-group tizhiWrap" ng-repeat="tznr in loopArr">
                    <label class="col-sm-1 control-label">{{letterArr[$index]}}.</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control tiZhi" placeholder="请输入选项" ng-model="tznr.itemVal">
                    </div>
                    <div class="col-sm-2">
                      <span class="glyphicon glyphicon-minus-sign delete-this-tiem" ng-click="deleteOneItem($index, tznr)"></span>
                      <div class="radio {{'answer' + $index}}" ng-class="{'radio-select':tznr.ckd}" ng-click="chooseDaAn(tznr,'duo')">
                        <span class="glyphicon glyphicon-ok"></span>
                      </div>
                    </div>
                </div>
            </div>
            <div class="form-footer">
                <div class="form-group">
                    <a href="javascript:void(0)" id="add-one-item" title="增加一项" ng-click="addOneItem()"
                       class="col-sm-1 control-label text-right add-btn">
                        <span class="glyphicon glyphicon-plus-sign"></span> </a>
                </div>
                <div class="form-group nandu-select">
                    <label class="col-sm-1 control-label">难度：</label>
                    <div class="col-sm-5">
                        <div class="nandu-star-box" nandu-star>
                            <a href="javascript:void(0)"></a>
                            <a href="javascript:void(0)"></a>
                            <a href="javascript:void(0)"></a>
                            <a href="javascript:void(0)"></a>
                            <a href="javascript:void(0)"></a>
                            <input type="text" class="hide nandu-input" value="">
                        </div>
                    </div>
                    <div class="col-sm-3 text-right pt10" ng-init="showRemarkInput=false">
                      <a href="javascript:void(0)" ng-hide="showRemarkInput" ng-click="showRemarkInput=true">备注</a>
                      <a href="javascript:void(0)" ng-show="showRemarkInput" ng-click="showRemarkInput=false">关闭备注</a>
                    </div>
                </div>
                <div class="form-group" ng-show="showRemarkInput">
                  <label class="col-sm-1 control-label">备注</label>
                  <div class="col-sm-8">
                    <textarea class="form-control" rows="5" ng-model="duoXuanData.shuju.REMARK" placeholder="备注"></textarea>
                  </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-1 col-sm-8 text-right">
                        <button type="button" class="btn btn-primary" ng-click="saveDuoxuanEdit()">
                            保存
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
