<div class="row">
    <div class="loading-box text-center" ng-show="loadingImgShow">
        <img src="/images/loading.gif" alt="" width="64" height="64"/>
        <p>
            数据保存中……
        </p>
    </div>
    <div class="col-md-12">
        <div class="form-horizontal">
            <div class="form-header">
              <div class="form-group">
                <label class="col-sm-1 control-label">题目来源</label>
                <div class="col-sm-8">
                  <select class="form-control" ng-model="jiSuanData.shuju.TIMULAIYUAN_ID"
                          ng-options="tmly.TIMULAIYUAN_ID as tmly.LAIYUANMINGCHENG for tmly in mingTiParam.tiMuLaiYuan">
                    <option value="">请选择题目来源</option>
                  </select>
                </div>
              </div>
                <div class="form-group zsdNameBox">
                    <div class="col-sm-8 col-sm-offset-1">
                        知识点：【<span ng-bind="selectZhiShiDian"></span>】
                    </div>
                </div>
                <div class="form-group answerBox" ng-hide="hideJiSuanTiGanEdt" ng-init="hideJiSuanTiGanEdt=false">
                    <div class="col-sm-8 col-sm-offset-1 text-right">
                        <a href="javascript:void(0)" ng-click="showJiSuanTiGanEditor();hideJiSuanTiGanEdt=true">
                            题干编辑器</a>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-1 control-label">题目</label>
                    <div class="col-sm-8">
                        <textarea class="form-control formulaEditTiGan" rows="6" ng-model="jiSuanData.shuju.TIGAN"
                            placeholder="请输入计算题题干" ng-change="previewTiGan()"></textarea>
                        <div class="previewBox" ng-show="hideJiSuanTiGanEdt">
                            <h4 class="title">
                                <span class="pull-left">
                                    内容预览：
                                </span>
                                <span class="pull-right" ng-click="removeTiGanEditor();hideJiSuanTiGanEdt=false">
                                    关闭题干编辑器
                                </span>
                            </h4>
                            <div id="prevDoc">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group fileUploadBox">
                    <div id="mediaPlugin">
                        <div class="mediaPluginInner">
                            <div class="row">
                                <p class="uploadBtnBox">
                                    <input type="file" file-upload multiple class="pull-left hide addFileBtn"/>
                                    <button ng-click="addMyFile()" class="btn btn-default pull-left">添加文件</button>
                                    <span ng-show="uploadFiles.length">{{uploadFiles.length}}个文件</span>
                                    <button ng-click="uploadMyFiles()" class="btn btn-default pull-right">添加到编辑器</button>
                                </p>
                                <p ng-repeat="fl in uploadFiles track by $index">
                                    <span ng-bind="fl.name"></span>
                                    <span ng-bind="(fl.size/1024).toFixed(2) + 'KB'"></span>
                                    <span class="glyphicon glyphicon-remove" ng-click="deleteSelectFile($index)"></span>
                                </p>
                            </div>
                            <div class="closeBtn">
                                <a href="javascript:void(0)" ng-click="closeMediaPlugin()">关闭</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-body">
                <div class="form-group answerBox" ng-hide="hideJiSuanDaAnEdt" ng-init="hideJiSuanDaAnEdt=false">
                    <div class="col-sm-8 col-sm-offset-1 text-right">
                        <a href="javascript:void(0)" ng-click="showJiSuanDaAnEditor();hideJiSuanDaAnEdt=true">
                            答案编辑器</a>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-1 control-label">答案</label>
                    <div class="col-sm-8">
                        <textarea class="form-control formulaEditTiZhi" rows="6" ng-model="jiSuanData.shuju.DAAN"
                            placeholder="请输入标准答案" ng-change="previewTiZhi()"></textarea>
                        <div class="previewBox" ng-show="hideJiSuanDaAnEdt">
                            <h4 class="title">
                                <span class="pull-left">
                                    内容预览：
                                </span>
                                <span class="pull-right" ng-click="removeTiZhiEditor('9');hideJiSuanDaAnEdt=false">
                                    关闭答案编辑器
                                </span>
                            </h4>
                            <div id="prevTiZhiDoc">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-footer">
                <div class="form-group nandu-select">
                    <label class="col-sm-1 control-label">难度</label>
                    <div class="col-sm-5">
                        <div class="nandu-star-box" nandu-star>
                            <a href="javascript:void(0)"></a>
                            <a href="javascript:void(0)"></a>
                            <a href="javascript:void(0)"></a>
                            <a href="javascript:void(0)"></a>
                            <a href="javascript:void(0)"></a>
                            <input type="text" class="hide nandu-input" value="">
                        </div>
                    </div>
                    <div class="col-sm-3 text-right pt10" ng-init="showRemarkInput=false">
                      <a href="javascript:void(0)" ng-hide="showRemarkInput" ng-click="showRemarkInput=true">备注</a>
                      <a href="javascript:void(0)" ng-show="showRemarkInput" ng-click="showRemarkInput=false">关闭备注</a>
                    </div>
                </div>
              <div class="form-group" ng-show="showRemarkInput">
                <label class="col-sm-1 control-label">备注</label>
                <div class="col-sm-8">
                  <textarea class="form-control" rows="5" ng-model="jiSuanData.shuju.REMARK" placeholder="备注"></textarea>
                </div>
              </div>
                <div class="form-group">
                    <div class="col-sm-offset-1 col-sm-8 text-right">
                        <button type="button" class="btn btn-primary pull-right" ng-click="addAskAnswerShiTi('jisuan_data')">
                            保存
                        </button>
                        <div class="pull-left" ng-show="mingTiParam.isConvertTiXing">
                            <select ng-model="mingTiParam.tiXingId"
                                    class="form-control pull-left w200 h28 mr5 ng-pristine ng-valid"
                                    ng-options="tx.txId as tx.txName for tx in tiXingIdArr">
                                <option value="" class="">请选择要转换的题型</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
