<div class="innerWrap innerWrapperSubDs mingtiWrapper">
  <!--第二级控制面板代码，包含科目和大纲内容。 开始-->
  <div id="dagangListWrap" class="subDashboard">
    <div class="plr10">
      <h2 class="sdb-title">科目名称</h2>
      <p ng-bind="defaultKeMu['科目名称']" class="sdb-cont cYell"></p>
    </div>
    <div class="plr10">
      <h2 class="sdb-title">题库默认大纲</h2>
      <select class="form-control" ng-model="mingTiParam.slt_dg" ng-change="getDgZsdData(mingTiParam.slt_dg)"
              ng-options="dg['知识大纲ID'] as dg['知识大纲名称'] for dg in dgList">
        <option value="">请选择大纲</option>
      </select>
      <!--<p ng-bind="kowledgeList['知识大纲名称']" class="sdb-cont-dg cYell"></p>-->
    </div>
    <div class="pointTree">
      <ul class="list-unstyled levelOne" id="daGangList">
        <li ng-repeat="nd1 in kowledgeList['节点']">
          <div class="foldBtn pull-left" ng-class="{unfoldBtn: nd1.fld}" ng-show="nd1['子节点'].length" ng-click="toggleChildNode(nd1)"></div>
          <div class="checkbox">
            <label><input type="checkbox" name="point" ng-checked="nd1.ckd" ng-click="toggleSelection(nd1)"/>
              {{nd1['知识点名称']}}
            </label>
          </div>
          <ul class="list-unstyled" ng-show="nd1.fld">
            <li ng-repeat="nd2 in nd1['子节点']">
              <div class="foldBtn pull-left" ng-class="{unfoldBtn: nd2.fld}" ng-show="nd2['子节点'].length" ng-click="toggleChildNode(nd2)"></div>
              <div class="checkbox">
                <label><input type="checkbox" name="point" ng-checked="nd2.ckd" ng-click="toggleSelection(nd2)"/>
                  {{nd2['知识点名称']}}
                </label>
              </div>
              <ul class="list-unstyled" ng-show="nd2.fld">
                <li ng-repeat="nd3 in nd2['子节点']">
                  <div class="foldBtn pull-left" ng-class="{unfoldBtn: nd3.fld}" ng-show="nd3['子节点'].length" ng-click="toggleChildNode(nd3)"></div>
                  <div class="checkbox">
                    <label>
                      <input type="checkbox" name="point" ng-checked="nd3.ckd" ng-click="toggleSelection(nd3)"/>
                      {{nd3['知识点名称']}}
                    </label>
                  </div>
                  <ul class="list-unstyled levelFour" ng-show="nd3.fld">
                    <li ng-repeat="nd4 in nd3['子节点']">
                      <div class="checkbox">
                        <label>
                          <input type="checkbox" name="point" ng-checked="nd4.ckd" ng-click="toggleSelection(nd4)"/>
                          {{nd4['知识点名称']}}
                        </label>
                      </div>
                    </li>
                  </ul>
                </li>
              </ul>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
  <!--第二级控制面板代码，包含科目和大纲内容。 结束-->
  <div class="content">
    <!--题型和难度DOM元素， 开始-->
    <div class="kmTxWrap fixed-top">
      <div ng-hide="patternListToggle || alterTiXingBox">
        <div class="kmTxBox" ng-init="txSelectenIdx = 0">
          <ul class="list-inline kmTxNdList pull-left getTiXingIdList">
            <li>
              <a href="javascript:void(0)" ng-click="getTiXingId()" ng-class="{active:txSelectenIdx == 0}">全部题型</a>
            </li>
            <li ng-repeat="kmtx in kmtxList">
              <a href="javascript:void(0)" ng-click="getTiXingId(kmtx['题型ID'])" ng-class="{active:txSelectenIdx == kmtx['题型ID']}">{{kmtx['题型名称']}}</a>
            </li>
          </ul>
        </div>
        <div class="nanduBox">
          <label class="checkbox-inline mr10 active" style="padding-left: 10px;">
            题目难度
          </label>
          <label class="checkbox-inline mr15" ng-repeat="nd in nanDuList">
            <input type="checkbox" value="nd['难度ID']" ng-checked="nd.ckd" ng-click="getNanDuId(nd)"> {{nd['难度名称']}}
          </label>
        </div>
      </div>
      <ul class="patternList list-unstyled list-inline" ng-init="patternListToggle = false" ng-show="patternListToggle">
        <li>
          <a>请选择你要添加的题型：</a>
        </li>
        <li ng-repeat="kmtx in kmtxList" ng-class="{active:newTiMuId == kmtx['题型ID']}">
          <a href="javascript:void(0)" ng-click="addTiMuTpl(kmtx['题型ID'])">{{kmtx['题型名称']}}</a>
        </li>
      </ul>
      <div class="alterTiXingBox" ng-show="alterTiXingBox">
        <span>目前你修改的题型为：<strong class="active">{{alterTiMuTiXing}}</strong></span>
      </div>
      <div class="addNewTiMuBtn">
        <button type="button" class="btn btn-danger" ng-show="patternListToggle || alterTiXingBox" ng-click="cancelAddPattern()">返回
        </button>
      </div>
    </div>
    <!--题型和难度DOM元素， 结束-->
    <div class="contentWraps" ng-init="txTpl = 'views/mingti/testList.html'" ng-include="txTpl"></div>
  </div>
</div>
