<div class="row">
  <div class="total-test clearfix">
    <div class="loading-box text-center" ng-show="loadingImgShow">
      <img src="/images/loading.gif" alt="" width="64" height="64"/>
      <p>数据加载中，请耐心等待……</p>
    </div>
    <div class="pull-left">
      <a href="javascript:void(0)" class="btn btn-primary" ng-hide="patternListToggle || alterTiXingBox" ng-click="addNewShiTi()">
        <span class="glyphicon glyphicon-plus"></span> 添加试题
      </a>
    </div>
    <div class="pull-left allTestNums">
      共<strong ng-bind="testListId.length"></strong>题
    </div>
    <div class="pull-right">
      <div class="pull-left">
        <form>
          <input type="text" ng-model="mingTiParam.tiMuId" placeholder="题目ID" class="pull-left w80 mr5 h28"
                 onkeyup="if(isNaN(value))execCommand('undo')"
                 onafterpaste="if(isNaN(value))execCommand('undo')"/>
          <button type="submit" class="btn btn-primary" ng-click="qryTestByTiMuId()">查询</button>
        </form>
      </div>
      <div class="pull-left ml10">
        <select ng-model="mingTiParam.tiMuAuthorId" class="form-control pull-right w200 h28 mr5"
                ng-change="qryTiMuByChuTiRenId()"
                ng-options="ctr.UID as ctr.XINGMING for ctr in chuTiRens">
          <option value="">请选择出题人</option>
        </select>
      </div>
    </div>
    <div class="pull-left checkbox">
      <label>
        <input type="checkbox" ng-model="isCheckSchoolTiKu" ng-change="checkSchoolTiMu(isCheckSchoolTiKu)">
        查看公共题库
      </label>
      <!--<a href="javascript:void(0)" ng-click="queryZsdTiMuNum()">查询题目数量</a>-->
    </div>
  </div>
  <ul class="list-unstyled testList" id="testList">
    <li ng-repeat="tm in timudetails" class="delete_{{tm.TIMU_ID}} pr130" repeat-done>
      <div class="item-sub-title pull-left">
        <p class="knowledge-point">
          题型：<span ng-bind="tiXingNameArr[tm.TIXING_ID-1]"></span>
        </p>
        <p class="knowledge-point-zsd">
          知识点：<span ng-repeat="zsd in tm.ZHISHIDIAN">【{{zsd.ZHISHIDIANMINGCHENG}}】</span>
        </p>
        <p class="level-num">
          难易度：<span class="pull-right level-star-{{tm.NANDU_ID}}"></span>
        </p>
        <p class="knowledge-point">
          出题人：<span class="pull-right" ng-bind="tm.chuangjianren"></span>
        </p>
        <p class="knowledge-point">
          ID：<span class="pull-right" ng-bind="tm.TIMU_ID"></span>
        </p>
        <p>
          创建时间：{{tm.CREATE_TIME | myLocalDate | date : 'yyyy-MM-dd'}}
        </p>
        <div class="editWrap" ng-show="tm.CHUANGJIANREN_UID == caozuoyuan || isPromiseAlterOthersTimu">
          <button type="button" class="btn btn-default" ng-click="deleteItem(tm.TIMU_ID, $index)">删除</button>
          <button type="button" class="btn btn-default" ng-click="patternListToggle = true; editItem(tm)">修改</button>
        </div>
      </div>
      <div class="item-cont" bn-slide-show slide-show-target="answer-cont" slide-show-idx="{{$index}}" title="显示答案">
        <h3 class="item-tigan" ng-bind-html="tm.TIGAN.tiGan"></h3>
        <div class="item-tizhi-wrap">
          <p class="item-tizhi" ng-repeat="tz in tm.TIGAN.tiZhiNeiRong track by $index">
            <span ng-cloak>{{'(' + letterArr[$index] + ')'}}</span>
            <span class="tiZhiSpan" ng-bind-html="tz"></span>
          </p>
        </div>
      </div>
      <div class="answer-cont">
        <div class="positionRe">
          <span class="daAnLabel">答案：</span>
          <div class="daAnBox" ng-bind-html="tm.DAAN"></div>
        </div>
        <div class="positionRe" ng-show="tm.TIMULAIYUAN[0].LAIYUANMINGCHENG">
          <span class="daAnLabel">来源：</span>
          <div class="daAnBox" ng-bind-html="tm.TIMULAIYUAN[0].LAIYUANMINGCHENG"></div>
        </div>
        <div class="positionRe" ng-show="tm.REMARK">
          <span class="daAnLabel">备注：</span>
          <div class="daAnBox" ng-bind-html="tm.REMARK"></div>
        </div>
      </div>
    </li>
  </ul>
  <div class="paging text-right">
    <ul class="pagination pagination-sm" ng-hide="!testListId.length">
      <li ng-class="{disabled: currentPageNum == 1}">
        <a href ng-click="getThisPageData(1)">首页</a>
      </li>
      <li ng-class="{disabled: currentPageNum == 1}">
        <a href
           ng-click="getThisPageData(prevPg = currentPageNum > 1 ? currentPageNum - 1 : 1)">
          上一页
        </a>
      </li>
      <li ng-repeat="pg in pages track by $index" ng-class="{active: currentPageNum == pg}">
        <a href ng-click="getThisPageData(pg)">{{pg}}</a>
      </li>
      <li ng-class="{disabled: currentPageNum == lastPageNum}">
        <a href
           ng-click="getThisPageData(nextPg = currentPageNum < lastPageNum ? currentPageNum + 1 : lastPageNum)">
          下一页
        </a>
      </li>
      <li ng-class="{disabled: currentPageNum == lastPageNum}">
        <a href ng-click="getThisPageData(lastPageNum)">尾页</a>
      </li>
    </ul>
    <div>
      <span>共 <strong ng-bind="lastPageNum"></strong> 页，</span>
      <span>跳转到</span>
      <input type="text" ng-model="mingTiParam.goToPageNum" class="w110" onkeyup="if(isNaN(value))execCommand('undo')"
             onafterpaste="if(isNaN(value))execCommand('undo')"/>
      <span>页</span>
      <button ng-click="getFixedPageData()">GO</button>
    </div>
  </div>
</div>
