<div class="renzhengWrapper">
  <div class="row registerBox">
    <div class="bg">
    </div>
    <h4 class="logo text-center">
      <img src="/images/logo.png" alt="智夫子">
    </h4>
    <div class="col-md-10 col-md-offset-1 infoBox">
      <!-- FORM -->
      <form name="studForm">
        <div class="tab-content">
          <div class="col-md-6 col-md-offset-3">
            <div class="tab-pane clearfix active">
              <!-- 选择学校 -->
              <div class="form-group col-md-12">
                <label ng-show="jigou_list">选择学校<strong class="clRed">*</strong><em></em></label>
                <select class="form-control" ng-options="jg.JIGOU_ID as jg.JIGOUMINGCHENG for jg in jigou_list"
                        ng-model="stuRegisterInfo.jigouid" ng-show="jigou_list">
                  <option value="">请选择</option>
                </select>
                <p ng-hide="jigou_list">没有相关学校信息，请刷新尝试！</p>
              </div>
              <!-- 下一步 -->
              <div class="form-group col-md-12 pull-left text-right">
                <button type="button" ng-disabled="!stuRegisterInfo.jigouid" class="btn btn-success nextBtn"
                        ng-click="stuShowStepTwo()">
                  下一步<span></span>
                </button>
              </div>
            </div>
            <div class="tab-pane clearfix">
              <!-- 学号 -->
              <div class="form-group col-md-12">
                <label>学号<strong class="clRed">*</strong></label>
                <input type="text" name="xuehao" placeholder="学号" tabindex="1" class="form-control" ng-disabled="ifTheStuHasRegister"
                       ng-pattern="xuHaoRegexp" ng-model="stuRegisterInfo.xuehao" required autofocus="true"/>
                <p ng-show="studForm.xuehao.$error.pattern" class="help-block yonghuming">学号格式不正确！</p>
              </div>
              <!-- 姓名 -->
              <div class="form-group col-md-12">
                <label>姓名<strong class="clRed">*</strong></label>
                <input id="xingMing" type="text" name="xingMing" placeholder="姓名" tabindex="2" class="form-control" ng-disabled="ifTheStuHasRegister"
                       ng-model="stuRegisterInfo.xingming" required/>
                <!--<p ng-show="studForm.xingMing.$error.pattern" class="help-block">姓名格式不正确！</p>-->
              </div>
              <div ng-show="ifTheStuHasRegister">
                <!-- 邮箱 -->
                <div class="form-group col-md-12">
                  <label>邮箱<strong class="clRed">*</strong></label>
                  <input type="email" name="youxiang" placeholder="邮箱" tabindex="3" class="form-control"
                         ng-model="stuRegisterInfo.youxiang" ng-pattern="emailRegexp" required/>
                  <p ng-show="studForm.youxiang.$error.pattern" class="help-block">请输入有效的邮箱地址！</p>
                </div>
                <!-- 密码 -->
                <div class="form-group col-md-12">
                  <label>密码 <strong class="clRed">*</strong> <em>(6-20个字符)</em></label>
                  <input type="password" name="mima" placeholder="密码" tabindex="4"
                         class="form-control regPassword" ng-minlength=6 ng-maxlength=20
                         ng-model="stuRegisterInfo.mima" ng-pattern="passwordRegexp" required
                         ng-change="stuCheckPassword()"/>
                  <p ng-show="studForm.mima.$error.pattern" class="help-block">密码需要6-20个字符！</p>
                </div>
                <!-- 确认密码 -->
                <div class="form-group col-md-12">
                  <label>确认密码<strong class="clRed">*</strong><em>(6-20个字符)</em></label>
                  <input type="password" name="confirmPassword" ng-model="stuRegisterInfo.mima_verify"
                         data-password-verify="stuRegisterInfo.mima" ng-change="stuCheckPassword()"
                         required placeholder="确认密码" tabindex="5" class="form-control" />
                  <p class="help-block" ng-show="studForm.confirmPassword.$error.passwordVerify">
                    确认密码和密码不匹配！
                  </p>
                  <p class="help-block" ng-show="stuIfPswTheSame">
                    确认密码和密码不匹配！
                  </p>
                </div>
              </div>
              <div class="form-group col-md-12 pull-left">
                <button type="button" class="btn btn-success prevBtn pull-left" ng-click="stuShowStepOne()">
                  上一步<span></span>
                </button>
                <button type="button" class="btn btn-success nextBtn pull-right" ng-click="confirmTheStuIn()"
                        ng-disabled="studForm.xuehao.$invalid"
                        ng-hide="ifTheStuHasRegister">
                  下一步<span></span>
                </button>
                <button type="button" class="btn btn-success submitBtn pull-right" ng-click="saveStudentInfo()"
                  ng-show="ifTheStuHasRegister" ng-disabled="studForm.xuehao.$invalid ||
                  studForm.youxiang.$invalid || studForm.mima.$invalid ||studForm.confirmPassword.$invalid || stuIfPswTheSame">
                  提交<span></span>
                </button>
              </div>
            </div>
            <div class="tab-pane clearfix">
              <div class="form-group col-md-12" ng-repeat="stu in studentInfo">
                <p>该学生信息已注册！</p>
                <p>姓名：<span ng-bind="stu.XINGMING"></span></p>
                <p>学号：<span ng-bind="stu.YONGHUHAO"></span></p>
                <p>邮箱：<span ng-bind="stu.YOUXIANG"></span></p>
              </div>
              <div class="form-group col-md-12 pull-left">
                <button type="button" class="btn btn-success nextBtn pull-right" ng-click="backToLoginPage()">
                  返回登录
                </button>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
