<!--<div class="popInfoWrapInner">-->
    <!--<h2 class="pop-title">-->
        <!--<span class="glyphicon glyphicon-remove"></span>-->
    <!--</h2>-->
    <!--<div class="pop-cont">-->
        <!--<table>-->
            <!--<tr>-->
                <!--<td class="mesSuccess messageTd">-->
                <!--</td>-->
                <!--<td class="mesPrompt messageTd">-->
                <!--</td>-->
                <!--<td class="mesError messageTd">-->
                <!--</td>-->
            <!--</tr>-->
        <!--</table>-->
    <!--</div>-->
<!--</div>-->
<p class="mesSuccess messageTd">

</p>
<p class="mesError messageTd">

</p>
<p class="mesPrompt messageTd">

</p>
<script>
    $('.pop-title .glyphicon-remove').click(function(){
        $('.popInfoWrap').css('display', 'none');
    });
</script>