<div class="row tj-ks-title fixed-top">
  <span>作答重现</span>
  <button class="btn btn-danger pull-right" ng-click="showKaoShengTjList()">返回统计</button>
  <button type="button" class="btn btn-danger pull-right mr10" ng-click="closeZuoDaReappear()" ng-hide="showKaoShengList">
    返回列表
  </button>
  <label class="pull-right mt5 mr10 fz16" ng-hide="showKaoShengList">
    <input type="checkbox" ng-model="checkboxModel"> 只看失分题目
  </label>
</div>
<div class="tab-content">
  <div class="kaoShengScoreList animate-show wp80" ng-show="showKaoShengList">
    <div ng-if="studentData">
      <div>
        <button class="btn btn-primary" ng-click="exportKsInfo()">导出考生信息</button>
      </div>
      <table class="table table-striped mt10">
        <tr>
          <th ng-click="ksSortDataFun('stuId')">学号</th>
          <th ng-click="ksSortDataFun('name')">姓名</th>
          <th ng-click="ksSortDataFun('class')">班级</th>
          <th ng-click="ksSortDataFun('score')">成绩</th>
        </tr>
        <tr ng-repeat="ksd in studentData">
          <td ng-bind="ksd.YONGHUHAO">
          </td>
          <td>
            <a href="javascript:void(0)" ng-if="tjParas.zdcxKaoShiId" ng-bind="ksd.XINGMING"
               ng-click="zuoDaReappear(ksd.KAOSHENG_UID, tjParas.zdcxKaoShiId)"></a>
            <span ng-if="!tjParas.zdcxKaoShiId" ng-bind="ksd.XINGMING"></span>
          </td>
          <td ng-bind="ksd.BANJI">
          </td>
          <td ng-bind="ksd.ZUIHOU_PINGFEN">
          </td>
        </tr>
      </table>
    </div>
    <div ng-if="tjKaoShiData">
      <ul>
        <li ng-repeat="ks in tjKaoShiData">
          <a href="javascript:void(0)" ng-bind="ks.KAOSHI_MINGCHENG"
             ng-click="zuoDaReappear(ks.KAOSHENG_UID, ks.KAOSHI_ID)"></a>
        </li>
      </ul>
    </div>
  </div>
  <div class="answerReappearWrap" ng-hide="showKaoShengList">
    <h2 class="text-center">
      <span ng-bind="kaoShengShiJuan.sj_name"></span>
    </h2>
    <div id="answerReappearShiJuan">
      <div ng-repeat="dati in kaoShengShiJuan.sj_tm" repeat-done>
        <h4>
          <span>{{tjParas.cnNumArr[$index]}}、</span>
          <span ng-bind="dati.tx_name"></span>
        </h4>
        <ul class="list-unstyled">
          <li class="ptb5" ng-repeat="xtm in dati.tm" ng-hide="checkboxModel && xtm.ZUIHOU_PINGFEN == xtm.XIAOTI_FENZHI">
            <h4 class="ar-tiGan itemHasImg">
              <span ng-bind-html="($index + 1) + '、' + xtm.TIGAN.tiGan"></span>
              (本小题  <b ng-bind="xtm.XIAOTI_FENZHI"></b>  分)
              (最后得分：<b class="clRed" ng-bind="xtm.ZUIHOU_PINGFEN"></b>  分)
              (本题得分率：<b ng-bind="xtm.itemDeFenLv + '%'"></b>)
            </h4>
            <!-- 单选题 -->
            <div class="ar-tzs" ng-if="xtm.TIXING_ID == 1">
              <div class="ar-tz" ng-repeat="tznr in xtm.TIGAN.tiZhiNeiRong track by $index">
                <p class="positionAb">
                  <input type="radio" name="{{'radio' + $parent.$index}}" value="{{tjParas.letterArr[$index]}}"
                         ng-model="xtm.KAOSHENGDAAN" disabled/>    {{'(' + tjParas.letterArr[$index] + ')'}}
                </p>
                <p class="pl40" ng-bind-html="tznr" ng-class="{clRed:xtm.KAOSHENGDAAN == tjParas.letterArr[$index]}"></p>
              </div>
            </div>
            <!-- 双选选题和多选 -->
            <div class="ar-tzs" ng-if="xtm.TIXING_ID == 2 || xtm.TIXING_ID == 3">
              <div class="ar-tz" ng-repeat="tznr in xtm.TIGAN.tiZhiNeiRong track by $index">
                <p class="positionAb">
                  <input type="checkbox" name="{{'checkbox' + $parent.$index}}"
                         ng-checked="xtm.KAOSHENGDAAN.indexOf(tjParas.letterArr[$index]) > -1" disabled/>
                  {{'(' + tjParas.letterArr[$index] + ')'}}
                </p>
                <p class="pl40" ng-bind-html="tznr" ng-class="{clRed:xtm.KAOSHENGDAAN == tjParas.letterArr[$index]}"></p>
              </div>
            </div>
            <!-- 判读题 -->
            <div class="ar-tzs" ng-if="xtm.TIXING_ID == 4">
              <span ng-class="{clRed:xtm.KAOSHENGDAAN == '对'}">
                <input type="radio" name="{{'pdRadio' + $parent.$index}}" value="对" ng-model="xtm.KAOSHENGDAAN" disabled/>  对
              </span>
              <span ng-class="{clRed:xtm.KAOSHENGDAAN == '错'}">
                <input type="radio" name="{{'pdRadio' + $parent.$index}}" value="错" style="margin: 0 0 0 20px"
                       ng-model="xtm.KAOSHENGDAAN" disabled/>  错
              </span>
            </div>
            <!-- 题型ID大于等于9的 -->
            <div class="ar-tzs itemHasImg" ng-if="xtm.TIXING_ID >= 9" ng-bind-html="xtm.KAOSHENGDAAN">
            </div>
            <h5>标准答案：<span ng-bind-html="xtm.DAAN"></span></h5>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
