<div class="dg-list-box">
  <select class="form-control daGangListSelect" ng-model="dgParam.slt_dg" ng-change="getDgZsd(dgParam.slt_dg)"
          ng-options="dg['知识大纲ID'] as dg['知识大纲名称'] for dg in publicZsdgList">
    <option value="">请选择大纲</option>
  </select>
</div>
<div class="form-horizontal dagangInputForm" id="daGangList">
  <!-- 大纲名称 -->
  <div class="media dagangBox dgLevel_0" ng-show="knowledgePb">
    <!-- 知道大纲名称 -->
    <div class="media-body">
      <div class="media-heading">
        <div class="col-md-6 p0">
          <div class="form-control radius4 dagangName" ng-bind="knowledgePb['知识大纲名称']"></div>
        </div>
      </div>
      <!-- 一级 -->
      <div ng-repeat="nd1 in knowledgePb['节点']" class="media dgLevel_1" repeat-done>
        <a class="media-object pull-left"></a>
        <div class="media-body">
          <div class="media-heading">
            <div class="col-md-6">
              <div class="form-control" ng-bind="nd1['知识点名称']" disabled></div>
            </div>
          </div>
          <!-- 二级 -->
          <div ng-repeat="nd2 in nd1['子节点']" class="media dgLevel_2">
            <a class="media-object pull-left"></a>
            <div class="media-body">
              <div class="media-heading">
                <div class="col-md-6">
                  <div class="form-control" ng-bind="nd2['知识点名称']" disabled></div>
                </div>
              </div>
              <!-- 三级 -->
              <div ng-repeat="nd3 in nd2['子节点']" class="media dgLevel_3">
                <a class="media-object pull-left"> </a>
                <div class="media-body">
                  <div class="media-heading">
                    <div class="col-md-6">
                      <div class="form-control" ng-bind="nd3['知识点名称']" disabled></div>
                    </div>
                  </div>
                  <!-- 四级 -->
                  <div ng-repeat="nd4 in nd3['子节点']" class="media dgLevel_4">
                    <a class="media-object pull-left"> </a>
                    <div class="media-body">
                      <div class="media-heading">
                        <div class="col-md-6">
                          <div class="form-control" ng-bind="nd4['知识点名称']" disabled></div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
