<div class="dg-list-box">
    <select class="form-control daGangListSelect" ng-model="daGangParam.selected_dg"
            ng-change="getPublicDgZsd(daGangParam.selected_dg)"
            ng-options="dg.ZHISHIDAGANG_ID as dg.ZHISHIDAGANGMINGCHENG for dg in publicZsdgList">
        <option value="">请选择大纲</option>
    </select>
</div>
<div class="form-horizontal dagangInputForm" id="daGangList">
    <div class="loading-box text-center" ng-show="loadingImgShow">
        <img src="/images/loading.gif" alt="" width="64" height="64"/>
        <p>数据加载中，请耐心等待……</p>
    </div>
    <div ng-repeat="zsd in knowledgePb" class="media dagangBox dgLevel_0" repeat-done>
        <div class="media-body">
            <div class="media-heading">
                <div class="col-md-6 p0">
                    <div class="form-control radius4 dagangName">
                        {{zsd.ZHISHIDIANMINGCHENG}}
                    </div>
                </div>
            </div>
            <!-- 二级 -->
            <div ng-repeat="nd2 in zsd.ZIJIEDIAN" class="media dgLevel_1">
                <a class="media-object pull-left"></a>
                <div class="media-body">
                    <div class="media-heading">
                        <div class="col-md-6">
                            <!--<input type="text" class="form-control" ng-model="nd2.ZHISHIDIANMINGCHENG" disabled>-->
                            <div class="form-control" ng-bind="nd2.ZHISHIDIANMINGCHENG" disabled></div>
                        </div>
                    </div>
                    <!-- 三级 -->
                    <div ng-repeat="nd3 in nd2.ZIJIEDIAN" class="media dgLevel_2">
                        <a class="media-object pull-left"> </a>
                        <div class="media-body">
                            <div class="media-heading">
                                <div class="col-md-6">
                                    <!--<input type="text" class="form-control" ng-model="nd3.ZHISHIDIANMINGCHENG" disabled>-->
                                    <div class="form-control" ng-bind="nd3.ZHISHIDIANMINGCHENG" disabled></div>
                                </div>
                            </div>
                            <!-- 四级 -->
                            <div ng-repeat="nd4 in nd3.ZIJIEDIAN" class="media dgLevel_3">
                                <a class="media-object pull-left"> </a>
                                <div class="media-body">
                                    <div class="media-heading">
                                        <div class="col-md-6">
                                            <!--<input type="text" class="form-control"-->
                                                   <!--ng-model="nd4.ZHISHIDIANMINGCHENG" disabled>-->
                                            <div class="form-control" ng-bind="nd4.ZHISHIDIANMINGCHENG" disabled></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
