<div class="dg-list-box">
    <select class="form-control daGangListSelect" ng-model="daGangParam.selected_dg"
            ng-change="getPrivateDgZsd(daGangParam.selected_dg)"
            ng-options="dg.ZHISHIDAGANG_ID as dg.ZHISHIDAGANGMINGCHENG for dg in privateZsdgList">
        <option value="">请选择大纲</option>
    </select>
    <button type="button" class="btn btn-default pull-right" ng-click="addNewZjDg()">
        新建
    </button>
</div>
<div class="form-horizontal dagangInputForm">
    <div class="loading-box text-center" ng-show="loadingImgShow">
        <img src="/images/loading.gif" alt="" width="64" height="64"/>
        <p>数据加载中，请耐心等待……</p>
    </div>
    <div ng-repeat="zsd in knowledgePr" class="media dagangBox dgLevel_0">
        <div class="media-body">
            <div class="media-heading">
                <div class="input-group col-md-6">
                    <input type="text" class="form-control" ng-model="zsd.ZHISHIDIANMINGCHENG"
                           ng-focus="privateDgInputIdx($event, zsd)" ng-blur="compareZjInputVal(zsd)">
                    <span class="input-group-btn">
                         <button class="btn btn-default dgAddBtn" ng-click="addNd($event, zsd)" type="button">
                             <span class="glyphicon glyphicon-plus"> </span>
                         </button>
                    </span>
                </div>
            </div>
            <!-- 二级 -->
            <div ng-repeat="nd2 in zsd.ZIJIEDIAN" class="media dgLevel_1">
                <a class="media-object pull-left"></a>
                <div class="media-body">
                    <div class="media-heading">
                        <div class="input-group col-md-6">
                            <input type="text" class="form-control" ng-model="nd2.ZHISHIDIANMINGCHENG"
                                   ng-focus="privateDgInputIdx($event, nd2)" ng-blur="compareZjInputVal(nd2)">
                            <span class="input-group-btn">
                                 <button class="btn btn-default dgAddBtn dgAddBtn_1" ng-click="addNd($event, nd2)"
                                         type="button">
                                     <span class="glyphicon glyphicon-plus"> </span>
                                 </button>
                                 <button class="btn btn-default dgDeleteBtn" ng-click="removeNd(zsd, nd2, $index)"
                                         type="button">
                                     <span class="glyphicon glyphicon-trash"> </span>
                                 </button>
                            </span>
                        </div>
                    </div>
                    <!-- 三级 -->
                    <div ng-repeat="nd3 in nd2.ZIJIEDIAN" class="media dgLevel_2">
                        <a class="media-object pull-left"> </a>
                        <div class="media-body">
                            <div class="media-heading">
                                <div class="input-group col-md-6">
                                    <input type="text" class="form-control" ng-model="nd3.ZHISHIDIANMINGCHENG"
                                           ng-focus="privateDgInputIdx($event, nd3)" ng-blur="compareZjInputVal(nd3)">
                                    <span class="input-group-btn">
                                        <button class="btn btn-default dgAddBtn dgAddBtn_2" ng-click="addNd($event, nd3)"
                                                 type="button">
                                             <span class="glyphicon glyphicon-plus"></span>
                                        </button>
                                        <button class="btn btn-default dgDeleteBtn" ng-click="removeNd(nd2, nd3, $index)"
                                                 type="button">
                                             <span class="glyphicon glyphicon-trash"> </span>
                                        </button>
                                    </span>
                                </div>
                            </div>
                            <!-- 四级 -->
                            <div ng-repeat="nd4 in nd3.ZIJIEDIAN" class="media dgLevel_3">
                                <a class="media-object pull-left"> </a>
                                <div class="media-body">
                                    <div class="media-heading">
                                        <div class="input-group col-md-6">
                                            <input type="text" class="form-control" ng-model="nd4.ZHISHIDIANMINGCHENG"
                                                   ng-focus="privateDgInputIdx($event, nd4)" ng-blur="compareZjInputVal(nd4)">
                                            <span class="input-group-btn">
                                                <button class="btn btn-default dgDeleteBtn"
                                                        ng-click="removeNd(nd3, nd4, $index)" type="button">
                                                    <span class="glyphicon glyphicon-trash"> </span>
                                                </button>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--<input type="text" class="bbbbb"/>-->
        <!--<button ng-click="focusInput()" class="ccc">点我</button>-->
    </div>
    <div class="publicKnowledgeWrap">
        <div class="row title">
            <div class="pull-left">已有知识点:</div>
            <div class="pull-right">
                <span class="wp50">
                    <input type="radio" ng-model="daGangParam.zsdKind" value="1" ng-change="getThisOrgPublicZsd()">公共
                </span>
                <span class="wp50">
                    <input type="radio" ng-model="daGangParam.zsdKind" value="2" ng-change="getThisOrgPublicZsd()">私有
                </span>
                <!--<select class="form-control" ng-model="daGangParam.zsdKind"-->
                        <!--ng-chang="getThisOrgPublicZsd(daGangParam.zsdKind)">-->
                    <!--<option value="">请选择类型</option>-->
                    <!--<option value="1">公共知识点</option>-->
                    <!--<option value="2">私有知识点</option>-->
                <!--</select>-->
            </div>
        </div>
        <div class="innerBox" id="daGangList" ng-show="publicKnowledge">
            <p ng-repeat="pzsd in publicKnowledge" title="点击加入到知识大纲" ng-bind="pzsd.ZHISHIDIANMINGCHENG"
               ng-click="addToZjDaGang(pzsd, $index)" repeat-done></p>
        </div>
    </div>
</div>
