<div class="innerWrap dagangWrapper">
  <div class="loading-box text-center" ng-show="loadingImgShow">
    <img src="/images/loading.gif" alt="" width="64" height="64"/>
  </div>
  <div class="subDashboard">
    <div class="plr10">
      <h2 class="sdb-title">科目名称</h2>
      <p ng-bind="defaultKeMu['科目名称']" class="sdb-cont cYell"></p>
    </div>
  </div>
  <div class="content">
    <div class="save-box">
      <button class="btn btn-primary" ng-click="showSaveAs()" ng-disabled="!dgParam.slt_dg">
        大纲另存
      </button>
      <button class="btn btn-primary" ng-click="deleteDaGang()" ng-if="dgParam.dgType==2">
        删除大纲
      </button>
      <button class="btn btn-primary" ng-click="saveDaGang()" ng-if="dgParam.dgType==2" ng-disabled="prDgBtnDisabled">
        保存大纲
      </button>
    </div>
    <div class="row dagangInput" ng-init="dgTpl = 'views/dagang/daGangPublic.html'">
      <div class="sub-nav fixed-top">
        <ul class="nav nav-tabs">
          <li ng-class="{active:dgParam.dgType==1}">
            <a href="javascript:void(0)" ng-click="renderDgPage('1')">公共知识大纲</a>
          </li>
          <li ng-class="{active:dgParam.dgType==2}">
            <a href="javascript:void(0)" ng-click="renderDgPage('2')">自建知识大纲</a>
          </li>
        </ul>
      </div>
      <div ng-include="dgTpl"></div>
    </div>
    <!--弹出层-->
    <div class="popup-wrap" ng-show="dgParam.showDaGangAsNew">
      <div class="popup-wrap-inner no-header">
        <div class="pwi-body plr10">
          <div class="form-horizontal">
            <div class="form-group">
              <label class="col-sm-2 col-sm-offset-1 control-label">新大纲名称</label>
              <div class="col-sm-8">
                <input type="text" class="form-control" ng-model="dgParam.dgSaveAsName"/>
              </div>
            </div>
          </div>
        </div>
        <div class="pwi-footer plr10">
          <button type="button" class="btn btn-danger pull-left mt5" ng-click="dgParam.showDaGangAsNew = false">关闭</button>
          <button type="button" class="btn btn-primary pull-right mt5" ng-click="saveDaGang()">保存新大纲</button>
        </div>
      </div>
    </div>
  </div>
</div>
