<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title class="title">报名</title>
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
    <link rel="stylesheet" href="/weixin/css/weui.min-v1.1.0.css"/>
    <link rel="stylesheet" href="/weixin/css/baoming.css"/>
    <link rel="stylesheet" href="/weixin/font-awesome/css/font-awesome.min.css"/>
    <!--<link rel="stylesheet" href="/weixin/css/baoming.min.css"/>-->
</head>
<body ontouchstart>
    <!--内容容器-->
    <div class="container" id="container">
        <div id="content" class="content">
        </div>
        <!--学校列表-->
        <div id="xueXiaoList">
        </div>
        <div id="navBar" class="navBar" style="display: none;">
            <div id="backToKsz" class="navBar_item">
                <i class="fa fa-arrow-circle-o-left fa-fw" aria-hidden="true"></i> 返回
            </div>
            <div id="saveKaoShi" class="navBar_item">
                <i class="fa fa-floppy-o fa-fw" aria-hidden="true"></i> 报名
            </div>
        </div>
        <!--BEGIN dialog2-->
        <div class="js_dialog" id="iosDialog2" style="display: none;">
            <div class="weui-mask"></div>
            <div class="weui-dialog">
                <div class="weui-dialog__hd"><strong class="weui-dialog__title msgTitle"></strong></div>
                <div class="weui-dialog__bd msgBox"></div>
                <div class="weui-dialog__ft">
                    <a href="javascript:;" class="weui-dialog__btn weui-dialog__btn_primary">确定</a>
                </div>
            </div>
        </div>
        <!--END dialog2-->
    </div>
    <!--模板 学校列表-->
    <script id="tplXueXiaoList" type="text/html">
        <div class="tplLogin">
            <div class="weui-mask" id="iosMask" style="display: none"></div>
            <div class="weui-actionsheet" id="iosActionsheet">
                <div class="weui-actionsheet__menu">
                    {{each xueXiao}}
                    <div class="weui-actionsheet__cell optXueXiao">
                        <i class="weui-icon-success-no-circle"></i>
                        <span>{{$value['学校名称']}}</span>
                    </div>
                    {{/each}}
                </div>
                <div class="weui-actionsheet__action">
                    <div class="weui-actionsheet__cell dplf">
                        <a href="javascript:;" id="actionsheet_confirm" class="weui-dialog__btn weui-dialog__btn_primary wp50 pullLeft bdr">确定</a>
                        <a href="javascript:;" id="iosActionsheetCancel" class="weui-dialog__btn weui-dialog__btn_default wp50 pullRight">关闭</a>
                    </div>
                </div>
            </div>
        </div>
    </script>
    <!--模板 学生登录-->
    <script id="tplLogin" type="text/html">
        <div class="weui-cells weui-cells_form tplLogin">
            <div class="weui-cell p15">
                <div class="weui-cell__hd"><label class="weui-label">学校</label></div>
                <div id="showIOSActionSheet" class="weui-cell__bd weui-cell_primary xueXiaoWrap clA8" data-id="">
                    选择学校
                </div>
            </div>
            <div class="weui-cell p15">
                <div class="weui-cell__hd"><label class="weui-label">学号</label></div>
                <div class="weui-cell__bd weui-cell_primary">
                    <input class="weui-input" type="text" name="yourNum" placeholder="您的学号"/>
                </div>
            </div>
            <div class="weui-cell p15">
                <div class="weui-cell__hd"><label class="weui-label">姓名</label></div>
                <div class="weui-cell__bd weui-cell_primary">
                    <input class="weui-input" type="text" name="yourName" placeholder="您的姓名"/>
                </div>
            </div>
        </div>
        <div class="weui-btn-area mt20 p10-30">
            <a class="weui-btn weui-btn_primary fz16" href="javascript:" id="nextStep1">下一步</a>
        </div>
    </script>
    <!--模板 可以报名的考试组-->
    <script id="tplKaoShiZu" type="text/html">
        <h4 class="center">可以报名的考试</h4>
        {{each kszArr}}
        <div class="cardFix cardKaoShiZu" data-id="{{$value['考试组ID']}}">
            <p>
                <span class="cell-content">{{$value['考试组名称']}}</span>
                {{if $value['状态'] == 1}}
                <span class="clGren pullRight">已报名</span>
                {{/if}}
                {{if $value['状态'] == 0}}
                <span class="clRed pullRight">未报名</span>
                {{/if}}
            </p>
        </div>
        {{/each}}
    </script>
    <!--模板 可以报名的考试-->
    <script id="tplKaoShi" type="text/html">
        <h4 class="center">{{ksArr['考试组名称']}}</h4>
        <!--<h4 class="center">点击选择场次</h4>-->
        <div style="padding: 0 10px">
        {{each ksArr['考试']}}
            {{if $value.ckd == true}}
            <div class="cardChangCi hasOn cardChangCiOn" data-id="{{$value['考试ID']}}" data-kc="{{$value['考点ID']}}">
            {{/if}}
            {{if $value.ckd == false}}
            <div class="cardChangCi" data-id="{{$value['考试ID']}}" data-kc="{{$value['考点ID']}}">
            {{/if}}
                <p class="cell">
                    <span class="cell-title">考试场次：</span>
                    <span class="cell-content">{{$value['考试名称']}}</span>
                </p>
                <p class="cell">
                    <span class="cell-title">考试时间：</span>
                    <span class="cell-content">{{$value['开考时间']}}</span>
                </p>
                <p class="cell">
                    <span class="cell-title">考点名称：</span>
                    <span class="cell-content">{{$value['考点名称']}}</span>
                </p>
                <p class="baoMingStat clRed">已报</p>
            </div>
        {{/each}}
        </div>
    </script>
    <!--模板 没有报名数据-->
    <script id="tplNoBaoMing" type="text/html">
        <h4 class="center noData">暂时没有需要报名的考试</h4>
    </script>
    <!--模板 错误信息-->
    <script id="tplErrMsg" type="text/html">
        <div class="weui-msg">
            <div class="weui-msg__icon-area"><i class="weui-icon_msg weui-icon-warn"></i></div>
            <div class="weui-msg__text-area">
                <h2 class="weui-msg__title">操作失败</h2>
                <p class="weui-msg__desc">没有你的信息，请老师导入你的信息！</p>
            </div>
        </div>
    </script>
    <!--用到的ji文件-->
    <script src="/weixin/js/jquery-3.1.0.min.js"></script>
    <script src="/weixin/js/template.js"></script>
    <script src="/weixin/js/lazy.min.js"></script>
    <script src="/weixin/js/baoming.js"></script>
    <!--<script src="/weixin/js/baoming.min.js"></script>-->
</body>
</html>
