<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title class="title">成绩</title>
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
    <link rel="stylesheet" href="../css/weui.min.css"/>
    <link rel="stylesheet" href="../css/chengji.css"/>
    <link rel="stylesheet" href="../css/font-awesome.min.css"/>
</head>
<body ontouchstart>
<!--内容容器-->
<div class="container" id="container">

</div>
<!--BEGIN dialog2-->
<div class="weui_dialog_alert" id="dialog2" style="display: none;">
    <div class="weui_mask"></div>
    <div class="weui_dialog">
        <div class="weui_dialog_hd"><strong class="weui_dialog_title msgTitle"></strong></div>
        <div class="weui_dialog_bd msgBox"></div>
        <div class="weui_dialog_ft">
            <a href="javascript:;" class="weui_btn_dialog primary">确定</a>
        </div>
    </div>
</div>
<!--END dialog2-->
<!--模板 学生登录-->
<script id="tplLogin" type="text/html">
    <div class="weui_cells weui_cells_form tplLogin">
        <div class="weui_cell">
            <div class="weui_cell_hd"><label class="weui_label">学校</label></div>
            <div id="showActionSheet" class="weui_cell_bd weui_cell_primary xueXiaoWrap clA8" data-id="">
                选择学校
            </div>
        </div>
        <div class="weui_cell">
            <div class="weui_cell_hd"><label class="weui_label">学号</label></div>
            <div class="weui_cell_bd weui_cell_primary">
                <input class="weui_input" type="text" name="yourNum" placeholder="您的学号"/>
            </div>
        </div>
        <div class="weui_cell">
            <div class="weui_cell_hd"><label class="weui_label">姓名</label></div>
            <div class="weui_cell_bd weui_cell_primary">
                <input class="weui_input" type="text" name="yourName" placeholder="您的姓名"/>
            </div>
        </div>
    </div>
    <div class="tplLogin">
        <div class="weui_mask_transition" id="mask"></div>
        <div class="weui_actionsheet" id="weui_actionsheet">
            <div class="weui_actionsheet_menu">
                {{each xueXiao}}
                <div class="weui_actionsheet_cell optXueXiao">
                    <i class="fa fa-check" aria-hidden="true"></i>
                    <span>{{$value['学校名称']}}</span>
                </div>
                {{/each}}
            </div>
            <div class="weui_actionsheet_action">
                <div class="weui_actionsheet_cell dplf">
                    <a href="javascript:;" id="actionsheet_confirm" class="weui_btn_dialog primary wp50 pullLeft bdr">确定</a>
                    <a href="javascript:;" id="actionsheet_cancel" class="weui_btn_dialog default wp50 pullRight">取消</a>
                </div>
            </div>
        </div>
    </div>
    <div class="weui_btn_area">
        <a class="weui_btn weui_btn_primary" href="javascript:" id="nextStep1">下一步</a>
    </div>
</script>
<!--模板 考试组-->
<script id="tplKaoShiZu" type="text/html">
    {{each kszList}}
        <div class="card cardKsz">
            <p class="cell">
                <span class="cell-title">考试名称：</span>
                <span class="cell-content">{{$value['考试组名称']}}</span>
            </p>
            <p class="cell">
                <span class="cell-title">成绩：</span>
                {{if $value.score == 'on'}}
                    {{if $value['实际评分'] >= 0}}
                        <span class="cell-content">{{$value['实际评分']}}</span>
                    {{/if}}
                    {{if $value['实际评分'] == null}}
                        <span class="cell-content">缺考</span>
                    {{/if}}
                {{/if}}
            </p>
            <div class="button_sp_area center">
                <a href="javascript:;" id="zhiShiDianFenXi" class="weui_btn weui_btn_mini weui_btn_default"
                   data-id="{{$value['考试组ID']}}">知识点分析</a>
                {{if $value.zuoda == 'on'}}
                    <a href="javascript:;" id="zuoDaChongXian" class="weui_btn weui_btn_mini weui_btn_default ml20"
                       data-id="{{$value['考试组ID']}}">作答重现</a>
                {{/if}}
            </div>
        </div>
    {{/each}}
</script>
<!--模板 错误信息-->
<script id="tplErrMsg" type="text/html">
    <div class="weui_msg">
        <div class="weui_icon_area"><i class="weui_icon_msg weui_icon_warn"></i></div>
        <div class="weui_text_area">
            <h2 class="weui_msg_title">操作失败</h2>
            <p class="weui_msg_desc">没有你的信息，请老师导入你的信息！</p>
        </div>
    </div>
</script>
<!--模板 作答重现-->
<script id="tplZuoDaChongXian" type="text/html">
    <h2 class="text-center">
        <span>{{sj_name}}</span>
    </h2>
    <div id="answerReappearShiJuan">
        {{each sj_tm as dati i}}
        <div>
            <h4>
                <span>{{cnNumArr[i]}}、</span>
                <span>{{dati['大题名称']}}</span>
            </h4>
            <ul class="list-unstyled">
                {{each dati['题目'] as xtm j}}
                <li class="ptb5">
                    {{if xtm['考生作答'] != null}}
                        <h4 class="ar-tiGan">
                            <span>{{(j + 1) + '、' + xtm['题目内容']['题干']}}</span>
                            (本小题  <b>{{xtm['分值']}}</b>  分)
                            (最后得分：<b class="clRed">{{xtm['考生作答']['得分']}}</b> 分)
                        </h4>
                        <!-- 单选题 -->
                        {{if xtm['题型ID'] == 1}}
                        <div class="ar-tzs">
                            {{each xtm['题目内容']['选项'] as tznr k}}
                            <div class="ar-tz">
                                {{if xtm['考生作答']['考生答案'] == k}}
                                <p class="positionAb">
                                    <input type="radio" name="{{'radio' + xtm['题目ID']}}" value="{{k}}"
                                           checked="true" disabled/> {{'(' + letterArr[k] + ')'}}
                                </p>
                                <p class="pl40 clRed">
                                    {{tznr}}
                                </p>
                                {{/if}}
                                {{if xtm['考生作答']['考生答案'] != k}}
                                <p class="positionAb">
                                    <input type="radio" name="{{'radio' + xtm['题目ID']}}" value="{{k}}"
                                           disabled/> {{'(' + letterArr[k] + ')'}}
                                </p>
                                <p class="pl40">
                                    {{tznr}}
                                </p>
                                {{/if}}
                            </div>
                            {{/each}}
                        </div>
                        {{/if}}
                        <!-- 多选题 -->
                        {{if xtm['题型ID'] == 2}}
                        <div class="ar-tzs">
                            {{each xtm['题目内容']['选项'] as tznr k}}
                            <div class="ar-tz">
                                {{if xtm['考生作答']['考生答案'].indexOf(k) > -1}}
                                <p class="positionAb">
                                    <input type="checkbox" name="{{'checkbox' + xtm['题目ID']}}" value="{{k}}"
                                           checked="true" disabled/> {{'(' + letterArr[k] + ')'}}
                                </p>
                                <p class="pl40 clRed">
                                    {{tznr}}
                                </p>
                                {{/if}}
                                {{if xtm['考生作答']['考生答案'].indexOf(k) == -1}}
                                <p class="positionAb">
                                    <input type="checkbox" name="{{'checkbox' + xtm['题目ID']}}" value="{{k}}"
                                           disabled/> {{'(' + letterArr[k] + ')'}}
                                </p>
                                <p class="pl40">
                                    {{tznr}}
                                </p>
                                {{/if}}
                            </div>
                            {{/each}}
                        </div>
                        {{/if}}
                        {{if xtm['题型ID'] == 3}}
                        <div class="ar-tzs">
                            {{if xtm['考生作答']['考生答案'] == 1}}
                            <span class="clRed">
                            {{/if}}
                            {{if xtm['考生作答']['考生答案'] != 1}}
                            <span>
                            {{/if}}
                                <input type="radio" name="{{'pdRadio' + xtm['题目ID']}}" value="1" checked="{{xtm['考生作答']['考生答案'] == 1}}"/>  对
                            </span>
                            {{if xtm['考生作答']['考生答案'] == 0}}
                            <span class="clRed">
                            {{/if}}
                            {{if xtm['考生作答']['考生答案'] != 0}}
                            <span>
                            {{/if}}
                                <input type="radio" name="{{'pdRadio' + xtm['题目ID']}}" value="0" checked="{{xtm['考生作答']['考生答案'] == 0}}" style="margin: 0 0 0 20px"/>  错
                            </span>
                        </div>
                        {{/if}}
                        {{if xtm['题型ID'] >= 5}}
                        <div class="ar-tzs itemHasImg">
                            {{xtm['考生作答']['考生答案']}}
                        </div>
                        {{/if}}
                        <h4 class="itemHasImg">标准答案:{{xtm['题目内容']['答案']}}</h4>
                    {{/if}}
                    {{if xtm['考生作答'] == null}}
                        <h4 class="ar-tiGan">
                            <span>{{(j + 1) + '、' + xtm['题目内容']['题干']}}</span>
                            (本小题  <b>{{xtm['分值']}}</b>  分)
                            (最后得分：<b class="clRed">未作答</b> 分)
                        </h4>
                        <!-- 单选题 -->
                        {{if xtm['题型ID'] == 1}}
                        <div class="ar-tzs">
                            {{each xtm['题目内容']['选项'] as tznr k}}
                            <div class="ar-tz">
                                <p class="positionAb">
                                    <input type="radio" name="{{'radio' + xtm['题目ID']}}" value="{{k}}"
                                           disabled/> {{'(' + letterArr[k] + ')'}}
                                </p>
                                <p class="pl40">
                                    {{tznr}}
                                </p>
                            </div>
                            {{/each}}
                        </div>
                        {{/if}}
                        <!-- 多选题 -->
                        {{if xtm['题型ID'] == 2}}
                        <div class="ar-tzs">
                            {{each xtm['题目内容']['选项'] as tznr k}}
                            <div class="ar-tz">
                                <p class="positionAb">
                                    <input type="checkbox" name="{{'checkbox' + xtm['题目ID']}}" value="{{k}}"
                                           disabled/> {{'(' + letterArr[k] + ')'}}
                                </p>
                                <p class="pl40">
                                    {{tznr}}
                                </p>
                            </div>
                            {{/each}}
                        </div>
                        {{/if}}
                        {{if xtm['题型ID'] == 3}}
                        <div class="ar-tzs">
                            <span>
                                <input type="radio" name="{{'pdRadio' + xtm['题目ID']}}" value="1"/>  对
                            </span>
                            <span>
                                <input type="radio" name="{{'pdRadio' + xtm['题目ID']}}" value="0" style="margin: 0 0 0 20px"/>  错
                            </span>
                        </div>
                        {{/if}}
                        {{if xtm['题型ID'] >= 5}}
                        <div class="ar-tzs itemHasImg">
                            <span class="clRed">未作答</span>
                        </div>
                        {{/if}}
                        <h4 class="itemHasImg">标准答案:{{xtm['题目内容']['答案']}}</h4>
                    {{/if}}
                </li>
                {{/each}}
            </ul>
        </div>
        {{/each}}
    </div>
    <div class="fixSty">
        <a class="weui_btn weui_btn_primary backToKszList" href="javascript:">返回</a>
    </div>
</script>
<!--模板 知识点分析-->
<script id="tplZsd" type="text/html">
    <h4 class="center zsdFenXi">知识点分析</h4>
    <div class="graph mt20">
        <div id="radarBox" style="width: 100%;height: 100%;"></div>
    </div>
    <div id="zsdList" class="mt20">
        <ul>
            {{each zsd}}
                <li class="bdb"><span>{{$value.zm}}</span>: <span>{{$value.zsdMc}}</span></li>
            {{/each}}
        </ul>
    </div>
    <div class="fixSty">
        <a class="weui_btn weui_btn_primary backToKszList" href="javascript:">返回</a>
    </div>
</script>
<!--用到的ji文件-->
<script src="../js/jquery-3.1.0.min.js"></script>
<script src="../js/template.js"></script>
<script src="../js/echarts.min.js"></script>
<script src="../js/lazy.min.js"></script>
<script src="../js/markitup/MathJax.js?config=TeX-AMS-MML_SVG-full"></script>
<script src="../js/chengji.js"></script>
</body>
</html>
