<div class="paper-content">
  <div class="back-to-paper-list">
    <button type="button" class="btn btn-danger" ng-click="showZuJuan()"
            ng-show="shijuanData.shuju.SHIJUAN_ID">返回试卷列表
    </button>
    <button type="button" class="btn btn-danger" ng-click="dropMakePaper()"
            ng-show="baocunshijuanBtn && !shijuanData.shuju.SHIJUAN_ID">
      放弃本次组卷
    </button>
  </div>
  <div id="myPaper" style="background: #FFFFFF">
    <h1 class="paper-title text-center hover-style" title="点击设置">
      <span class="sj-param-val" ng-click="editMuBanDaTiNameAndScore('sj_dt_input')">
          {{ shijuanData.shuju.SHIJUANMINGCHENG || '点击设置试卷名称'}}
      </span>
    </h1>
    <h1 class="paper-sub-title text-center hover-style" title="点击设置" ng-show="shijuanData.shuju.FUBIAOTI">
      <span class="sj-param-val" ng-click="editMuBanDaTiNameAndScore('sj_fbt_input')">
          {{ shijuanData.shuju.FUBIAOTI}}
      </span>
    </h1>
    <div class="attention hover-style" title="点击设置" ng-show="mubanData.shuju.ZONGDAOYU">
      <span class="sj-param-val" ng-click="editMuBanDaTiNameAndScore('sj_dy_input')">
          {{ mubanData.shuju.ZONGDAOYU }}
      </span>
    </div>
    <!--用于刷新函数-->
    <div class="shijuantimu-list" ng-show="sjPreview" id="testList">
      <div ng-show="zuJuanGuiZe.length">
        <h4>随机试题</h4>
        <table class="table table-bordered">
          <tr>
            <th width="60%">知识点</th>
            <th width="10%">题型</th>
            <th width="10%">数量</th>
            <th width="10%">难度</th>
          </tr>
          <tr ng-repeat="gz in zuJuanGuiZe track by $index">
            <td ng-bind="gz.zsdNameArr.join(';')"></td>
            <td ng-bind="tiXingNameArr[gz.TIXING[0].TIXING_ID - 1]"></td>
            <td ng-bind="gz.TIXING[0].COUNT"></td>
            <td ng-bind="gz.NANDU*4 + 1"></td>
          </tr>
        </table>
      </div>
      <div ng-repeat="mbdt in mubanData.shuju.MUBANDATI" repeat-done>
        <div class="mubandati">
          <div class="dati-name-box" title="点击设置大题名称" ng-click="editMuBanDaTiNameAndScore('dt_name' + $index)">
            <span>{{cnNumArr[$index]}}、</span>
            <span class="dati-name">{{mbdt.DATIMINGCHENG}}</span>
          </div>
          <div class="dati-score-box" title="点击设置大题分数" ng-click="editMuBanDaTiNameAndScore('dt_score' + $index)">
            <p>
              <span>（本大题共</span>
              <span class="xiaoti-total"> {{mbdt.TIMUARR.length}} </span>
              <span>小题，</span>
            </p>
            <p ng-hide="mbdt.datiScore">
              <a href="javascript:void(0)">点击设置本大题分数</a><span>）</span>
            </p>
            <p ng-show="mbdt.datiScore">
              <span>共</span>
              <span class="dati-total-score" ng-bind="mbdt.datiScore >= 0 ? mbdt.datiScore : 'X'"></span>
              <span>分）</span>
            </p>
          </div>
          <div class="dati-name-box datiMoveBtns">
            <button type="button" class="btn btn-default" ng-click="moveDaTi($index,-1)" ng-hide="$first">上移</button>
            <button type="button" class="btn btn-default" ng-click="moveDaTi($index,1)" ng-hide="$last">下移</button>
          </div>
        </div>
        <ul class="list-unstyled testList">
          <li ng-repeat="tmd in mbdt.TIMUARR">
            <h5 class="item-title text-right">
              <button type="button" class="btn btn-default" ng-click="removeOutPaper(tmd)">删除</button>
              <button type="button" class="btn btn-primary"
                      ng-click="changeItem(mbdt.MUBANDATI_ID, tmd.TIMU_ID)">换一题
              </button>
              <button type="button" class="btn btn-default" ng-click="moveTM(tmd,-1,mbdt.MUBANDATI_ID)" ng-hide="$first">上移</button>
              <button type="button" class="btn btn-default" ng-click="moveTM(tmd,1,mbdt.MUBANDATI_ID)" ng-hide="$last">下移</button>
            </h5>
            <div class="item-cont">
              <div class="item-tigan" title="点击设置" ng-init="sj_item_score = true">
                <div class="item-score" ng-click="sj_item_score = false">
                  <span ng-bind-html="($index + 1) + '、' + tmd.TIGAN.tiGan | outTiGan:tm.TIXING_ID"></span>
                  <span ng-hide="tmd.xiaotiScore">
                     （<a href="javascript:void(0)">点击设置本小题分数</a>）
                  </span>
                  <span ng-show="tmd.xiaotiScore">
                      {{'（本小题' + (tmd.xiaotiScore >= 0 ? tmd.xiaotiScore : 'X') + '分）'}}
                  </span>
                </div>
                <div class="popup-wrap" ng-hide="sj_item_score">
                  <div class="popup-wrap-inner no-header">
                    <div class="pwi-body plr10">
                      <input type="text" ng-model="tmd.xiaotiScore" autofocus="true"
                             placeholder="此小题分数" maxlength="4" class="form-control xiaoTiScoreInput"
                             onkeyup="if(isNaN(value))execCommand('undo')"
                             onafterpaste="if(isNaN(value))execCommand('undo')"/>
                    </div>
                    <div class="pwi-footer plr10 text-center">
                      <button type="button" class="btn btn-danger mt5" ng-click="sj_item_score = true; tmd.xiaotiScore = ''">取消
                      </button>
                      <button type="button" class="btn btn-primary mt5 ml15" ng-click="addXiaotiScore(mbdt); sj_item_score = true">确定
                      </button>
                    </div>
                  </div>
                </div>
              </div>
              <div class="item-tizhi-wrap">
                <p class="item-tizhi" ng-repeat="tz in tmd.TIGAN.tiZhiNeiRong track by $index" ng-bind-html="'(' + letterArr[$index] + ') ' + tz">
                </p>
              </div>
            </div>
            <div class="write-answer-region" ng-show="tmd.TIMULEIXING_ID == 9">
            </div>
          </li>
        </ul>
      </div>
    </div>
    <!--弹出层用来修改题目和大题的信息-->
    <div class="popup-wrap alter-dati" ng-show="shijuan_edit">
      <div class="popup-wrap-inner">
        <div class="pwi-header plr10 text-center">
          <span class="title">试卷设置</span>
        </div>
        <div class="pwi-body plr10">
          <div class="paper-info-edit">
            <div class="row">
              <label>试卷主标题：</label>
              <input type="text" class="form-control sj_dt_input"
                     ng-model="shijuanData.shuju.SHIJUANMINGCHENG" placeholder="试卷名称"/>
            </div>
            <div class="row showAddFuBiaoTi" ng-init="showAddFuBiaoTi = false">
              <a href ng-click="showAddFuBiaoTi = !showAddFuBiaoTi" ng-hide="showAddFuBiaoTi">
                <span class="glyphicon glyphicon-plus"></span>增加副标题
              </a>
              <a href ng-click="showAddFuBiaoTi = !showAddFuBiaoTi; shijuanData.shuju.FUBIAOTI = ''"
                 ng-show="showAddFuBiaoTi">
                <span class="glyphicon glyphicon-plus"></span>取消副标题
              </a>
            </div>
            <div class="row" ng-show="showAddFuBiaoTi">
              <input type="text" ng-model="shijuanData.shuju.FUBIAOTI" placeholder="试卷副标题"
                     class="form-control sj_fbt_input"/>
            </div>
            <div class="row showAddFuBiaoTi" ng-init="showAddDaoYu = false">
              <a href ng-click="showAddDaoYu = !showAddDaoYu" ng-hide="showAddDaoYu">
                <span class="glyphicon glyphicon-plus"></span>增加导语
              </a>
              <a href ng-click="showAddDaoYu = !showAddDaoYu; mubanData.shuju.ZONGDAOYU = ''"
                 ng-show="showAddDaoYu">
                <span class="glyphicon glyphicon-plus"></span>取消导语
              </a>
            </div>
            <div class="row mt5" ng-show="showAddDaoYu">
              <label>导语：</label>
              <textarea ng-model="mubanData.shuju.ZONGDAOYU" rows="5" placeholder="导语"
                        class="form-control sj_dy_input">
              </textarea>
            </div>
          </div>
          <div class="item-info-edit">
            <div class="row mt5">
              <label>大题：</label>
            </div>
            <div class="row" ng-repeat="mbdt in mubanData.shuju.MUBANDATI">
              <div class="col-sm-9 dati-box">
                <span>{{cnNumArr[$index]}}、</span>
                <input type="text" ng-model="mbdt.DATIMINGCHENG" placeholder="此大题名称"
                       class="form-control {{'dt_name' + $index}}"/>
              </div>
              <div class="col-sm-3 fenshu-box">
                <span>分数：</span>
                <input type="text" ng-model="mbdt.datiScore" placeholder="此大题分数" maxlength="5"
                       class="form-control {{'dt_score' + $index}}"
                       onkeyup="if(isNaN(value))execCommand('undo')"
                       onafterpaste="if(isNaN(value))execCommand('undo')"/>
              </div>
            </div>
          </div>
        </div>
        <div class="pwi-footer plr10 text-center">
          <button type="button" class="btn btn-danger mt5" ng-click="cancelEditPaper()">取消</button>
          <button type="button" class="btn btn-primary mt5 ml15" ng-click="saveEditPaper()">确定</button>
        </div>
      </div>
    </div>
  </div>
  <div class="popup-wrap" ng-show="isSavePaperConfirm">
    <div class="popup-wrap-inner no-header">
      <div class="pwi-body">
        <table class="table-bordered paperConfirmTable">
          <tr>
            <th>题型</th>
            <th>数量</th>
            <th>分数</th>
          </tr>
          <tr ng-repeat="mbdtInfo in mubanData.shuju.MUBANDATI track by $index">
            <td ng-bind="mbdtInfo.DATIMINGCHENG"></td>
            <td ng-bind="mbdtInfo.TIMUARR.length"></td>
            <td ng-bind="mbdtInfo.datiScore"></td>
          </tr>
          <tr>
            <td colspan="3">
              总分：{{paperScore}}分
            </td>
          </tr>
        </table>
      </div>
      <div class="pwi-footer plr10 text-center">
        <button type="button" class="btn btn-danger mt5" ng-click="cancelSavePaper()">取消</button>
        <button type="button" class="btn btn-primary mt5 ml15" ng-click="savePaper()">确定</button>
      </div>
    </div>
  </div>
  <div class="save-paper-box" ng-show="baocunshijuanBtn">
    <!--<button type="button" class="btn btn-primary" ng-click="setDaTiKa()"-->
    <!--ng-show="shijuanData.shuju.SHIJUAN_ID">答题卡设置</button>-->
    <label>
      <input type="checkbox" ng-model="zuJuanParam.tiMuSuiJi"> 题目随机排序
    </label>
    <label>
      <input type="checkbox" ng-model="zuJuanParam.xuanXiangSuiJi"> 选项随机排序
    </label>
    <!--<button type="button" class="btn btn-primary savePaperToPdf">保存试卷为PDF</button>-->
    <button type="button" class="btn btn-primary" ng-click="savePaperConfirm()">保存试卷</button>
  </div>
</div>
