<div class="row paper-list">
  <ul class="list-unstyled zj_list">
    <li>
      <table class="table table-title">
        <tr>
          <th>试卷名称</th>
          <th width="100px">出卷人</th>
          <th width="100px">创建时间</th>
          <th width="80px">操作</th>
        </tr>
      </table>
    </li>
    <li ng-repeat="pld in paperListData">
      <table class="table" bn-slide-show slide-show-target="more-info" slide-show-idx="{{$index}}">
        <tr>
          <td>
            <a href="javascript:void(0)" ng-click="showPaperDetail(pld.SHIJUAN_ID)"
               ng-bind="pld.SHIJUANMINGCHENG"></a>
          </td>
          <td width="100px" class="text-center" ng-bind="pld.chuangjianren"></td>
          <td width="100px" class="text-center" ng-bind="pld.UPDATE_TIME | myLocalDate | date : 'yyyy-MM-dd'"></td>
          <td width="80px" class="text-center">
            <button type="button" class="btn btn-default"
                    ng-click="deleteThisPaper(pld.SHIJUAN_ID, $index)">删除
            </button>
          </td>
        </tr>
      </table>
      <div class="more-info">
        <div>
          <h5>
            题型分布：
          </h5>
          <p>
            <span ng-repeat="dati in pld.TIXING_DATA">
              {{tiXingNameArr[dati.TIXING_ID -1]}}:
              <b ng-show="dati.COUNT">固定{{dati.COUNT}}</b>  <b ng-show="dati.sjCount">随机{{dati.sjCount}}</b>
            </span>
          </p>
        </div>
        <!--<div>-->
          <!--<h5>-->
            <!--题型难度：-->
          <!--</h5>-->
          <!--<p>-->
            <!--<span ng-repeat="nadu in pld.NANDU.daTiNanDuArr">-->
                <!--{{tiXingNameArr[nadu.mubandati_id -1]}}:{{nadu.nanDu}}-->
            <!--</span>-->
          <!--</p>-->
        <!--</div>-->
      </div>
    </li>
  </ul>
  <div class="paging text-right">
    <ul class="pagination pagination-sm" ng-hide="!papertListIds">
      <li ng-class="{disabled: currentPageVal == 1}">
        <a href ng-click="getThisSjgyPageData(1)">首页</a>
      </li>
      <li ng-class="{disabled: currentPageVal == 1}">
        <a href
           ng-click="getThisSjgyPageData(prevPg = currentPageVal > 1 ? currentPageVal - 1 : 1)">
          上一页
        </a>
      </li>
      <li ng-repeat="pg in paperPages" ng-class="{active: currentPageVal == pg}">
        <a href ng-click="getThisSjgyPageData(pg)">{{pg}}</a>
      </li>
      <li ng-class="{disabled: currentPageVal == lastPaperPageNum}">
        <a href
           ng-click="getThisSjgyPageData(nextPg = currentPageVal < lastPaperPageNum ? currentPageVal + 1 : lastPaperPageNum)">
          下一页
        </a>
      </li>
      <li ng-class="{disabled: currentPageVal == lastPaperPageNum}">
        <a href ng-click="getThisSjgyPageData(lastPaperPageNum)">尾页</a>
      </li>
    </ul>
  </div>
</div>
