<div class="loading-box text-center" ng-show="loadingImgShow">
  <img src="/images/loading.gif" alt="" width="64" height="64"/>
  <p>数据加载中，请耐心等待……</p>
</div>
<!--组卷规则-->
<div class="ruleMakePaper" ng-if="zuJuanParam.showTiMu=='rulePage'">
  <div class="row ruleMakePaper-header" ng-if="!onlyShowAddRuleBox">
    <div class="mt5">
      <span class="ml10">添加试卷大题：</span>
      <label class="checkbox-inline" ng-repeat="kmtx in sjzKmtx">
        <input type="checkbox" name="sjTiXing" ng-checked="kmtx.ckd" ng-click="checkTiXing(kmtx, 'zu')"> {{kmtx['题型名称']}}
      </label>
    </div>
  </div>
  <div class="row ruleMakePaper-body">
    <div class="ruleBox" ng-if="onlyShowAddRuleBox">
      <div class="form-horizontal p10 bd1" ng-if="addSjz.sltTp=='random'">
        <div class="form-group">
          <label class="col-sm-1 control-label">题型</label>
          <div class="col-sm-4">
            <select class="form-control ruleMakePaperSelectId" ng-model="zuJuanParam.rlTxId" disabled="disabled"
                    ng-options="tx['题型ID'] as tx['题型名称'] for tx in kmtxList">
              <option value="">请选择题型</option>
            </select>
          </div>
          <label class="col-sm-1 control-label">数量</label>
          <div class="col-sm-2">
            <input type="text" class="form-control txNum" maxlength="3" onkeyup="this.value=this.value.replace(/\D/g,'')"
                   onafterpaste="this.value=this.value.replace(/\D/g,'')" ng-model="zuJuanParam.rlTmNum" style="width: 60px;display: inline-block;"/>
            <span ng-bind="'/'+ zuJuanParam.timuNum" ng-show="zuJuanParam.timuNum"></span>
          </div>
          <label class="col-sm-2 control-label">每小题分值</label>
          <div class="col-sm-2">
            <input type="text" class="form-control txNum" maxlength="3" onkeyup="this.value=this.value.replace(/\D/g,'')"
                   onafterpaste="this.value=this.value.replace(/\D/g,'')" ng-model="zuJuanParam.rlTmFz"/>
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-1 control-label">难度</label>
          <div class="col-sm-5">
            <label class="checkbox-inline mr5" ng-repeat="nd in nanDuList">
              <input type="checkbox" value="nd['难度ID']" ng-checked="nd.ckd" ng-click="getNanDuId(nd, 'zu')"> {{nd['难度名称']}}
            </label>
          </div>
          <label class="col-sm-1 control-label">题库</label>
          <div class="col-sm-5">
            <label class="checkbox-inline mr5" ng-repeat="tk in tiKuList">
              <input type="checkbox" value="tk['题库ID']" ng-checked="tk.ckd" ng-click="getTiKuId(tk)"> {{tk['题库名称']}}
            </label>
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-1 control-label">题目池</label>
          <div class="col-sm-1">
            <label class="checkbox-inline">
              <input type="checkbox" ng-model="zuJuanParam.rlTmc"> 使用
            </label>
          </div>
          <div class="col-sm-7" style="padding-top:8px">
            <ul class="list-inline">
              <li class="wp33" ng-repeat="tc in tiMuChi">
                <span class="mr5">{{tc['题型名称']}}({{tc['题目数量']}})</span>
                <span class="glyphicon glyphicon-remove clRed" ng-click="cleanTiMuChi('sgl', tc)"></span>
              </li>
            </ul>
          </div>
          <div class="col-sm-3" style="padding-top:8px">
            <a href="javascript:void(0)" class="ml15" ng-click="showTiMuList()">添加题目</a>
            <a href="javascript:void(0)" class="ml15" ng-click="cleanTiMuChi('all')">清空题目池</a>
          </div>
        </div>
        <div class="form-group text-center">
          <button type="button" class="btn btn-primary" ng-click="addRule()">添加规则</button>
          <button type="button" class="btn btn-danger ml15" ng-click="closeAddTiMuPop()">关闭</button>
        </div>
      </div>
      <div class="row p10" ng-if="addSjz.sltDati['随机题目'].length>0">
        <table>
          <tr>
            <th>知识点</th>
            <th>题型</th>
            <th>数量</th>
            <th>分值</th>
            <th>难度</th>
            <th>使用题库</th>
            <th>删除</th>
          </tr>
          <tr ng-repeat="sjtm in addSjz.sltDati['随机题目']">
            <td>
              <input type="text" value="{{sjtm['知识点名称'].join('；')}}" disabled class="font-cut" title="{{sjtm['知识点名称'].join('；')}}">
            </td>
            <td ng-bind="tiXingArr[sjtm['题型']-1]"></td>
            <td ng-bind="sjtm['题目数量']"></td>
            <td ng-bind="sjtm['题目分值']"></td>
            <td ng-bind="sjtm['难度名称'].join(',')"></td>
            <td>
              <span ng-if="sjtm['使用题目池']">题目池,</span><span ng-bind="sjtm['限定题库名称'].join(',')"></span>
            </td>
            <td>
              <span class="glyphicon glyphicon-trash" ng-click="deleteRule(addSjz.sltDati, $index)"></span>
            </td>
          </tr>
        </table>
      </div>
    </div>
    <div class="paperBox" id="zjTestList" ng-if="!onlyShowAddRuleBox">
      <h3 class="text-center fz20" style="font-weight: 500">
        <input type="text" placeholder="点击输入试卷名称" class="text-center wp100 bd0" ng-model="zuJuanParam.sjzName"/>
      </h3>
      <div class="pull-left wp100" ng-repeat="tx in sjzSet['组卷规则']" repeat-done>
        <h4 class="daTiName">
          <span class="cursorPointer" style="font-weight: 500" ng-bind="cnNumArr[$index] + '、' + tx['大题名称']"
                ng-click="showSjzEdit()"></span>
          <span class="fz14">(随机题目:{{tx['随机题目数量'] || 0}},固定题目:{{tx['固定题目'].length}})</span>
          <span class="fz14 ml15 cursorPointer" ng-click="addTiMuPop(tx, 'fiexd')">
            <span class="glyphicon glyphicon-plus cBlue"></span>添加固定试题
          </span>
          <span class="fz14 ml15 cursorPointer" ng-click="addTiMuPop(tx, 'random')">
            <span class="glyphicon glyphicon-plus cBlue"></span>添加随机试题
          </span>
          <span class="datiMoveBtns ml15">
            <button type="button" class="btn btn-default" ng-click="moveDaTi($index, -1)" ng-hide="$first">上移</button>
            <button type="button" class="btn btn-default" ng-click="moveDaTi($index, 1)" ng-hide="$last">下移</button>
          </span>
        </h4>
        <table ng-if="tx['随机题目'].length>0">
          <tr>
            <th>知识点</th>
            <th>题型</th>
            <th>数量</th>
            <th>分值</th>
            <th>难度</th>
            <th>使用题目池</th>
            <th>限定题库</th>
            <th>删除</th>
          </tr>
          <tr ng-repeat="sjtm in tx['随机题目']">
            <td>
              <input type="text" value="{{sjtm['知识点名称'].join('；')}}" disabled class="font-cut">
            </td>
            <td ng-bind="tiXingArr[sjtm['题型']-1]"></td>
            <td ng-bind="sjtm['题目数量']"></td>
            <td ng-bind="sjtm['题目分值']"></td>
            <td ng-bind="sjtm['难度名称'].join(',')"></td>
            <td>
              <span ng-show="sjtm['使用题目池']">是</span>
              <span ng-hide="sjtm['使用题目池']">否</span>
            </td>
            <td ng-bind="sjtm['限定题库名称'].join(',')"></td>
            <td>
              <span class="glyphicon glyphicon-trash" ng-click="deleteRule(tx, $index)"></span>
            </td>
          </tr>
        </table>
        <ul class="list-unstyled testList">
          <li ng-repeat="tm in tx['固定题目']">
            <div class="item-cont positionRe daTiName">
              <h3 class="item-tigan" style="padding-right:100px" ng-bind-html="($index + 1) + '、' + tm['题目内容']['题干']"></h3>
              <div class="fenZhi">
                <span class="datiMoveBtns mr15">
                  <button type="button" class="btn btn-default" ng-click="moveTM($index, -1, tx, tm)" ng-hide="$first">上移</button>
                  <button type="button" class="btn btn-default" ng-click="moveTM($index, 1, tx, tm)" ng-hide="$last">下移</button>
                  <button type="button" class="btn btn-default" ng-click="deleteTiMu(tx, $index)">删除</button>
                </span>
                <span ng-class="{clRed:!(tm['分值'] && tm['分值']>0)}">
                  (分值：<input type="text" class="w40" ng-model="tm['分值']" placeholder="分值"
                             onkeyup="this.value=this.value.replace(/\D/g,'')"
                             onafterpaste="this.value=this.value.replace(/\D/g,'')"/>)
                </span>
              </div>
              <div class="item-tizhi-wrap">
                <p class="item-tizhi" ng-repeat="tz in tm['题目内容']['选项'] track by $index">
                  <span ng-cloak>{{'(' + letterArr[$index] + ')'}}</span>
                  <span class="tiZhiSpan" ng-bind-html="tz"></span>
                </p>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="row fixed-bottom" ng-hide="onlyShowAddRuleBox">
    <table>
      <tr>
        <td>
          <label class="fz14">限定时间:</label>
          <input type="date" ng-model="sjzSet['限定时间']"/>
        </td>
        <td>
          <button type="button" class="btn btn-primary ml10" ng-click="generatePaper()" ng-disabled="btnDisable">
            预览试卷
          </button>
          <button type="button" class="btn btn-primary ml10" ng-click="saveZjRule()" ng-disabled="zuJuanParam.msgClr">
            保存试卷组
          </button>
        </td>
      </tr>
    </table>
  </div>
</div>
<!--组卷试题显示-->
<div class="ruleMakePaper" ng-if="zuJuanParam.showTiMu=='tiMuPage'">
  <div class="row ruleMakePaper-header positionRe">
    <div class="mt5">
      <span class="ml10">题型：</span>
      <label class="radio-inline">
        <input type="radio" ng-model="zuJuanParam.txId" value="0" ng-change="qryTiMuByTxId()"> 全部题型
      </label>
      <label class="radio-inline" ng-repeat="kmtx in kmtxList">
        <input type="radio" ng-model="zuJuanParam.txId" value="{{kmtx['题型ID']}}" ng-change="qryTiMuByTxId()"> {{kmtx['题型名称']}}
      </label>
    </div>
    <div class="mt5">
      <span class="ml10">难度：</span>
      <label class="checkbox-inline mr15" ng-repeat="nd in tmNanDuList">
        <input type="checkbox" value="nd['难度ID']" ng-checked="nd.ckd" ng-click="getNanDuId(nd, 'qr')"> {{nd['难度名称']}}
      </label>
    </div>
    <div class="positionAb" style="top:18px;right:10px;">
      <button type="button" class="btn btn-danger" ng-click="backToSjz()">返回</button>
    </div>
  </div>
  <div class="row ruleMakePaper-body">
    <div class="total-test clearfix">
      <div class="pull-left allTestNums">
        <span>共<strong ng-bind="zuJuanParam.tiMuLen"></strong>题</span>
        <span ng-if="zuJuanParam.tmlTp=='tmc'">
          <button type="button" class="btn btn-primary ml15" ng-click="addTmToTmc('all')">全部加入题池</button>
          <button type="button" class="btn btn-primary ml15" ng-click="addTmToTmc('page')" ng-hide="removeThisPage">本页加入题池</button>
          <button type="button" class="btn btn-default ml15" ng-click="removeOut('page')" ng-show="removeThisPage">本页移出题池</button>
        </span>
      </div>
      <div class="pull-right">
        <div class="pull-left">
          <select ng-model="zuJuanParam.tiKuId" class="form-control pull-right h28 mr5" ng-change="qryTiMuByTiKu()"
                  ng-options="tk['题库ID'] as tk['题库名称'] for tk in tiKuList">
            <option value="">请选择题库</option>
          </select>
        </div>
        <div class="pull-left ml10">
          <select ng-model="zuJuanParam.ctr" class="form-control pull-right h28 mr5" ng-change="qryTiMuByChuTiRenId()"
                  ng-options="ctr.UID as ctr['姓名'] for ctr in chuTiRens">
            <option value="">请选择出题人</option>
          </select>
        </div>
        <div class="pull-left ml10">
          <label class="fz14">创建时间起始:</label>
          <input type="date" ng-model="zuJuanParam.cjsjKs" ng-change="qryTiMuByCjsj()"/>
        </div>
      </div>
    </div>
    <ul class="list-unstyled testList" id="testList">
      <li ng-repeat="tm in timuDetails" class="delete_{{tm['题目ID']}} pr130" repeat-done>
        <div class="item-sub-title pull-left">
          <p class="knowledge-point">
            题型：<span ng-bind="tiXingArr[tm['题型ID']-1]"></span>
          </p>
          <p class="knowledge-point-zsd">
            知识点：<span ng-repeat="zsd in tm['知识点']">【{{zsd['知识点名称']}}】</span>
          </p>
          <p class="level-num">
            难易度：<span class="pull-right level-star-{{tm['难度']}}"></span>
          </p>
          <p class="knowledge-point">
            出题人：<span class="pull-right" ng-bind="tm['出题人姓名']"></span>
          </p>
          <p class="knowledge-point">
            录题人：<span class="pull-right" ng-bind="tm['录题人姓名']"></span>
          </p>
          <p class="knowledge-point">
            ID：<span class="pull-right" ng-bind="tm['题目ID']"></span>
          </p>
          <p>
            创建时间：{{tm['创建时间'] | localDate | date : 'yyyy-MM-dd'}}
          </p>
          <div class="editWrap">
            <h3 class="item-title text-right" ng-if="zuJuanParam.tmlTp=='tmc'">
              <button type="button" class="btn btn-primary" ng-click="addTmToTmc('sgl', tm)" ng-hide="tm.ckd">加入题目池 </button>
              <button type="button" class="btn btn-default ng-hide" ng-click="removeOut('sgl', tm)" ng-show="tm.ckd">移除题目池 </button>
            </h3>
            <h3 class="item-title text-right" ng-if="zuJuanParam.tmlTp=='gdtm'">
              <button type="button" class="btn btn-primary" ng-click="addToPaper(tm)" ng-hide="tm.ckd">加入试卷</button>
              <button type="button" class="btn btn-default ng-hide" ng-click="removeOut('sj', tm)" ng-show="tm.ckd">移出试卷</button>
            </h3>
          </div>
        </div>
        <div class="item-cont" bn-slide-show slide-show-target="answer-cont" slide-show-idx="{{$index}}" title="显示答案">
          <h3 class="item-tigan" ng-bind-html="tm['题目内容']['题干']"></h3>
          <div class="item-tizhi-wrap">
            <p class="item-tizhi" ng-repeat="tz in tm['题目内容']['选项'] track by $index">
              <span ng-cloak>{{'(' + letterArr[$index] + ')'}}</span>
              <span class="tiZhiSpan" ng-bind-html="tz"></span>
            </p>
          </div>
        </div>
        <div class="answer-cont">
          <div class="positionRe">
            <span class="daAnLabel">答案：</span>
            <div class="daAnBox" ng-bind-html="tm['题目内容']['答案']"></div>
          </div>
        </div>
      </li>
    </ul>
    <div class="paging text-right" ng-if="pageParam.pageArr.length">
      <ul class="pagination pagination-sm">
        <li ng-class="{disabled: currentPage == 1}">
          <a href ng-click="pageGetData(1)">首页</a>
        </li>
        <li ng-class="{disabled: currentPage == 1}">
          <a href ng-click="pageGetData(prevPg = currentPage > 1 ? currentPage - 1 : 1)">
            上一页
          </a>
        </li>
        <li ng-repeat="pg in pages" ng-class="{active: currentPage == pg}">
          <a href ng-click="pageGetData(pg)">{{pg}}</a>
        </li>
        <li ng-class="{disabled: currentPage == pageParam.lastPage}">
          <a href ng-click="pageGetData(nextPg = currentPage < pageParam.lastPage ? currentPage + 1 : pageParam.lastPage)">
            下一页
          </a>
        </li>
        <li ng-class="{disabled: currentPage == pageParam.lastPage}">
          <a href ng-click="pageGetData(pageParam.lastPage)">尾页</a>
        </li>
      </ul>
      <div>
        <span>共 <strong ng-bind="lastPageNum"></strong> 页，</span>
        <span>跳转到</span>
        <input type="text" ng-model="zuJuanParam.goToPageNum" class="w110" onkeyup="if(isNaN(value))execCommand('undo')"
               onafterpaste="if(isNaN(value))execCommand('undo')"/>
        <span>页</span>
        <button ng-click="getFixedPageData()">GO</button>
      </div>
    </div>
  </div>
</div>
<!--试卷预览-->
<div class="ruleMakePaper" ng-if="zuJuanParam.showTiMu=='sjltPage'">
  <!--试卷列表-->
  <div class="p10">
    <span class="fz20">{{zuJuanParam.sjzName}}</span>
    <span class="fz16">(总分:{{zuJuanParam.sjScore}})</span>
    <a href="javascript:void(0)" class="ml15" ng-repeat="sj in sjList" ng-class="{active: shiJuanActive == $index}"
       ng-bind="'卷'+ ($index + 1)" ng-click="showShiJuanDtl(sj, $index)"></a>
  </div>
  <!--试卷详情-->
  <div id="paperWrap" class="plr10">
    <h4 class="text-center" ng-class="{clRed:zuJuanParam.msgClr, clGreen:!zuJuanParam.msgClr}" ng-bind="zuJuanParam.sjMsg"></h4>
    <div class="pull-left wp100" ng-repeat="tx in paperDtl['试卷题目']" repeat-done>
      <h4>
        <span style="font-weight: 500" ng-bind="cnNumArr[$index] + '、' + tx['大题名称']"></span>
        <span class="fz14">(本大题共 {{tx['题目'].length}} 小题，共 {{tx['大题分值']}} 分)</span>
      </h4>
      <ul class="list-unstyled testList">
        <li ng-repeat="tm in tx['题目']">
          <div class="item-cont">
            <h3 class="item-tigan" ng-bind-html="($index + 1) + '、' + tm['题目内容']['题干'] + '(本小题' + tm['分值'] + '分)(题目ID:' + tm['题目ID'] + ')'"></h3>
            <div class="item-tizhi-wrap">
              <p class="item-tizhi" ng-repeat="tz in tm['题目内容']['选项'] track by $index">
                <span ng-cloak>{{'(' + letterArr[$index] + ')'}}</span>
                <span class="tiZhiSpan" ng-bind-html="tz"></span>
              </p>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
  <div class="row fixed-bottom">
    <table>
      <tr>
        <td>
          <button type="button" class="btn btn-primary ml10" ng-click="backToSjz()">
            返回组卷
          </button>
          <button type="button" class="btn btn-primary ml10" ng-click="saveZjRule()" ng-disabled="zuJuanParam.msgClr">
            保存试卷组
          </button>
        </td>
      </tr>
    </table>
  </div>
</div>
<!--弹出层，修改大题名称-->
<div class="popup-wrap alter-dati" ng-if="zuJuanParam.sjzEdit">
  <div class="popup-wrap-inner">
    <div class="pwi-header plr10 text-center"><span class="title">修改大题名称</span></div>
    <div class="pwi-body p10 form-horizontal">
      <div class="row" ng-repeat="tx in sjzSet['组卷规则']">
        <div class="form-group">
          <label class="col-sm-1 control-label">{{cnNumArr[$index]}}、</label>
          <div class="col-sm-10">
            <input type="text" ng-model="tx['大题名称']" placeholder="此大题名称" class="form-control"/>
          </div>
        </div>
      </div>
    </div>
    <div class="pwi-footer plr10 text-center">
      <button type="button" class="btn btn-danger mt5" ng-click="closeSjzEdit()">取消</button>
      <button type="button" class="btn btn-primary mt5 ml15" ng-click="closeSjzEdit()">确定</button>
    </div>
  </div>
</div>
