<!--组卷题目显示-->
<div class="ruleMakePaper zuanJuanTiMu">
  <div class="row ruleMakePaper-header positionRe">
    <!--换题时用到的科目题型-->
    <div class="mt5" ng-if="cgTiMuObj.isCgTm">
      <span class="ml10">题型：</span>
      <label class="radio-inline">
        <input type="radio" ng-model="zuJuanParam.txId" value="{{cgTiMuObj.tx['题型ID']}}"> {{cgTiMuObj.tx['题型名称']}}
      </label>
    </div>
    <!--组卷时用到的科目题型-->
    <div class="mt5" ng-if="!cgTiMuObj.isCgTm">
      <span class="ml10">题型：</span>
      <label class="radio-inline">
        <input type="radio" ng-model="zuJuanParam.txId" value="0" ng-change="qryTiMuByTxId()"> 全部题型
      </label>
      <label class="radio-inline" ng-repeat="kmtx in kmtxList">
        <input type="radio" ng-model="zuJuanParam.txId" value="{{kmtx['题型ID']}}" ng-change="qryTiMuByTxId()"> {{kmtx['题型名称']}}
      </label>
    </div>
    <div class="mt5">
      <span class="ml10">难度：</span>
      <label class="checkbox-inline mr15" ng-repeat="nd in tmNanDuList">
        <input type="checkbox" value="nd['难度ID']" ng-checked="nd.ckd" ng-click="getNanDuId(nd, 'qr')"> {{nd['难度名称']}}
      </label>
    </div>
    <div class="positionAb" style="top:18px;right:10px;">
      <button type="button" class="btn btn-danger" ng-click="backToSjz()">返回</button>
    </div>
  </div>
  <div class="row ruleMakePaper-body">
    <div class="total-test clearfix">
      <div class="pull-left allTestNums">
        <span>共<strong ng-bind="zuJuanParam.tiMuLen"></strong>题</span>
        <span ng-if="zuJuanParam.tmlTp=='tmc'">
          <button type="button" class="btn btn-primary ml15" ng-click="addTmToTmc('all')">全部加入题池</button>
          <button type="button" class="btn btn-primary ml15" ng-click="addTmToTmc('page')" ng-hide="removeThisPage">本页加入题池</button>
          <button type="button" class="btn btn-default ml15" ng-click="removeOut('page')" ng-show="removeThisPage">本页移出题池</button>
        </span>
      </div>
      <div class="pull-right">
        <div class="pull-left">
          <select ng-model="zuJuanParam.tiKuId" class="form-control pull-right h28 mr5" ng-change="qryTiMuByTiKu()"
                  ng-options="tk['题库ID'] as tk['题库名称'] for tk in tiKuList">
            <option value="">所有题库</option>
          </select>
        </div>
        <div class="pull-left ml10">
          <select ng-model="zuJuanParam.ctr" class="form-control pull-right h28 mr5" ng-change="qryTiMuByChuTiRenId()"
                  ng-options="ctr.UID as ctr['姓名'] for ctr in chuTiRens">
            <option value="">全部出题人</option>
          </select>
        </div>
        <div class="pull-left ml10">
          <label class="fz14">创建时间起始:</label>
          <input type="date" ng-model="zuJuanParam.cjsjKs" ng-change="qryTiMuByCjsj()"/>
        </div>
      </div>
    </div>
    <ul class="list-unstyled testList" id="testList">
      <li ng-repeat="tm in timuDetails" class="delete_{{tm['题目ID']}} pr130" repeat-done>
        <div class="item-sub-title pull-left">
          <p class="knowledge-point">
            题型：<span ng-bind="tiXingArr[tm['题型ID']-1]"></span>
          </p>
          <p class="knowledge-point-zsd">
            知识点：<span ng-repeat="zsd in tm['知识点']">【{{zsd['知识点名称']}}】</span>
          </p>
          <p class="level-num">
            难易度：<span class="pull-right level-star-{{tm['难度']}}"></span>
          </p>
          <p class="knowledge-point">
            出题人：<span class="pull-right" ng-bind="tm['出题人姓名']"></span>
          </p>
          <p class="knowledge-point">
            录题人：<span class="pull-right" ng-bind="tm['录题人姓名']"></span>
          </p>
          <p class="knowledge-point">
            ID：<span class="pull-right" ng-bind="tm['题目ID']"></span>
          </p>
          <p>
            创建时间：{{tm['创建时间'] | localDate | date : 'yyyy-MM-dd'}}
          </p>
          <div class="editWrap">
            <h3 class="item-title text-right" ng-if="zuJuanParam.tmlTp=='tmc'">
              <button type="button" class="btn btn-primary" ng-click="addTmToTmc('sgl', tm)" ng-hide="tm.ckd">加入题目池 </button>
              <button type="button" class="btn btn-default ng-hide" ng-click="removeOut('sgl', tm)" ng-show="tm.ckd">移除题目池 </button>
            </h3>
            <h3 class="item-title text-right" ng-if="zuJuanParam.tmlTp=='gdtm'">
              <button type="button" class="btn btn-primary" ng-click="addToPaper(tm)" ng-hide="tm.ckd">加入试卷</button>
              <button type="button" class="btn btn-default ng-hide" ng-click="removeOut('sj', tm)" ng-show="tm.ckd">移出试卷</button>
            </h3>
            <h3 class="item-title text-right" ng-if="zuJuanParam.tmlTp=='cgtm'">
              <button type="button" class="btn btn-primary" ng-click="changeThisTiMu(tm)">换此题</button>
            </h3>
          </div>
        </div>
        <div class="item-cont" bn-slide-show slide-show-target="answer-cont" slide-show-idx="{{$index}}" title="显示答案">
          <h3 class="item-tigan" ng-bind-html="tm['题目内容']['题干']"></h3>
          <div class="item-tizhi-wrap">
            <p class="item-tizhi" ng-repeat="tz in tm['题目内容']['选项'] track by $index">
              <span ng-cloak>{{'(' + letterArr[$index] + ')'}}</span>
              <span class="tiZhiSpan" ng-bind-html="tz"></span>
            </p>
          </div>
        </div>
        <div class="answer-cont">
          <div class="positionRe">
            <span class="daAnLabel">答案：</span>
            <div class="daAnBox" ng-bind-html="tm['题目内容']['答案']"></div>
          </div>
        </div>
      </li>
    </ul>
    <div class="paging text-right" ng-if="pageParam.pageArr.length">
      <ul class="pagination pagination-sm">
        <li ng-class="{disabled: currentPage == 1}">
          <a href ng-click="pageGetData(1)">首页</a>
        </li>
        <li ng-class="{disabled: currentPage == 1}">
          <a href ng-click="pageGetData(prevPg = currentPage > 1 ? currentPage - 1 : 1)">
            上一页
          </a>
        </li>
        <li ng-repeat="pg in pages" ng-class="{active: currentPage == pg}">
          <a href ng-click="pageGetData(pg)">{{pg}}</a>
        </li>
        <li ng-class="{disabled: currentPage == pageParam.lastPage}">
          <a href ng-click="pageGetData(nextPg = currentPage < pageParam.lastPage ? currentPage + 1 : pageParam.lastPage)">
            下一页
          </a>
        </li>
        <li ng-class="{disabled: currentPage == pageParam.lastPage}">
          <a href ng-click="pageGetData(pageParam.lastPage)">尾页</a>
        </li>
      </ul>
      <div>
        <span>共 <strong ng-bind="lastPageNum"></strong> 页，</span>
        <span>跳转到</span>
        <input type="text" ng-model="zuJuanParam.goToPageNum" class="w110" onkeyup="if(isNaN(value))execCommand('undo')"
               onafterpaste="if(isNaN(value))execCommand('undo')"/>
        <span>页</span>
        <button ng-click="getFixedPageData()">GO</button>
      </div>
    </div>
  </div>
</div>
