<h4 class="logo text-center">
  <img src="/images/logo.png" alt="智夫子">
</h4>
<div class="col-md-6 text-right">
  <div class="w200 pull-right text-center cursorPointer">
    <a href="javascript:void(0)" class="mt10" ng-click="teacherRegister()">
      <img class="w200" src="/images/teacher.png" alt="教师注册"/>
      <p class="mt10">我是老师</p>
    </a>
  </div>
</div>
<div class="col-md-6">
  <div class="w200 text-center cursorPointer">
    <a href="javascript:void(0)" class="mt10" ng-click="studentRegister()">
      <img class="w200" src="/images/student.png" alt="学生注册"/>
      <p class="mt10">我是学生</p>
    </a>
  </div>
</div>
<div class="text-center">
  已有账号，<a ng-href="/renzheng" class="mt10" ng-click="registerBackTo(0)">登录</a>
</div>
