<h4 class="admin-title">公共知识点设置</h4>
<div class="dagangInput setDaGangBox">
  <div class="row">
    <div class="col-md-6">
      <select class="form-control" ng-model="ly_id" ng-change="getLingYuKeMu(ly_id)" ng-options="ly['领域ID'] as ly['领域名称'] for ly in setZsdLingYu">
        <option value="">请选择领域</option>
      </select>
    </div>
    <div class="col-md-6">
      <select class="form-control" ng-model="km_id" ng-change="getPublicZsd(km_id)" ng-options="km['科目ID'] as km['科目名称'] for km in lyKeMu">
        <option value="">请选择科目</option>
      </select>
    </div>
  </div>
  <div class="row zsdWrap mt15">
    <div>
      <div class="col-sm-9">
        <div class="input-group" ng-show="adminParams.zsdWrapShow">
          <input type="text" class="form-control" ng-model="adminParams.zsdNewName"/>
          <span class="input-group-btn">
            <button class="btn btn-success" type="button" ng-click="modifyPubZsd()" ng-disabled="loadingImgShow">保存</button>
          </span>
        </div>
      </div>
      <div class="col-sm-3 text-right cursorPointer" style="margin-top:8px;">
        <span style="margin-left: 5px;" ng-hide="adminParams.zsdWrapShow" ng-click="showModifyZsd()">
          <span class="glyphicon glyphicon-plus-sign clGreen"></span> 新增知识点
        </span>
        <span ng-show="adminParams.zsdWrapShow" ng-click="adminParams.zsdWrapShow=false">取消</span>
      </div>
    </div>
    <ul class="col-md-12 list-unstyled plr10">
      <li class="plr10 bdb mt10" ng-repeat="zsd in zsdSetZsdData">
        <span ng-bind="zsd['知识点名称']"></span>
        <span class="pull-right">
          <a href="javascript:void(0)" title="修改" class="mr10" ng-click="showModifyZsd(zsd)">
            <span class="glyphicon glyphicon-pencil"></span>
          </a>
          <span class="glyphicon glyphicon-trash" ng-click="deletePubZsd(zsd)"></span>
        </span>
      </li>
    </ul>
  </div>
  <div class="paging" ng-if="pageParam.pageArr.length">
    <ul class="pagination pagination-sm" style="width:95%;margin-left:5%;">
      <li ng-class="{disabled: currentPage == 1}">
        <a href ng-click="publicZsdDist(1)">首页</a>
      </li>
      <li ng-class="{disabled: currentPage == 1}">
        <a href ng-click="publicZsdDist(prevPg = currentPage > 1 ? currentPage - 1 : 1)">
          上一页
        </a>
      </li>
      <li ng-repeat="pg in pages" ng-class="{active: currentPage == pg}">
        <a href ng-click="publicZsdDist(pg)">{{pg}}</a>
      </li>
      <li ng-class="{disabled: currentPage == pageParam.lastPage}">
        <a href ng-click="publicZsdDist(nextPg = currentPage < pageParam.lastPage ? currentPage + 1 : pageParam.lastPage)">
          下一页
        </a>
      </li>
      <li ng-class="{disabled: currentPage == pageParam.lastPage}">
        <a href ng-click="publicZsdDist(pageParam.lastPage)">尾页</a>
      </li>
    </ul>
  </div>
</div>
