<div class="col-md-12 infoBox">
  <h3 class="text-center shTitle"> 教师管理
    <!--<a href="javascript:void(0)" ng-click="closeShenheBox()" class="closeShenBox pull-right" title="关闭窗口">-->
      <!--<span class="glyphicon glyphicon-remove"></span>-->
    <!--</a>-->
    <button type="button" class="btn btn-danger pull-right" ng-click="closeShenheBox()">返回</button>
  </h3>
  <div class="tab-pane">
    <table class="table table-bordered shenheTable" style="font-size: 12px">
      <thead>
      <tr>
        <th width="55px">姓名</th>
        <th>用户名</th>
        <th>邮箱</th>
        <th width="90px">手机</th>
        <th width="450px">科目角色</th>
        <th width="60px">操作</th>
      </tr>
      </thead>
      <tbody class="shenheList">
      <tr ng-repeat="tech in teacherData">
        <td ng-bind="tech['姓名']"></td>
        <td ng-bind="tech['用户名']"></td>
        <td ng-bind="tech['邮箱']"></td>
        <td ng-bind="tech['手机']"></td>
        <td>
          <table class="table">
            <tr ng-repeat="km in tech['科目角色']">
              <td ng-bind="km['科目名称']"></td>
              <td>
                <label ng-repeat="js in km['角色']" class="checkbox-inline">
                  <input type="checkbox" ng-checked="js.ckd" ng-click="jueseClicked(js)"/>
                  <span ng-bind="js['角色名称']"></span>
                </label>
              </td>
            </tr>
          </table>
        </td>
        <td>
          <button type="button" class="btn btn-success" ng-click="saveTeacherJs(tech)" ng-disabled="loadingImgShow">保存</button>
          <button type="button" class="btn btn-danger mt10" ng-click="delTeacherJs(tech)">删除</button>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
