<div class="fix-to-top-right" ng-hide="isShenHeBox">
  <button type="button" class="btn btn-danger" ng-click="closeShenheBox()">
    返回
  </button>
</div>
<div class="col-md-3 logoutInfo" ng-init="showAlterAdminBox = false" ng-hide="adminParams.navHide">
  <h4>
    您好，<a href="javascript:void(0)" ng-bind="usrInfo['用户名']" ng-click="showAlterAdminBox = !showAlterAdminBox"></a>
    <span class="hide userUID" ng-bind="usrInfo['UID']"></span>
  </h4>
  <h4>
    <a type="button" href="javascript:void(0)" ng-click="signOut()" class="btn btn-success">注销</a>
  </h4>
  <div class="mt15 pull-left" ng-show="showAlterAdminBox">
    <span>请输入新密码：</span>
    <input type="text" class="newPassWord form-control" ng-model="adminParams.newPsd"/>
    <button type="button" class="btn btn-primary mt5 ml15 pull-right" ng-click="modifyAdminPassWord()"
            ng-disabled="!adminParams.newPsd">修改
    </button>
    <button type="button" class="btn btn-danger mt5 pull-right" ng-click="showAlterAdminBox = !showAlterAdminBox">
      取消
    </button>
    <p class="adminMiMaInfo"></p>
  </div>
</div>
<div class="col-md-9 entries" ng-show="isShenHeBox">
  <h4 ng-hide="adminParams.navHide">请选择您要进行的操作：</h4>
  <ul class="list-unstyled" ng-hide="adminParams.navHide">
    <li>
      <a href="javascript:void(0)" class="btn btn-primary" ng-click="renderLingYuSelectTpl()">学校科目选择</a>
    </li>
    <li>
      <a href="javascript:void(0)" class="btn btn-primary" ng-click="renderTiXingSelectTpl()">科目题型选择</a>
    </li>
    <li>
      <a href="javascript:void(0)" class="btn btn-primary" ng-click="renderTeacherTpl()">学校教师</a>
    </li>
    <li>
      <!--<a href="javascript:void(0)" class="btn btn-primary" ng-click="renderPerm()">权限审批</a>-->
    </li>
    <li>
      <a href="javascript:void(0)" class="btn btn-primary" ng-click="renderTiKu()">学校题库</a>
    </li>
    <li>
      <a href="javascript:void(0)" class="btn btn-primary" ng-click="renderKaoDianTpl('xxgly')">考点管理</a>
    </li>
  </ul>
</div>
<!-- 审核权限开始  -->
<div class="shenheBox" ng-class="{row:isShenHeBox, 'col-md-9':!isShenHeBox}" ng-include="adminSubWebTpl">
</div>
<!-- 审核权限结束  -->
