<div class="sub-nav tj-ks fixed-top">
  <ul class="nav nav-tabs" ng-hide="isTjDetailShow">
    <li ng-class="{active: tj_tabActive == 'kaoshiTj'}">
      <a href="javascript:void(0)" ng-click="showKaoShiTjList()">
        考试统计
      </a>
    </li>
    <li ng-class="{active: tj_tabActive == 'kaoshengTj'}">
      <a href="javascript:void(0)" ng-click="showKaoShengTjList()">
        作答重现
      </a>
    </li>
  </ul>
</div>
<!-- 统计的容器 开始-->
<div class="tab-content wp90 mlp5 ptb10">
  <h4 class="pb10">
    <span class="cYell" ng-bind="defaultKeMu['科目名称']"></span>考试统计
  </h4>
  <table class="table table-striped">
    <tr>
      <th>考试名称组</th>
      <th width="120px" class="text-center">考试人数</th>
      <th width="240px" class="text-center">创建时间</th>
    </tr>
    <tr ng-repeat="ksz in kaoShiZuList" ng-click="tjShowKaoShiChart(ks)">
      <td>
        <a href="javascript:void(0)" ng-bind="ksz['考试组名称']"></a>
      </td>
      <td class="text-center" ng-bind="ksz['总人数']"></td>
      <td class="text-center" ng-bind="ksz['创建时间'] | localDate | date : 'yyyy-MM-dd'"></td>
    </tr>
  </table>
  <div class="paging text-right">
    <ul class="pagination pagination-sm">
      <li ng-class="{disabled: pageParam.activePage == 1}">
        <a href ng-click="kaoShiZuDist(1)">首页</a>
      </li>
      <li ng-class="{disabled: pageParam.activePage == 1}">
        <a href
           ng-click="kaoShiZuDist(prevPg = pageParam.activePage > 1 ? pageParam.activePage - 1 : 1)">
          上一页
        </a>
      </li>
      <li ng-repeat="pg in pageParam.disPage" ng-class="{active: pageParam.activePage == pg}">
        <a href ng-click="kaoShiZuDist(pg)">{{pg}}</a>
      </li>
      <li ng-class="{disabled: pageParam.activePage ==  pageParam.lastPage}">
        <a href
           ng-click="kaoShiZuDist(nextPg = pageParam.activePage < pageParam.lastPage ? pageParam.activePage + 1 : pageParam.lastPage)">
          下一页
        </a>
      </li>
      <li ng-class="{disabled: pageParam.activePage == pageParam.lastPage}">
        <a href ng-click="kaoShiZuDist(pageParam.lastPage)">尾页</a>
      </li>
    </ul>
  </div>
</div>
<!-- 统计的容器 结束-->
