<div class="row tj-ks-title fixed-top">
  <span>按考试统计</span>
  <button class="btn btn-danger pull-right" ng-click="backToList()">返回列表</button>
</div>
<div class="tab-content ks-chart-page">
  <div class="bg">
  </div>
  <div class="row">
    <table class="table table-bordered bgcFFF wp48 pull-left">
      <tr>
        <th colspan="2" class="info">
          考试概要信息
        </th>
      </tr>
      <tr>
        <td width="20%">考试组名称</td>
        <td>
          <div ng-bind="kszPubData['考试组名称']" class="pull-left"></div>
        </td>
      </tr>
      <tr class="success">
        <td>平均分数</td>
        <td ng-bind="kszPubData['考试组平均分']"></td>
      </tr>
      <tr>
        <td>考试人数</td>
        <td>
          实考人数：{{kszPubData['已作答人数']}}  /  总人数：{{kszPubData['总人数']}}
        </td>
      <tr>
      <tr class="warning">
        <td>考试时间</td>
        <!--<td ng-show="kszPubData.kaikaodate" ng-bind="kszPubData.kaikaodate | localDate:'ww'"></td>-->
        <td></td>
      </tr>
      <tr>
        <td>参数设置</td>
        <td>
        </td>
      </tr>
    </table>
    <div class="tj-ks-box wp48 ml15">
      <h4 class="title">
        按课序号统计
      </h4>
      <div class="selectBanJi">
        <div class="banJiList">
          <ul class="list-unstyled banJiUl">
            <li ng-class="{active: tjParas.lastSltKxh.kxhIdx == 0}" ng-click="tjByKxh('all')">
              <a href="javascript:void(0)">全部</a>
            </li>
            <li ng-repeat="kxh in tjKxh" ng-class="{active: kxh['索引'] == tjParas.lastSltKxh.kxhIdx}"
                ng-click="tjByKxh(kxh)">
              <a href="javascript:void(0)" ng-bind="kxh['课序号名称']"></a>
            </li>
          </ul>
          <div class="page">
            <p class="wp50 text-center up" ng-click="kxhPage('up')">
              <span class="glyphicon glyphicon-chevron-up"></span>
            </p>
            <p class="wp50 text-center down" ng-click="kxhPage('down')">
              <span class="glyphicon glyphicon-chevron-down"></span>
            </p>
          </div>
        </div>
        <div class="banJiName text-center pull-right">
          <span>平均分：</span><span ng-bind="tjParas.sltKxhPjf"></span>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="tj-ks-box wp48">
      <h4 class="title">课序号平均分分布</h4>
      <div class="chart">
        <div id="chartBar" style="height:100%;width: 100%">
        </div>
      </div>
    </div>
    <div class="tj-ks-box wp48 ml15">
      <h4 class="title">
        <span>知识点统计</span>
      </h4>
      <div class="chart">
        <div id="chartRadarZsd" style="height:100%;width: 100%">
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="tj-ks-box wp48">
      <h4 class="title">题目作答正确率</h4>
      <div class="chart">
        <div class="student-list">
          <table class="table table-striped">
            <tr>
              <th>题目ID</th>
              <th>得分率</th>
              <th>作答人数</th>
            </tr>
            <tr ng-repeat="tm in tiMuDeFenLv">
              <td ng-bind="tm['题目ID']"></td>
              <td ng-bind="tm['得分率'] + '%'"></td>
              <td ng-bind="tm['答题数']"></td>
            </tr>
          </table>
        </div>
      </div>
    </div>
    <div class="tj-ks-box wp48 ml15">
      <h4 class="title">
        <span>考生名单</span>
        <span class="ml15" ng-bind="tjParas.sltWeiDu" ng-if="tjParas.sltWeiDu!='全部'"></span>
        <button class="btn btn-primary pull-right mt5 mr5" ng-show="studentData.length"
                ng-click="exportKsInfo(studentData)">导出考生
        </button>
      </h4>
      <div class="chart">
        <div class="student-list">
          <table class="table table-striped">
            <tr>
              <th ng-click="ksSortDataFun('xuhao')">序号</th>
              <th ng-click="ksSortDataFun('stuId')">学号</th>
              <th ng-click="ksSortDataFun('name')">姓名</th>
              <th ng-click="ksSortDataFun('score')">成绩</th>
              <th ng-click="ksSortDataFun('kxh')">课序号</th>
            </tr>
            <tr ng-repeat="ksd in studentData">
              <td ng-bind="ksd['序号']">
              </td>
              <td ng-bind="ksd['学号']">
              </td>
              <td>
                <a href="javascript:void(0)" ng-bind="ksd['姓名']" ng-click="zuoDaReappear(ksd)"></a>
              </td>
              <td ng-bind="ksd['实际评分']">
              </td>
              <td ng-bind="ksd['课序号名称']">
              </td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
<!--考试选择-->
<div class="popup-wrap" ng-show="showMoreKaoShi">
  <div class="popup-wrap-inner">
    <div class="pwi-header plr10 text-right">
      <button type="button" class="btn btn-success mt5" ng-click="kszChart(tjParas.selectedKaoShi);showMoreKaoShi=false">确定</button>
      <button type="button" class="btn btn-danger mt5 ml10" ng-click="showMoreKaoShi=false">关闭</button>
    </div>
    <div class="pwi-body plr10">
      <table class="table table-striped">
        <tr>
          <th>考试名称</th>
          <th>试卷名称</th>
          <th width="120px" class="text-center">考试人数</th>
          <th width="120px" class="text-center">考试时间</th>
        </tr>
        <tr ng-repeat="ks in tjKaoShiList">
          <td>
            <input type="checkbox" ng-click="addKaoShiToTj($event, ks)"/> {{ks.KAOSHI_MINGCHENG}}
          </td>
          <td>
            <p class="m0" ng-repeat="kssj in ks.SHIJUAN" ng-bind="kssj.SHIJUAN_MINGCHENG"></p>
          </td>
          <td class="text-center" ng-bind="ks.KSRS"></td>
          <td class="text-center" ng-bind="ks.KAISHISHIJIAN | localDate | date : 'yyyy-MM-dd'"></td>
        </tr>
      </table>
    </div>
    <div class="pwi-footer plr10 text-center">
      <ul class="pagination pagination-sm pull-right" ng-hide="!tjKaoShiList">
        <li ng-class="{disabled: currentPage == 1}">
          <a href ng-click="tjPaging(1)">首页</a>
        </li>
        <li ng-class="{disabled: currentPage == 1}">
          <a href
             ng-click="tjPaging(prevPg = currentPage > 1 ? currentPage - 1 : 1)">
            上一页
          </a>
        </li>
        <li ng-repeat="pg in tjPages" ng-class="{active: currentPage == pg}">
          <a href ng-click="tjPaging(pg)">{{pg}}</a>
        </li>
        <li ng-class="{disabled: currentPage == lastPageNum}">
          <a href
             ng-click="tjPaging(nextPg = currentPage < lastPageNum ? currentPage + 1 : lastPageNum)">
            下一页
          </a>
        </li>
        <li ng-class="{disabled: currentPage == lastPageNum}">
          <a href ng-click="tjPaging(lastPageNum)">尾页</a>
        </li>
      </ul>
    </div>
  </div>
</div>
<!--试卷选择-->
<div class="popup-wrap" ng-show="showMoreShiJuan">
  <div class="popup-wrap-inner no-header">
    <div class="pwi-body plr10">
      <label class="checkbox-inline" ng-repeat="sj in kszPubData.shijuan">
        <input type="checkbox" value="sj.SHIJUAN_ID" checked>
        {{sj.SHIJUAN_MINGCHENG}}
      </label>
    </div>
    <div class="pwi-footer plr10 text-center">
      <button type="button" class="btn btn-danger mt5" ng-click="showMoreShiJuan=false">关闭</button>
      <button type="button" class="btn btn-success mt5 ml10" ng-click="tjByShiJuan();showMoreKaoShi=false">确定</button>
    </div>
  </div>
</div>
<!--作答重现-->
<div class="popup-percent" ng-hide="showKaoShengList">
  <div class="popup-percent-inner">
    <div>
      <label class="closePaperDetailBtn fz16" ng-hide="showKaoShengList">
        <input type="checkbox" ng-model="checkboxModel"> 只看失分题目
      </label>
      <button type="button" class="btn btn-danger closePaperDetailBtn" ng-click="closeZuoDaReappear()">
        关闭
      </button>
    </div>
    <div class="inner-box">
      <h2 class="text-center">
        <span ng-bind="kaoShengShiJuan.sj_name"></span>
      </h2>
      <div id="answerReappearShiJuan">
        <div ng-repeat="dati in kaoShengShiJuan.sj_tm" repeat-done>
          <h4>
            <span>{{tjParas.cnNumArr[$index]}}、</span>
            <span ng-bind="dati['大题名称']"></span>
          </h4>
          <ul class="list-unstyled">
            <li class="ptb5" ng-repeat="xtm in dati['题目']" ng-hide="checkboxModel && xtm['考生作答']['得分'] == xtm['分值']">
              <h4 class="ar-tiGan itemHasImg">
                <span ng-bind-html="($index + 1) + '、' + xtm['题目内容']['题干']"></span>
                (本小题 <b ng-bind="xtm['分值']"></b> 分)
                (最后得分：<b class="clRed" ng-bind="xtm['考生作答']['得分']"></b> 分)
                (本题得分率：<b ng-bind="xtm['得分率'] + '%'"></b>)
                (阅卷教师：<b ng-bind="xtm['考生作答']['阅卷教师']"></b>)
              </h4>
              <!-- 单选题 -->
              <div class="ar-tzs" ng-if="xtm['题型ID'] == 1">
                <div class="ar-tz" ng-repeat="tznr in xtm['题目内容']['选项'] track by $index">
                  <p class="positionAb">
                    <input type="radio" name="{{'radio' + $parent.$index}}" value="{{$index}}"
                           ng-model="xtm['考生作答']['考生答案']" disabled/> {{'(' + tjParas.letterArr[$index] + ')'}}
                  </p>
                  <p class="pl40" ng-bind-html="tznr" ng-class="{clRed:xtm['考生作答']['考生答案'] == tjParas.letterArr[$index]}"></p>
                </div>
              </div>
              <!-- 多选题 -->
              <div class="ar-tzs" ng-if="xtm['题型ID'] == 2">
                <div class="ar-tz" ng-repeat="tznr in xtm['题目内容']['选项'] track by $index">
                  <p class="positionAb">
                    <input type="checkbox" name="{{'checkbox' + $parent.$index}}"
                           ng-checked="xtm['考生作答']['考生答案'].indexOf(tjParas.letterArr[$index]) > -1" disabled/>
                    {{'(' + tjParas.letterArr[$index] + ')'}}
                  </p>
                  <p class="pl40" ng-bind-html="tznr" ng-class="{clRed:xtm['考生作答']['考生答案'] == tjParas.letterArr[$index]}"></p>
                </div>
              </div>
              <!-- 判读题 -->
              <div class="ar-tzs" ng-if="xtm['题型ID'] == 3">
                <span ng-class="{clRed:xtm['考生作答']['考生答案'] == 1}">
                <input type="radio" name="{{'pdRadio' + $parent.$index}}" value="1" ng-model="xtm['考生作答']['考生答案']" disabled/>  对
                </span>
                <span ng-class="{clRed:xtm['考生作答']['考生答案'] == 0}">
                <input type="radio" name="{{'pdRadio' + $parent.$index}}" value="0" style="margin: 0 0 0 20px"
                       ng-model="xtm['考生作答']['考生答案']" disabled/>  错
                </span>
              </div>
              <!-- 题型ID大于等于5 -->
              <div class="ar-tzs itemHasImg" ng-if="xtm['题型ID'] >= 5" ng-bind-html="xtm['考生作答']['考生答案']">
              </div>
              <h5>标准答案：<span ng-bind-html="xtm['题目内容']['答案']"></span></h5>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
