<div class="row tj-ks-title fixed-top">
  <span>按考试统计</span>
  <button class="btn btn-danger pull-right" ng-click="backToList()">返回列表</button>
</div>
<div class="tab-content ks-chart-page">
  <div class="bg">
  </div>
  <div class="row">
    <table class="table table-bordered bgcFFF wp48 pull-left">
      <tr>
        <th colspan="2" class="info">
          考试概要信息
        </th>
      </tr>
      <tr>
        <td width="20%">考试名称</td>
        <td>
          <div ng-bind="kszPubData['考试组名称']" class="pull-left"></div>
        </td>
      </tr>
      <tr class="success">
        <td>平均分数</td>
        <td ng-bind="kszPubData['考试组平均分']"></td>
      </tr>
      <tr>
        <td>考试人数</td>
        <td>
          实考人数：{{kszPubData['已作答人数']}}  /  总人数：{{kszPubData['总人数']}}
        </td>
      <tr>
      <tr class="warning">
        <td>考试时间</td>
        <!--<td ng-show="kszPubData.kaikaodate" ng-bind="kszPubData.kaikaodate | localDate:'ww'"></td>-->
        <td></td>
      </tr>
      <tr>
        <td>参数设置</td>
        <td>
        </td>
      </tr>
    </table>
    <div class="tj-ks-box wp48 ml15">
      <h4 class="title">
        按课序号统计
      </h4>
      <div class="selectBanJi">
        <div class="banJiList">
          <ul class="list-unstyled banJiUl">
            <li ng-class="{active: tjParas.lastSltKxh.kxhIdx == 0}" ng-click="tjByKxh('all')">
              <a href="javascript:void(0)">全部</a>
            </li>
            <li ng-repeat="kxh in tjKxh" ng-class="{active: kxh['索引'] == tjParas.lastSltKxh.kxhIdx}"
                ng-click="tjByKxh(kxh)">
              <a href="javascript:void(0)" ng-bind="kxh['课序号名称']"></a>
            </li>
          </ul>
          <div class="page">
            <p class="wp50 text-center up" ng-click="kxhPage('up')">
              <span class="glyphicon glyphicon-chevron-up"></span>
            </p>
            <p class="wp50 text-center down" ng-click="kxhPage('down')">
              <span class="glyphicon glyphicon-chevron-down"></span>
            </p>
          </div>
        </div>
        <div class="banJiName text-center pull-right">
          <span>平均分：</span><span ng-bind="tjParas.sltKxhPjf"></span>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="tj-ks-box wp48">
      <h4 class="title">课序号平均分分布</h4>
      <div class="chart">
        <div id="chartBar" style="height:100%;width: 100%">
        </div>
      </div>
    </div>
    <div class="tj-ks-box wp48 ml15">
      <h4 class="title">
        <span>知识点统计</span>
      </h4>
      <div class="chart">
        <div id="chartRadarZsd" style="height:100%;width: 100%">
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="tj-ks-box wp48">
      <h4 class="title">题目作答正确率</h4>
      <div class="chart">
        <div class="student-list">
          <table class="table table-striped">
            <tr>
              <th>题目ID</th>
              <th>得分率</th>
              <th>作答人数</th>
            </tr>
            <tr ng-repeat="tm in tiMuDeFenLv">
              <td>
                <a href="javascript:void(0)" ng-bind="tm['题目ID']" ng-click="showTiMuDetail(tm['题目ID'])"></a>
              </td>
              <td ng-bind="tm['得分率'] + '%'"></td>
              <td ng-bind="tm['答题数']"></td>
            </tr>
          </table>
        </div>
      </div>
    </div>
    <div class="tj-ks-box wp48 ml15">
      <h4 class="title">
        <span>考生名单</span>
        <span class="ml15" ng-bind="tjParas.sltWeiDu" ng-if="tjParas.sltWeiDu!='全部'"></span>
        <button class="btn btn-primary pull-right mt5 mr5" ng-show="studentData.length"
                ng-click="exportKsInfo(studentData)">导出考生
        </button>
      </h4>
      <div class="chart">
        <div class="student-list">
          <table class="table table-striped">
            <tr>
              <th class="cursorPointer" ng-click="ksSortDataFun('xuhao')">序号</th>
              <th class="cursorPointer" ng-click="ksSortDataFun('stuId')">学号</th>
              <th class="cursorPointer" ng-click="ksSortDataFun('name')">姓名</th>
              <th class="cursorPointer" ng-click="ksSortDataFun('score')">成绩</th>
              <th class="cursorPointer" ng-click="ksSortDataFun('kxh')">课序号</th>
            </tr>
            <tr ng-repeat="ksd in studentData">
              <td ng-bind="ksd['序号'] + 1">
              </td>
              <td ng-bind="ksd['学号']">
              </td>
              <td>
                <a href="javascript:void(0)" ng-bind="ksd['姓名']" ng-click="zuoDaReappear(ksd)"></a>
              </td>
              <td ng-bind="ksd['实际评分']">
              </td>
              <td ng-bind="ksd['课序号名称']">
              </td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
<!--作答重现-->
<div class="popup-percent" ng-hide="showKaoShengList">
  <div class="popup-percent-inner">
    <div>
      <label class="closePaperDetailBtn fz16" ng-hide="showKaoShengList">
        <input type="checkbox" ng-model="checkboxModel"> 只看失分题目
      </label>
      <button type="button" class="btn btn-danger closePaperDetailBtn" ng-click="closeZuoDaReappear()">
        关闭
      </button>
    </div>
    <div class="inner-box">
      <h2 class="text-center">
        <span ng-bind="kaoShengShiJuan.sj_name"></span>
      </h2>
      <div id="answerReappearShiJuan">
        <div ng-repeat="dati in kaoShengShiJuan.sj_tm" repeat-done>
          <h4>
            <span>{{tjParas.cnNumArr[$index]}}、</span>
            <span ng-bind="dati['大题名称']"></span>
          </h4>
          <ul class="list-unstyled">
            <li class="ptb5" ng-repeat="xtm in dati['题目']" ng-hide="checkboxModel && xtm['考生作答']['得分'] == xtm['分值']">
              <h4 class="ar-tiGan itemHasImg">
                <span ng-bind-html="($index + 1) + '、' + xtm['题目内容']['题干'] | outTiGan"></span>
                (本小题 <b ng-bind="xtm['分值']"></b> 分)
                (最后得分：<b class="clRed" ng-bind="xtm['考生作答']['得分']"></b> 分)
                (本题得分率：<b ng-bind="xtm['得分率'] + '%'"></b>)
                (阅卷教师：<b ng-bind="xtm['考生作答']['阅卷教师']"></b>)
              </h4>
              <!-- 单选题 -->
              <div class="ar-tzs" ng-if="xtm['题型ID'] == 1">
                <div class="ar-tz" ng-repeat="tznr in xtm['题目内容']['选项'] track by $index">
                  <p class="positionAb">
                    <input type="radio" name="{{'radio' + $parent.$index}}" value="{{$index}}"
                           ng-model="xtm['考生作答']['考生答案']" disabled/> {{'(' + tjParas.letterArr[$index] + ')'}}
                  </p>
                  <p class="pl40" ng-bind-html="tznr" ng-class="{clRed:xtm['考生作答']['考生答案'] == tjParas.letterArr[$index]}"></p>
                </div>
              </div>
              <!-- 多选题 -->
              <div class="ar-tzs" ng-if="xtm['题型ID'] == 2">
                <div class="ar-tz" ng-repeat="tznr in xtm['题目内容']['选项'] track by $index">
                  <p class="positionAb">
                    <input type="checkbox" name="{{'checkbox' + $parent.$index}}"
                           ng-checked="xtm['考生作答']['考生答案'].indexOf(tjParas.letterArr[$index]) > -1" disabled/>
                    {{'(' + tjParas.letterArr[$index] + ')'}}
                  </p>
                  <p class="pl40" ng-bind-html="tznr" ng-class="{clRed:xtm['考生作答']['考生答案'] == tjParas.letterArr[$index]}"></p>
                </div>
              </div>
              <!-- 判读题 -->
              <div class="ar-tzs" ng-if="xtm['题型ID'] == 3">
                <span ng-class="{clRed:xtm['考生作答']['考生答案'] == 1}">
                <input type="radio" name="{{'pdRadio' + $parent.$index}}" value="1" ng-model="xtm['考生作答']['考生答案']" disabled/>  对
                </span>
                <span ng-class="{clRed:xtm['考生作答']['考生答案'] == 0}">
                <input type="radio" name="{{'pdRadio' + $parent.$index}}" value="0" style="margin: 0 0 0 20px"
                       ng-model="xtm['考生作答']['考生答案']" disabled/>  错
                </span>
              </div>
              <!-- 题型ID大于等于5 -->
              <div class="ar-tzs itemHasImg" ng-if="xtm['题型ID'] >= 5" ng-bind-html="xtm['考生作答']['考生答案']">
              </div>
              <h5>标准答案：<span ng-bind-html="xtm['题目内容']['答案']"></span></h5>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<!--题目详情-->
<div class="popup-percent" ng-hide="showTiMuDetailWrap">
  <div class="popup-percent-inner">
    <div class="closePaperDetailBtn">
      <button type="button" class="btn btn-primary" ng-click="editItem()">修改</button>
      <button type="button" class="btn btn-danger" ng-click="closeZuoDaReappear()">关闭</button>
    </div>
    <div class="inner-box">
      <ul class="list-unstyled testList" id="testList">
        <li ng-repeat="tm in timuDetails" class="pr130" repeat-done>
          <div class="item-sub-title pull-left">
            <p class="knowledge-point">
              题型：<span ng-bind="tiXingArr[tm['题型ID']-1]"></span>
            </p>
            <p class="knowledge-point-zsd">
              知识点：<span ng-repeat="zsd in tm['知识点']">【{{zsd['知识点名称']}}】</span>
            </p>
            <p class="level-num">
              难易度：<span class="pull-right level-star-{{tm['难度']}}"></span>
            </p>
            <p class="knowledge-point">
              出题人：<span class="pull-right" ng-bind="tm['出题人姓名']"></span>
            </p>
            <p class="knowledge-point">
              录题人：<span class="pull-right" ng-bind="tm['录题人姓名']"></span>
            </p>
            <p class="knowledge-point">
              ID：<span class="pull-right" ng-bind="tm['题目ID']"></span>
            </p>
            <p>
              创建时间：{{tm['创建时间'] | localDate | date : 'yyyy-MM-dd'}}
            </p>
          </div>
          <div class="item-cont">
            <h3 class="item-tigan" ng-bind-html="$index + 1 + '、' + tm['题目内容']['题干']"></h3>
            <div class="item-tizhi-wrap">
              <p class="item-tizhi" ng-repeat="tz in tm['题目内容']['选项'] track by $index">
                <span ng-cloak>{{'(' + letterArr[$index] + ')'}}</span>
                <span class="tiZhiSpan" ng-bind-html="tz"></span>
              </p>
            </div>
          </div>
          <div class="answer-cont">
            <div class="positionRe">
              <span class="daAnLabel">答案：</span>
              <div class="daAnBox" ng-bind-html="tm['题目内容']['答案']"></div>
            </div>
            <div class="positionRe" ng-show="tm['备注']">
              <span class="daAnLabel">备注：</span>
              <div class="daAnBox" ng-bind-html="tm['备注']"></div>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
