<div class="row tj-ks-title fixed-top">
  <span>按考试统计</span>
  <button class="btn btn-danger pull-right" ng-click="tjDetailToList()">返回统计</button>
</div>
<div class="tab-content ks-chart-page">
  <div class="bg">
  </div>
  <div class="row">
    <table class="table table-bordered bgcFFF wp48 pull-left">
      <tr>
        <th colspan="2" class="info">
          考试概要信息
        </th>
      </tr>
      <tr>
        <td width="20%">考试名称</td>
        <td ng-init="showMoreKaoShi=false">
          <div ng-bind="tjKaoShiPublicData.ksname" class="wordBreak pull-left"></div>
          <!--<a href="javascript:void(0)" class="pull-right" ng-click="showMoreKaoShi=true">-->
            <!--<span class="glyphicon glyphicon-plus-sign"></span>-->
          <!--</a>-->
        </td>
      </tr>
      <tr class="success">
        <td>平均分数</td>
        <td ng-bind="tjKaoShiPublicData.ksAvgScore.toFixed(1)"></td>
      </tr>
      <tr>
        <td>考试人数</td>
        <td ng-bind="tjKaoShiPublicData.ksRenShu"></td>
      <tr>
      <tr class="warning">
        <td>考试时间</td>
        <td ng-show="tjKaoShiPublicData.kaikaodate" ng-bind="tjKaoShiPublicData.kaikaodate | myLocalDateWithWeek"></td>
      </tr>
      <tr>
        <td>参数设置</td>
        <td>
          优秀分值：<input type="text" ng-model="tjParas.youXiuFenZhi" class="w40" ng-disabled="needToXgYxJgLv"/>
          及格分值：<input type="text" ng-model="tjParas.jiGeFenZhi" class="w40" ng-disabled="needToXgYxJgLv"/>
          <a href="javascript:void(0)" class="ml15" ng-click="changYouXiuJiGeLv()" ng-show="needToXgYxJgLv">修改</a>
          <a href="javascript:void(0)" class="ml15" ng-click="tjShowKaoShiChart(selectKsz)" ng-hide="needToXgYxJgLv">确定</a>
        </td>
      </tr>
    </table>
    <div class="tj-ks-box wp48 ml15">
      <h4 class="title">
        <label class="radio-inline">
          <input type="radio" name="tongJiType" ng-model="tjParas.tongJiType" value="keXuHao"
                 ng-change="switchTongJiType(tjParas.tongJiType)"> 按课序号统计
        </label>
        <label class="radio-inline" ng-hide="isRenKeJiaoShi">
          <input type="radio" name="tongJiType" ng-model="tjParas.tongJiType" value="banJi"
                 ng-change="switchTongJiType(tjParas.tongJiType)"> 按班级统计
        </label>
      </h4>
      <div class="selectBanJi">
        <div class="banJiList">
          <ul class="list-unstyled banJiUl">
            <li ng-class="{active: tjParas.lastSelectItem.banJiIdx == 0}" ng-click="tjByBjOrKxh('all')">
              <a href="javascript:void(0)">全部</a>
            </li>
            <li ng-repeat="bj in tjBanJi" ng-class="{active: bj.bjIdx == tjParas.lastSelectItem.banJiIdx}"
                ng-click="tjByBjOrKxh(bj)">
              <a href="javascript:void(0)" ng-bind="bj.bjName"></a>
            </li>
          </ul>
          <div class="page">
            <p class="wp50 text-center up" ng-click="bJorKxhPage('up')">
              <span class="glyphicon glyphicon-chevron-up"></span>
            </p>
            <p class="wp50 text-center down" ng-click="bJorKxhPage('down')">
              <span class="glyphicon glyphicon-chevron-down"></span>
            </p>
          </div>
        </div>
        <div class="banJiName text-center pull-right wp60">
          <!--<span ng-bind="tjParas.selectBanJi"></span>-->
          <div id="chartRadar" style="width: 280px;height: 180px;">
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="tj-ks-box wp48">
      <h4 class="title">课序号平均分分布<span>（课序号：{{tjKaoShiPublicData.kxh}}-）</span></h4>
      <div class="chart">
        <div id="chartBar" style="height:100%;width: 100%">
        </div>
      </div>
    </div>
    <div class="tj-ks-box wp48 ml15">
      <h4 class="title">考生成绩分布</h4>
      <div class="chart1 pull-left">
        <div id="chartPieAll" style="height:100%;width: 100%">
        </div>
      </div>
      <div class="chart1 pull-right">
        <div id="chartPieBj" style="height:100%;width: 100%">
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="tj-ks-box wp48">
      <h4 class="title">分数与人数分布</h4>
      <div class="chart">
        <div id="chartLine" style="height:100%;width: 100%">
        </div>
      </div>
    </div>
    <div class="tj-ks-box wp48 ml15">
      <h4 class="title">
        <span>考生名单</span>
        <span class="ml15" ng-bind="tjParas.selectItemName" ng-if="tjParas.selectItemName!='全部'"></span>
        <button class="btn btn-primary pull-right mt5 mr5" ng-show="studentData.length"
                ng-click="exportKsInfo(studentData)">导出考生
        </button>
      </h4>
      <div class="chart">
        <div class="student-list">
          <table class="table table-striped">
            <tr>
              <th ng-click="ksSortDataFun('xuhao')">序号</th>
              <th ng-click="ksSortDataFun('stuId')">学号</th>
              <th ng-click="ksSortDataFun('name')">姓名</th>
              <th ng-click="ksSortDataFun('class')">班级</th>
              <th ng-click="ksSortDataFun('score')">成绩</th>
            </tr>
            <tr ng-repeat="ksd in studentData">
              <td ng-bind="ksd.XUHAO">
              </td>
              <td ng-bind="ksd.YONGHUHAO">
              </td>
              <td>
                <a href="javascript:void(0)" ng-bind="ksd.XINGMING" ng-click="zuoDaReappear(ksd)"></a>
              </td>
              <td ng-bind="ksd.BANJI">
              </td>
              <td ng-bind="ksd.ZUIHOU_PINGFEN">
              </td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="tj-ks-box wp48">
      <h4 class="title">
        <span>知识点统计</span>
        <!--<button type="button" class="btn btn-primary pull-right mt5 mr5" ng-click="tjGetZsdData()">查询知识点统计数据</button>-->
      </h4>
      <div class="chart">
        <div id="chartRadarZsd" style="height:100%;width: 100%">
        </div>
      </div>
    </div>
  </div>
</div>
<!--考试选择-->
<div class="popup-wrap" ng-show="showMoreKaoShi">
  <div class="popup-wrap-inner">
    <div class="pwi-header plr10 text-right">
      <button type="button" class="btn btn-success mt5" ng-click="tjShowKaoShiChart(tjParas.selectedKaoShi);showMoreKaoShi=false">确定</button>
      <button type="button" class="btn btn-danger mt5 ml10" ng-click="showMoreKaoShi=false">关闭</button>
    </div>
    <div class="pwi-body plr10">
      <table class="table table-striped">
        <tr>
          <th>考试名称</th>
          <th>试卷名称</th>
          <th width="120px" class="text-center">考试人数</th>
          <th width="120px" class="text-center">考试时间</th>
        </tr>
        <tr ng-repeat="ks in tjKaoShiList">
          <td>
            <input type="checkbox" ng-click="addKaoShiToTj($event, ks)"/> {{ks.KAOSHI_MINGCHENG}}
          </td>
          <td>
            <p class="m0" ng-repeat="kssj in ks.SHIJUAN" ng-bind="kssj.SHIJUAN_MINGCHENG"></p>
          </td>
          <td class="text-center" ng-bind="ks.KSRS"></td>
          <td class="text-center" ng-bind="ks.KAISHISHIJIAN | myLocalDate | date : 'yyyy-MM-dd'"></td>
        </tr>
      </table>
    </div>
    <div class="pwi-footer plr10 text-center">
      <ul class="pagination pagination-sm pull-right" ng-hide="!tjKaoShiList">
        <li ng-class="{disabled: currentPage == 1}">
          <a href ng-click="tjPaging(1)">首页</a>
        </li>
        <li ng-class="{disabled: currentPage == 1}">
          <a href
             ng-click="tjPaging(prevPg = currentPage > 1 ? currentPage - 1 : 1)">
            上一页
          </a>
        </li>
        <li ng-repeat="pg in tjPages" ng-class="{active: currentPage == pg}">
          <a href ng-click="tjPaging(pg)">{{pg}}</a>
        </li>
        <li ng-class="{disabled: currentPage == lastPageNum}">
          <a href
             ng-click="tjPaging(nextPg = currentPage < lastPageNum ? currentPage + 1 : lastPageNum)">
            下一页
          </a>
        </li>
        <li ng-class="{disabled: currentPage == lastPageNum}">
          <a href ng-click="tjPaging(lastPageNum)">尾页</a>
        </li>
      </ul>
    </div>
  </div>
</div>
<!--试卷选择-->
<div class="popup-wrap" ng-show="showMoreShiJuan">
  <div class="popup-wrap-inner no-header">
    <div class="pwi-body plr10">
      <label class="checkbox-inline" ng-repeat="sj in tjKaoShiPublicData.shijuan">
        <input type="checkbox" value="sj.SHIJUAN_ID" checked>
        {{sj.SHIJUAN_MINGCHENG}}
      </label>
    </div>
    <div class="pwi-footer plr10 text-center">
      <button type="button" class="btn btn-danger mt5" ng-click="showMoreShiJuan=false">关闭</button>
      <button type="button" class="btn btn-success mt5 ml10" ng-click="tjByShiJuan();showMoreKaoShi=false">确定</button>
    </div>
  </div>
</div>
<!--作答重现-->
<div class="popup-percent" ng-hide="showKaoShengList">
  <div class="popup-percent-inner">
    <div>
      <label class="closePaperDetailBtn fz16" ng-hide="showKaoShengList">
        <input type="checkbox" ng-model="checkboxModel"> 只看失分题目
      </label>
      <button type="button" class="btn btn-danger closePaperDetailBtn" ng-click="closeZuoDaReappear()">
        关闭
      </button>
    </div>
    <div class="inner-box">
      <h2 class="text-center">
        <span ng-bind="kaoShengShiJuan.sj_name"></span>
      </h2>
      <div id="answerReappearShiJuan">
        <div ng-repeat="dati in kaoShengShiJuan.sj_tm" repeat-done>
          <h4>
            <span>{{tjParas.cnNumArr[$index]}}、</span>
            <span  ng-bind="dati.tx_name"></span>
          </h4>
          <ul class="list-unstyled">
            <li class="ptb5" ng-repeat="xtm in dati.tm" ng-hide="checkboxModel && xtm.ZUIHOU_PINGFEN == xtm.XIAOTI_FENZHI">
              <h4 class="ar-tiGan itemHasImg">
                <span ng-bind-html="($index + 1) + '、' + xtm.TIGAN.tiGan"></span>
                (本小题  <b ng-bind="xtm.XIAOTI_FENZHI"></b>  分)
                (最后得分：<b class="clRed" ng-bind="xtm.ZUIHOU_PINGFEN"></b>  分)
                <!--(本题得分率：<b ng-bind="xtm.itemDeFenLv + '%'"></b>)-->
              </h4>
              <!-- 单选题 -->
              <div class="ar-tzs" ng-if="xtm.TIXING_ID == 1">
                <div class="ar-tz" ng-repeat="tznr in xtm.TIGAN.tiZhiNeiRong track by $index">
                  <p class="positionAb">
                    <input type="radio" name="{{'radio' + $parent.$index}}" value="{{tjParas.letterArr[$index]}}"
                           ng-model="xtm.KAOSHENGDAAN" disabled/>    {{'(' + tjParas.letterArr[$index] + ')'}}
                  </p>
                  <p class="pl40" ng-bind-html="tznr" ng-class="{clRed:xtm.KAOSHENGDAAN == tjParas.letterArr[$index]}"></p>
                </div>
              </div>
              <!-- 双选选题和多选 -->
              <div class="ar-tzs" ng-if="xtm.TIXING_ID == 2 || xtm.TIXING_ID == 3">
                <div class="ar-tz" ng-repeat="tznr in xtm.TIGAN.tiZhiNeiRong track by $index">
                  <p class="positionAb">
                    <input type="checkbox" name="{{'checkbox' + $parent.$index}}"
                           ng-checked="xtm.KAOSHENGDAAN.indexOf(tjParas.letterArr[$index]) > -1" disabled/>
                    {{'(' + tjParas.letterArr[$index] + ')'}}
                  </p>
                  <p class="pl40" ng-bind-html="tznr" ng-class="{clRed:xtm.KAOSHENGDAAN == tjParas.letterArr[$index]}"></p>
                </div>
              </div>
              <!-- 判读题 -->
              <div class="ar-tzs" ng-if="xtm.TIXING_ID == 4">
              <span ng-class="{clRed:xtm.KAOSHENGDAAN == '对'}">
                <input type="radio" name="{{'pdRadio' + $parent.$index}}" value="对" ng-model="xtm.KAOSHENGDAAN" disabled/>  对
              </span>
              <span ng-class="{clRed:xtm.KAOSHENGDAAN == '错'}">
                <input type="radio" name="{{'pdRadio' + $parent.$index}}" value="错" style="margin: 0 0 0 20px"
                       ng-model="xtm.KAOSHENGDAAN" disabled/>  错
              </span>
              </div>
              <!-- 题型ID等于19，笔答填空题 -->
              <div class="ar-tzs itemHasImgWith120" ng-if="xtm.TIXING_ID == 19" ng-bind-html="xtm.KAOSHENGDAAN">
              </div>
              <!-- 题型ID大于等于9,小于等级18 -->
              <div class="ar-tzs itemHasImg" ng-if="xtm.TIXING_ID >= 9 && xtm.TIXING_ID <= 18" ng-bind-html="xtm.KAOSHENGDAAN">
              </div>
              <h5>标准答案：<span ng-bind-html="xtm.DAAN"></span></h5>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
