<div class="sub-nav tj-ks fixed-top">
  <ul class="nav nav-tabs" ng-hide="isTjDetailShow">
    <li ng-class="{active: tj_tabActive == 'kaoshiTj'}">
      <a href="javascript:void(0)" ng-click="showKaoShiTjList()">
        考试统计
      </a>
    </li>
    <li ng-class="{active: tj_tabActive == 'kaoshengTj'}">
      <a href="javascript:void(0)" ng-click="showKaoShengTjList()">
        作答重现
      </a>
    </li>
  </ul>
</div>
<div class="tab-content wp90 mlp5 ptb10">
  <div class="panel panel-default">
    <div class="panel-heading">按学号查询</div>
    <div class="panel-body">
      <div class="form-inline tj-stu">
        <div class="form-group">
          <p class="form-control-static">学号：</p>
        </div>
        <div class="form-group">
          <input type="text" class="form-control" placeholder="学号" ng-model="tjParas.studentUid">
        </div>
        <button type="button" class="btn btn-success" ng-disabled="!tjParas.studentUid" ng-click="qryKaoShiByXueHao()">
          查询
        </button>
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">按考试查询</div>
    <div class="panel-body">
      <table class="table table-striped">
        <tr>
          <th>考试名称</th>
          <th width="140px" class="text-center">考试人数</th>
          <th width="140px" class="text-center">考试时间</th>
        </tr>
        <tr ng-repeat="ks in tjKaoShiList">
          <td>
            <a href="javascript:void(0)" ng-click="qryKaoSheng(ks.KAOSHI_ID)" ng-bind="ks.KAOSHI_MINGCHENG"></a>
          </td>
          <td class="text-center" ng-bind="ks.KSRS"></td>
          <td class="text-center" ng-bind="ks.KAISHISHIJIAN | myLocalDate | date : 'yyyy-MM-dd'"></td>
        </tr>
      </table>
      <div class="paging text-right">
        <ul class="pagination pagination-sm" ng-hide="!tjKaoShiList">
          <li ng-class="{disabled: currentPage == 1}">
            <a href ng-click="tjPaging(1)">首页</a>
          </li>
          <li ng-class="{disabled: currentPage == 1}">
            <a href
               ng-click="tjPaging(prevPg = currentPage > 1 ? currentPage - 1 : 1)">
              上一页
            </a>
          </li>
          <li ng-repeat="pg in tjPages" ng-class="{active: currentPage == pg}">
            <a href ng-click="tjPaging(pg)">{{pg}}</a>
          </li>
          <li ng-class="{disabled: currentPage == lastPageNum}">
            <a href
               ng-click="tjPaging(nextPg = currentPage < lastPageNum ? currentPage + 1 : lastPageNum)">
              下一页
            </a>
          </li>
          <li ng-class="{disabled: currentPage == lastPageNum}">
            <a href  ng-click="tjPaging(lastPageNum)">尾页</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
