body,html {
    height: 100%;
    -webkit-tap-highlight-color: transparent
}
body {
    overflow-x: hidden;
    background-color: #fbf9fe
}
*{
    font-weight: normal;
}
/*导航样式开始*/
.container {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    height: 100%;
    -webkit-overflow-scrolling: touch;
    background-color: #f5f5f5;
}
.content {
    position: fixed;
    bottom: 50px;
    top: 20px;
    overflow-y: auto;
    overflow-x: hidden;
    padding: 10px 0;
    width: 100%;
    height: initial;
    box-sizing: border-box;
}
.navBar{
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    position: fixed;
    bottom: 0;
    z-index: 500;
    width: 100%;
    background-color: #fafafa;
}
.navBar:before {
    content: " ";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 1px;
    border-top: 1px solid #979797;
    color: #979797;
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
    -webkit-transform: scaleY(.5);
    transform: scaleY(.5);
}
.navBar_item{
    position: relative;
    display: block;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    flex: 1;
    padding: 13px 0;
    text-align: center;
    font-size: 15px;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.navBar_item:after{
    content: " ";
    position: absolute;
    right: 0;
    top: 0;
    width: 1px;
    bottom: 0;
    border-right: 1px solid #CCCCCC;
    color: #CCCCCC;
    -webkit-transform-origin: 100% 0;
    transform-origin: 100% 0;
    -webkit-transform: scaleX(0.5);
    transform: scaleX(0.5);
}
.navBar_item_on{
    background-color: #EAEAEA;
}
/*导航样式结束*/
#topBar{
    text-align: center;
    font-size: 12px;
    height: 20px;
    line-height: 20px;
    position: fixed;
    top: 0;
    width: 100%;
    box-sizing: border-box;
    background-color: #000000;
    color: #fff;
}
.mb10{
    margin-bottom: 10px;
}
.ml10{
    margin-left: 10px;
}
.mt20{
    margin-top: 20px;
}
.center{
    text-align: center;
}
.p15{
    padding: 15px;
}
.plr10{
    padding: 0 10px;
}
.uploadBtn{
    height: 100px;
    position: relative;
}
.uploadBtn .weui-uploader__input-box {
    float: none;
    margin-right: auto;
    margin-bottom: auto;
    position: absolute;
    width: 78px;
    height: 78px;
    border: 1px solid #d9d9d9;
    top: 20px;
    left: 50%;
    margin-left: -39px;
    background-color: #fff;
}
.tiMuBox{
    font-size: 14px;
    background-color: #fff;
    margin-bottom: 20px;
    text-align: center;
}
.tiMuBox img {
    max-width: 100%;
}
.tiMuBox:last-child{
    margin-bottom: 5px;
}
.weui-label{
    width: 50px;
}
.weui-vcode-btn{
    height: auto;
}
.weui-vcode-btn{
    line-height: normal;
    font-size: 14px;
    color: #353535;
}
.cardChangCi{
    margin-top: 10px;
    padding: 10px;
    border: 1px solid #fff;
    background-color: #fff;
    position: relative;
    text-align: center;
}
.cardChangCiOn{
    border: 1px solid #e64340;
    background-color: #fff;
}
.weui-icon-success-no-circle{
    display: none;
}
.cardChangCiOn .weui-icon-success-no-circle{
    font-size: 16px;
    display: inline-flex;
}
