.container{
    padding: 10px;
}
.weui-cell:before{
    left: 0;
}
.clA8{
    color: #a8a8a8;
}
.clRed{
    color: #ff0000;
}
.clGren{
    color: green;
}
.pullLeft{
    float: left;
}
.pullRight{
    float: right;
}
.wp50{
    width: 50%;
}
.dplf{
    display: flex;
}
.bdr{
    border-right: 1px solid #cfcfcf;
}
.bdb{
    padding: 10px 10px 0 10px;
    border-bottom: 1px solid #cfcfcf;
}
.mt20{
    margin-top: 20px;
}
.ml20{
    margin-left: 20px;
}
.tplLogin .weui_label{
    width: 50px;
}
.tplLogin .weui-actionsheet__menu{
    height: 192px;
    overflow: auto;
}
.weui-actionsheet__cell .weui-icon-success-no-circle{
    display: none;
    font-size: 16px;
}
.tabOn .weui-icon-success-no-circle{
    display: inline-block;
    color: #09BB07;
}
.center{
    text-align: center;
}
.card{
    margin-top: 10px;
    padding: 10px;
    border: 1px solid #cfcfcf;
    border-radius: 6px;
}
.card:nth-child(odd){
    background-color: #d9edf7;
}
.card:nth-child(even){
    background-color: #dff0d8;
}
.weui-btn.weui-btn_mini{
    padding: 2px 1.75em;
}
.graph{
    width: 100%;
    height: 260px;
    background-color: #e2e2e2;
}
.fixSty{
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 1000;
    padding: 15px;
    background-color: #E8E8E8;
}
ul, ol {
    margin-top: 0;
    margin-bottom: 10px;
}
ul ul, ol ul, ul ol, ol ol {
    margin-bottom: 0;
}
h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
}
.text-center {
    text-align: center;
}
.list-unstyled {
    list-style: none;
    margin: 0;
    padding: 0;
}
.ar-tz {
    margin-bottom: 10px;
    position: relative;
}
.ar-tz p {
    margin-bottom: 0;
}
.ar-tz .positionAb {
    position: absolute;
}
.pl40 {
    padding-left: 40px;
}
.studentInfo {
    text-align: center;
}
.studentInfo span {
    margin-right: 20px;
}
.ptb5 {
    padding: 5px 0;
}
.itemHasImg img {
    width: 100%;
    border: 1px solid #ccc;
}
.itemHasImg .itemHasImgWith120 img {
    height: 120px;
    border: 1px solid #ccc;
}
.clRed {
    color: red;
}
.fLeft {
    float: left;
}
.bdBottom {
    /*border-bottom: 1px solid #000;*/
}
.ar-tk-da {
    border-bottom: 1px solid #000;
    padding: 0 20px;
}
.weui-label{
    width: 50px;
}
.weui-btn{
    font-size: 16px;
}
.weui-btn_mini{
    font-size: 14px;
}