body {
    line-height: 1.6;
    font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
}
* {
    margin: 0;
    padding: 0;
}
.fz18{
    font-size: 18px;
    font-weight: 400;
}
.container {
    height: 100%;
    -webkit-overflow-scrolling: touch;
}
.nav:before {
    content: " ";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 1px;
    border-top: 1px solid #979797;
    color: #979797;
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
    -webkit-transform: scaleY(.5);
    transform: scaleY(.5);
}
.mt15{
    margin-top: 15px;
}
.ptb10{
    padding: 10px 0;
}
.nav{
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    position: fixed;
    bottom: 0;
    z-index: 500;
    width: 100%;
    background-color: #f7f7fa;
}
.navBtn{
    width: 50%;
    line-height: 55px;
    text-align: center;
    background: #09bb07;
    color: #fff;
    text-decoration: none;
    font-size: 18px;
}
#prvBtn{
    border-right: 1px solid #979797;
}
.content {
    position: fixed;
    bottom: 55px;
    top: 0;
    overflow-y: auto;
    overflow-x: hidden;
    padding: 10px;
    width: 100%;
    height: initial;
    box-sizing: border-box;
}
.center{
    text-align: center;
}
.nameInput {
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0, 0.5);
    display: none;
    z-index: 1000;
}
.inner {
    background-color: #fff;
    width: 94%;
    margin: 100px 0 0 3%;
    border: 1px solid #5D5D5D;
    border-radius: 6px;
    padding: 20px 0;
}
.nameWrap{
    width: 70%;
    border: 1px solid #bbbbbb;
    border-radius: 3px;
    padding: 5px 10px;
    font-size: 16px;
    height: 26px;
    line-height: 26px;
    margin-top: 15px;
}
.btn{
    position: relative;
    margin-left: auto;
    margin-right: auto;
    box-sizing: border-box;
    text-align: center;
    text-decoration: none;
    color: #fff;
    border-radius: 5px;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    overflow: hidden;
    line-height: 1.9;
    font-size: 14px;
    padding: 2px 1.75em;
    display: inline-block;
    background-color: #04be02;
    margin-top: 15px;
}
.submitTestWrap{
    display: none;
}
.submitTest{
    display: none;
}